   @{
    ViewData["Title"] = "Contact List";
}
<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card card-primary"> 
                <div class="card-header">

                    <div class="row">
                        <div class="col-md-6"> 
                            <h3 class="card-title trn">Contact List</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href='@Url.Action("Create","Contact")'><input type="button"
                                    class="btn btn-sm btn-default trn" value="Add New Contact">                                
                            </a>
                        </div>

                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th class="trn">Name</th>
                                <th class="trn">Department Name</th>
                                <th class="trn">Email Id</th>
                                <th class="trn">Mobile No</th>
                                <th class="trn">Edit</th>
                                <th class="trn">Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.DepartmentId</td>
                                    <td>@item.Email</td>
                                    <td>@item.MobileNo</td>
                                    <td><a href='@Url.Action("ContactEdit","Contact",new {contactId=@item.Id})'><i
                                            class="fas fa-edit"></i></a></td>
                                    <td><a href='@Url.Action("ContactDelete","Contact",new {contactId=@item.Id})'><i
                                            class="fas fa-archive"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script>
    setTimeout(function () {
        $("#example1").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });
    }, 500);
</script>