<style>
    .dropdown {
        margin-left: 450px;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title trn">Reviewed List</h3>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tblFeedbackList" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="trn">Short Id</th>
                                <th class="trn">First Name</th>
                                <th class="trn">Last Name</th>
                                <th class="trn">Email Id</th>
                                <th class="trn">Mobile Number</th>
                                <th class="trn">Department</th>
                                <th class="trn">Feedback Status</th>
                                <th class="trn">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ShortId</td>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.DepartmentName</td>
                                    <td>Reviewed</td>
                                    <td> <a href='@Url.Action("Index","Feedback", new { FeedbackInviteId = @item.Id  } )'><i class="fas fa-eye" style="cursor:pointer"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

</section>
<script>
    setTimeout(function () {

        $("#tblFeedbackList").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });
    }, 500);
</script>

<script>
    function siteRedirect() {
        var selectbox = document.getElementById("select-id");
        var selectedValue = selectbox.options[selectbox.selectedIndex].value;
        window.location.href = selectedValue;
    }

    function viewFeedbackForm(inviteId) {
        alert("Invite Feedback Id" + inviteId);
    }
</script>