 <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                       <div class="col-md-6"> 
                            <h3 class="card-title trn">Alternative Calibration List</h3>
                    </div>
                    <div class="col-md-6 text-right">
                    <a href='@Url.Action("QCAlternateMethodTemplate","QualityCheck")'><input type="button" class="btn btn-sm btn-default trn" value="Add New Calibration" ></a>
                    </div>

                       </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body"> 
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="trn">Instrument Name</th>
                                    <th class="trn">Equipment1 Name</th>
                                    <th class="trn">Equipment2 Name</th>
                                    <th class="trn">Mux1</th>
                                    <th class="trn">Mux2</th>
                                    <th class="trn">EnValue</th>
                                    <th class="trn">Document Status</th>
                                    <th class="trn">View</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.InstrumentName</td>
                                        <td>@item.Master1Name</td>
                                        <td>@item.Master2Name</td>
                                        <td>@item.Mux1</td>
                                        <td>@item.Mux2</td>
                                        <td>@item.EnValue</td>
                                        <td>@item.Status</td>
                                        <td><a href='@Url.Action("QCAlternateMethodTemplate","QualityCheck", new { Id = @item.Id } )'><i class="fas fa-eye" style="cursor:pointer"></i></a></td>
                                    </tr>
                                }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
<script>
     setTimeout(function(){ 

      $("#example1").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
        Conversion();
     }, 500);
    </script>