@{
    ViewData["Title"] = "User List";
}


@* *@
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> *@

<section class="content">    

    <div class="row">
        <div class="col-12">

            <div class="card card-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title trn">User List</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href='@Url.Action("create","User")'><input type="button" class="btn btn-sm btn-default trn"
                                    value="Add New User">                              
                                    </a>
                        </div>

                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <input type="hidden" name="ID" id="ID">

                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="trn">First Name</th>
                                    <th class="trn">Last Name</th>
                                    <th class="trn">Department Name</th>
                                    <th class="trn">Sub Section</th>
                                    <th class="trn">Email</th>
                                    <th class="trn">Phone No</th>
                                    <th class="trn">Login Name</th>
                                    <th class="trn">CreatedDate</th>
                                    @*<th class="trn">Asst.Foreman Contact</th>
                                    <th class="trn">Foreman Contact</th>
                                    <th class="trn">Kakaricho Contact</th>
                                    <th class="trn">Manager Contact</th>*@
                                    <th class="trn">Department coordinator Contact</th>
                                    <th class="trn">Edit</th>
                                    <th class="trn">Delete</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.subSection</td>
                                        <td>@item.Email</td>
                                        <td>@item.MobileNo</td>
                                        <td>@item.ShortId</td>
                                        <td>@item.CreatedOn.ToString("dd-MM-yyyy")</td>
                                        @*<td>@item.AsstForemanEmail</td>
                                        <td>@item.ForemanEmail</td>
                                        <td>@item.KakarichoEmail</td>
                                        <td>@item.ManagerEmail</td>*@
                                        <td>@item.DeptCordEmail</td>
                                        <td><a href='@Url.Action("UserEdit","User",new {userId=@item.Id})'><i
                                                class="fas fa-edit"></i></a></td>
                                        <td><a href='@Url.Action("UserDelete","User",new {userId=@item.Id})'
                                            onclick="loaduser(@item.Id)"><i class="fas fa-archive"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    @* //<div id="Usermodal"> *@
    @*<form action='@Url.Action("AssignUser","User")' method="post">
        <div class="modal fade" id="Usermapping" data-backdrop="static" tabindex="-1" role="dialog"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title trn" id="staticBackdropLabel">
                            Assign User
                        </h5>
                    </div>
                    <div class="modal-body" id="modelBody">
                        <input type="hidden" name="DeletingID" id="DeletingID">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="required trn">Department Name</label>
                                <select class="form-control" name="Id" id="Id">
                                    <option value="0">select any lab admin</option>
                                    @foreach (var labadmin in @Model[0].Labadminuserlist)
                                    {
                                        <option value="@labadmin.Id">@labadmin.FirstName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-default btn-primary trn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form action='@Url.Action("AssignUser","User")' method="post">
        <div class="modal fade" id="ExternalUsermapping" data-backdrop="static" tabindex="-1" role="dialog"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title trn" id="staticBackdropLabel">
                            Assign User
                        </h5>
                    </div>
                    <div class="modal-body" id="modelBody">
                        <input type="hidden" name="DeletingID" id="DeletingID">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="required trn">Department Name</label>
                                <select class="form-control" name="Id" id="Id">
                                    <option value="0">select any lab admin</option>
                                    @foreach (var labadmin in @Model[0].Labadminuserlist)
                                    {
                                        <option value="@labadmin.Id">@labadmin.FirstName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-default btn-primary trn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>*@
    @* //</div> *@
    <script src="~/js/3.3.1Version/jquery.min.js"></script>

</section>
<script>
    setTimeout(function () {

        $("#example1").DataTable({
            "paging": true,
            //"lengthChange": true,
            "searching": true,
            "ordering": true,
            //"info": true,
            //"autoWidth": true,
            // "responsive": true,
            "scrollX": true,
            dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        });
        Conversion();
    }, 500);
</script>
<script>
    function loaduser(deletingUserid) {
        document.getElementById('ID').value = deletingUserid;
        document.getElementById('DeletingID').value = deletingUserid
        var a = document.getElementById('DeletingID').value;
        AlertPopup(a);

    }
</script>
<script>
    var DeletingUserid1 = @ViewBag.DeletingUserIdLast;
    document.getElementById('ID').value = DeletingUserid1;
    document.getElementById('DeletingID').value = DeletingUserid1;
</script>


<script>
    $('document').ready(function () {
        var data = @ViewBag.UserDeleteResponse;

        if (data == "0") {
            if (confirm('User has Assigned with Various Flows,Do you want to assign another person')) {
                // Save it!
                $('#Usermapping').modal('show');
                //var modal = document.getElementById("Usermodal");
                //modal.style.display = "block";
                //document.getElementById("Usermapping").showModal(); 
            } else {
                // Do nothing!
                console.log('ok.');
            }
        }
        if (data == "1") {
            AlertPopup("User Deleted Successfully")
        }
    });
</script>


<script>
    var data = @ViewBag.UserDeleteFinalResponse;
    if (data == 200) {
        AlertPopup('User Assigned succesfully');
    }

</script>
<script>
    var data = @ViewBag.DeletingError;
    if (data == 500) {
        AlertPopup('Deleting User and Assigning are same please Change verify it');
    }
</script>

<script>
    var data = @ViewBag.FinalUserDeleteResponseData;
    if (data == "Success") {
        AlertPopup('User Deleted Successfully');
    }
    else {
        AlertPopup('User Not Deleted Successfully');
    }
</script>
