@{
	Layout = null;
}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Daimler | Log in</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/css//fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- icheck bootstrap -->
	<link rel="stylesheet" href="~/css/icheck-bootstrap.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/css/adminlte.min.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

	<link rel="stylesheet" href="~/css/bootstrap-select.min.css">



	<!-- /.login-box -->
	<!-- jQuery -->
	
	<!-- Bootstrap 4 -->

	<script src="~/js/jquery.min.js"></script>

	<script src="~/js/bootstrap-select.min.js"></script>

	<script src="~/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/js/adminlte.min.js"></script>	

	<script src="~/js/daimler.js"></script>

	<script src="~/js/jquery.validate.min.js"></script>

	<script src="~/js/additional-methods.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/js/jquery.translate.js"></script>

</head>

<body class="hold-transition login-page loginbg">

	<style>
		.flag-icon-background {
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
		}

		.flag-icon {
			background-size: cover;
			background-position: 50%;
			background-repeat: no-repeat;
			position: relative;
			display: inline-block;
			width: 1.33333333em;
			line-height: 1em;
		}

			.flag-icon:before {
				content: "\00a0";
			}

			.flag-icon.flag-icon-squared {
				width: 1em;
			}

		.flag-icon-jp {
			background-image: url(../image/jp.png);
		}

		.flag-icon-gb {
			background-image: url(../image/gb.png);
		}

		.Languagepicker .dropdown-menu > li > a:hover {
			color: #ffffff;
			text-decoration: none;
			background-color: #00677F;
		}

		.daimler_language {
			background: transparent;
			color: #000000;
			margin-top: 2pt;
			margin-right: 39pt;
			font-size: 12px;
		}

		.selected {
			background: #fff;
		}
	</style>

	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 loginformbg">
				<div class="login-box loginform">
					<div class="login-logo">
						<a href="#" class="daimlerlogo"><img src="~/image/header_logo.svg"></a>
					</div>
					<!-- /.login-logo -->
					<div class="card">

						<div class="card-body login-card-body" style="border-radius: 5px;">
							<select class="Languagepicker daimler_language" data-width="fit">
								<option value="en" data-content='<span class="flag-icon flag-icon-gb"></span> English'>
									English
								</option>
								<option value="jp" data-content='<span class="flag-icon flag-icon-jp"></span> 日本語'>日本語</option>
							</select>
						</div>

						<div class="card-body login-card-body" style="border-radius: 5px;">
							<p class="login-box-msg trn">Sign in to start your session</p>

							<form action='@Url.Action("ValidateLogin","User")' id="loginform" method="post">
								<input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Model.ReturnUrl">
								<input type="hidden" id="language" name="language">

								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="ShortName Or Email" id="userName"
										   name="userName">
									<div class="input-group-append">
										<div class="input-group-text">
											<span class="fas fa-envelope"></span>
										</div>
									</div>
								</div>
								<div class="input-group mb-3">
									<input type="password" class="form-control" placeholder="Password" id="userPassword"
										   name="userPassword">
									<div class="input-group-append">
										<div class="input-group-text">
											<span class="fas fa-lock"></span>
										</div>
									</div>
								</div>
								<a onclick="showforgetpassword()" style="color: #33b5e5;" class="trn">Forget Password</a>
								<div class="row">
									<div class="col-8">
										<div class="icheck-primary">
											<input type="checkbox" id="remember">
											<label for="remember" class="trn">Remember Me</label>
										</div>
									</div>
									<!-- /.col -->
									<div class="col-4">
										<button type="submit" class="btn btn-primary btn-block" onclick="lsRememberMe()">Sign In</button>
									</div>
									<!-- /.col -->
								</div>
							</form>

							<!-- /.social-auth-links -->

						</div>
						<!-- /.login-card-body -->
					</div>
				</div>
				<!-- /.login-box -->
			</div>

		</div>

	</div>
	
	

	<script>

		$(function () {
			$('#loginform').validate({
				rules: {
					userName: {
						required: true,
					},
					userPassword: {
						required: true,
					},
				},
				messages: {
					userName: {
						required: "Please enter a email address or short name",
					},
					userPassword: {
						required: "Please provide a password",
					},
				},
				errorElement: 'span',
				errorPlacement: function (error, element) {
					error.addClass('invalid-feedback');
					element.closest('.input-group').append(error);
				},
				highlight: function (element, errorClass, validClass) {
					$(element).addClass('is-invalid');
				},
				unhighlight: function (element, errorClass, validClass) {
					$(element).removeClass('is-invalid');
				}
			});


			var dict = {
				"Sign in to start your session": {
					jp: "サインインしてセッションを開始する",
					en: "Sign in to start your session"
				},
				"Forget Password": {
					jp: "パスワードを忘れた",
					en: "Forget Password"
				},
				"Remember Me": {
					jp: "私を覚えてますか",
					en: "Remember Me"
				}
			}

			
			var language = "en";
			$('.Languagepicker').selectpicker();
			$('.Languagepicker').selectpicker('val', language);
			document.getElementById("language").value = language;

			var translator = $('body').translate({ lang: language, t: dict });

			$('.Languagepicker').on('change', function () {
				var selected = $(this).find("option:selected").val();
				document.getElementById("language").value = selected;

				if (selected == "en") {
					var translator = $('body').translate({ lang: "en", t: dict });
				}
				else {
					var translator = $('body').translate({ lang: "jp", t: dict });
				}
			});

		});
	</script>
	<script>
		function showforgetpassword() {
			$('#forgetpassword').modal('show')
		}
	</script>
	<script>
		function hideforgetpassword() {
			$('#forgetpassword').modal('hide')
		}
	</script>

	<script type="text/javascript">
		function showPopup(resCode, resMsg) {
			if (resCode != '' && resCode != undefined && resCode == 200) {
				showSuccess(resMsg);
			} else if (resCode != undefined && resCode != '') {
				showError(resMsg);
			}
		}
		const rmCheck = document.getElementById("remember"),
			userNameInput = document.getElementById("userName"), userPwdInput = document.getElementById("userPassword");

		if (localStorage.checkbox && localStorage.checkbox !== "") {
			rmCheck.setAttribute("checked", "checked");
			userNameInput.value = localStorage.username;
			userPwdInput.value = localStorage.password;
		} else {
			rmCheck.removeAttribute("checked");
			userNameInput.value = "";
			userPwdInput.value = "";
		}
		function lsRememberMe() {
			if (rmCheck.checked && userNameInput.value !== "" && userPwdInput.value !== "") {
				localStorage.username = userNameInput.value;
				localStorage.password = userPwdInput.value;
				localStorage.checkbox = rmCheck.value;
			} else {
				localStorage.username = "";
				localStorage.password = "";
				localStorage.checkbox = "";
			}
		}
		showPopup('@ViewBag.ResponseCode', '@ViewBag.ResponseMessage');
	</script>
	<script>
		var data = @ViewBag.ForgerPasswordResponse;
		if (data == 200) {
			alert('Email Sended Succesfully');
		}
		if (data == 500) {
			alert('Please Check your Email');
		}

	</script>
	<script>
		var data = @ViewBag.IncorrectEmailAddress;
		if (data == 500) {
			alert('Email Address Not Present.');
		}

	</script>
	<script>
		var data = @ViewBag.PasswordUpdateResponseCode;
		if (data == 200) {
			alert('Password Updated Successfully.');
		}
	</script>


	<form action='@Url.Action("ForgetPassword","Account")' id="loginform" method="post">
		<div class="modal fade" id="forgetpassword" data-backdrop="static" tabindex="-1" role="dialog"
			 aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<span>
							<h5 class="modal-title" id="staticBackdropLabel">
								Forget Password
							</h5>
						</span>
						<div>
							<button type="button" class="close float-right" onclick="hideforgetpassword()" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>


					</div>
					<div class="modal-body" id="modelBody">

						<div class="row">
							<div class="col-sm-3 text-right">
								<div>
									<label>Email</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control" name="Email" id="Email">
								</div>
							</div>
							<div class="col-sm-3">
								<div>
									<span></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col text-center">
								<button class="btn btn-default btn-primary">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>



</body>

</html>
