@{
    ViewData["Title"] = "Request";
}

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card card-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title trn">Tracker List</h3>
                        </div>
                        <div class="col-md-6 text-right">
                        </div>

                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="trn">OverAll</label>
                                @if (ViewBag.reqType == 4)
                                {
                                    <input type="radio" name="ReqTracker" value="OverAll" onclick="getrequest(5)" checked="true">
                                }
                                else
                                {
                                    <input type="radio" name="ReqTracker" value="OverAll" onclick="getrequest(5)">
                                }

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="trn">New Request</label>
                                @if (ViewBag.reqType == 1)
                                {
                                    <input type="radio" name="ReqTracker" value="New" onclick="getrequest(1)" checked="true">
                                }
                                else
                                {
                                    <input type="radio" name="ReqTracker" value="New" onclick="getrequest(1)">
                                }

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="trn">Regular Request</label>
                                @if (ViewBag.reqType == 2)
                                {
                                    <input type="radio" name="ReqTracker" value="Regular" onclick="getrequest(2)" checked="true">
                                }
                                else
                                {
                                    <input type="radio" name="ReqTracker" value="Regular" onclick="getrequest(2)">
                                }
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="trn">ReCalibration Request</label>
                                @if (ViewBag.reqType == 3)
                                {
                                    <input type="radio" name="ReqTracker" value="ReCalibration" onclick="getrequest(3)" checked="true">
                                }
                                else
                                {
                                    <input type="radio" name="ReqTracker" value="ReCalibration" onclick="getrequest(3)">
                                }
                            </div>
                        </div>

                    </div>
                    <table id="example2" class="table table-bordered table-striped" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="trn">Request No</th>
                                <th class="trn">Request Date</th>
                                <th class="trn">Sub Section Code</th>
                                <th class="trn">Instrument Name</th>
                                <th class="trn">Instrument Id</th>
                                <th class="trn">Range</th>
                                <th class="trn">Request Type</th>
                                <th class="trn">Status</th>
                                <th class="trn">View</th>
                                <th class="trn">Test</th>
                                <th class="trn">Certificate</th>
                                <th class="trn">Type Of Scope</th>
                            </tr>
                        </thead>
                        <tbody>

                           @* @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.ReqestNo</td>
                                    <td>@item.RequestDate.ToString("dd-MM-yyyy")</td>
                                    <td>@item.InstrumentName</td>
                                    <td>@item.InstrumentIdNo</td>
                                    <td>@item.Range</td>
                                    @if (@item.TypeOfRequest == 1)
                                    {
                                        <td>New</td>
                                    }
                                    else if (@item.TypeOfRequest == 2)
                                    {
                                        <td>Regular</td>
                                    }
                                    else if (@item.TypeOfRequest == 3)
                                    {
                                        <td>Recalibration</td>
                                    }
                                    else if (@item.TypeOfRequest == 4)
                                    {
                                        <td>UnQuarantine</td>
                                    }

                                    @if (@item.Status == (int)EnumRequestStatus.Requested)
                                    {
                                        <td>Requested</td>
                                    }
                                    else if (@item.Status == (int)EnumRequestStatus.Approved)
                                    {
                                        <td>Approved</td>
                                    }
                                    else if (@item.Status == (int)EnumRequestStatus.Rejected)
                                    {
                                        <td>Request Rejected</td>
                                    }
                                    else if (@item.Status == (int)EnumRequestStatus.Sent && @item.LabResult == "Rejected")
                                    {
                                        <td>Calibration Rejected</td>
                                    }
                                    else if (@item.Status == (int)EnumRequestStatus.Sent && @item.LabResult != "Rejected")
                                    {
                                        <td>Calibration done</td>
                                    }
                                    else if (@item.Status == (int)EnumRequestStatus.Closed)
                                    {
                                        <td>Closed</td>
                                    }

                                    <td>
                                        <i class="fas fa-eye" style="cursor:pointer" id='@item.Id'
                                           onclick="GetRequestDetails(this)"></i>
                                    </td>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        @if (((@item.UserRoleId == 2 || @item.UserRoleId == 4) && (@item.Status == (int)EnumRequestStatus.Approved || @item.Status == (int)EnumRequestStatus.Sent || @item.Status == (int)EnumRequestStatus.Closed)))
                                        { //|| (@item.UserRoleId!=2 && @item.Status == (int)EnumRequestStatus.Closed)){
                                            <td><a href='@Url.Action("ViewObservation","Observation",new {requestId=@item.Id,instrumentId=@item.InstrumentId})'><i class="fas fa-check-circle" style="cursor:pointer"></i></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        //@if((@item.UserRoleId==2 && (@item.Status == (int)EnumRequestStatus.Approved ||@item.Status == (int)EnumRequestStatus.Sent||@item.Status == (int)EnumRequestStatus.Closed)) || (@item.UserRoleId!=2 && @item.Status == (int)EnumRequestStatus.Closed)){
                                        @if (@item.TemplateReviewStatus == 1)
                                        {
                                            <td><a href='@Url.Action("ViewCertification","Certification",new {requestId=@item.Id,instrumentId=@item.InstrumentId})'><i class="fas fa-user-graduate" style="cursor:pointer"></i></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }*@
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


<script>
    setTimeout(function () {
        @*$("#example2").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });*@
        //Conversion();        
        GetAllRequest(4);
    }, 500);
</script>

<script>
    //$(document).ready(function() {
    //    alert('1')
    //    GetAllRequest();
    //});


    function GetAllRequest(type) {
        
        if ($('input[name="ReqTracker"]:checked').val() == 'New') {
           console.log(1)
           selectedValue = 1;
        } else if ($('input[name="ReqTracker"]:checked').val() == 'Regular') {
            console.log(2)
            selectedValue = 2;
        } else if ($('input[name="ReqTracker"]:checked').val() == 'ReCalibration') {
            console.log(3)
            selectedValue = 3;
        } else {
            console.log(4)
            selectedValue = 4;
        }

        $('#dvload').show();
       // debugger;
        $.ajax({
            type: 'GET',
            url: '../Tracker/GetAllRequestList',
            data: { reqType: selectedValue },
            dataType: 'json',
            success: function (data) {
                if ($.fn.DataTable.isDataTable('#example2')) {
                    $('#example2').DataTable().destroy();
                }
                $('#example2 tbody').empty();
                //console.log('Rqdata');
                console.log("-----data----------");
                console.log(data);
                //console.log(Object.keys(data).length);
                if (data.length>0){	
                $.each(data, function (i, item) {
                    var tdTypeofRequest = '';
                    if (item.typeOfRequest == 1) {
                        tdTypeofRequest = "<td>New</td>"
                    }
                    else if (item.typeOfRequest == 2) {
                        tdTypeofRequest = "<td>Regular</td>"
                    }
                    else if (item.typeOfRequest == 3) {
                        tdTypeofRequest = "<td>Recalibration</td>"
                    }
                    else if (item.typeOfRequest == 4) {
                        tdTypeofRequest = "<td>UnQuarantine</td>"
                    }

                    var tdStatus = '';
                    if (item.status == 26) {
                        tdStatus = "<td>Requested</td>"
                    }
                    else if (item.status == 27) {
                        tdStatus = "<td>Approved</td>"
                    }
                    else if (item.status == 28) {
                        tdStatus = "<td>Request Rejected</td>"
                    }
                    else if (item.status == 29 && item.labResult == "Rejected") {
                        tdStatus = "<td>Calibration Rejected</td>"
                    }
                    else if (item.status == 29 && item.labResult != "Rejected") {
                        tdStatus = "<td>Calibration done</td>"
                    }
                    else if (item.status == 30) {
                        tdStatus = "<td>Closed</td>"
                    }
                    var tdTest = '';
                    if ((item.userRoleId == 2 || item.userRoleId == 3 || item.userRoleId == 4) && (item.status == 27 || item.status == 29 || item.status == 30) && item.typeOfEquipment != 'External Instrument') {


                        tdTest = "<td><a href='@Url.Action("InternalObservation","Observation")?requestId=" + item.id + "&instrumentId=" + item.instrumentId + "' ><i class='fas fa-check-circle' style = 'cursor:pointer'></i></td>"
                    }
                    else if ((item.userRoleId == 2 || item.userRoleId == 3 || item.userRoleId == 4) && (item.status == 27 || item.status == 29 || item.status == 30) && item.typeOfEquipment == 'External Instrument') {


                        tdTest = "<td><a href='@Url.Action("ViewObservation","Observation")?requestId=" + item.id + "&instrumentId=" + item.instrumentId + "' ><i class='fas fa-check-circle' style = 'cursor:pointer'></i></td>"
                    }
                        else if ((item.userRoleId == 2 || item.userRoleId == 3 || item.userRoleId == 4) && (item.status == 27 || item.status == 29 || item.status == 30) && item.typeOfEquipment == 'External Instrument') {


                            tdTest = "<td><a href='@Url.Action("ViewObservation","Observation")?requestId=" + item.id + "&instrumentId=" + item.instrumentId + "' ><i class='fas fa-check-circle' style = 'cursor:pointer'></i></td>"
                        }
                    else {
                        tdTest = "<td> </td>"
                    }
                    var tdCertificate = '';
                    if (item.templateReviewStatus == 1) {
                        tdCertificate = "<td><a href='@Url.Action("ViewCertification","Certification")?requestId="+item.id+"&instrumentId="+item.instrumentId+"'><i class='fas fa-user-graduate' style = 'cursor:pointer'></i></td>"
                                            }
                    else {
                        tdCertificate = "<td> </td>"
                    }

                    //var date = new Date(item.requestDate, "dd-MM-yyyy").toLocaleDateString();
                    var date = moment(item.requestDate).format("DD-MM-YYYY");

                    var rows = "<tr>"
                        + "<td>" + item.reqestNo + "</td>"                        
                        + "<td>" + date + "</td>"
                        + "<td>" + item.subSectionCode + "</td>"
                        + "<td>" + item.instrumentName + "</td>"
                        + "<td>" + item.instrumentIdNo + "</td>"
                        + "<td>" + item.range + "</td>"
                        + tdTypeofRequest
                        + tdStatus
                        + "<td><i class='fas fa-eye' style = 'cursor:pointer' id = " + item.id + " onclick = 'GetRequestDetails(this)'></i></td>"
                        + tdTest
                        + tdCertificate
                        + "<td>" + item.typeOfEquipment + "</td>"
                        + "</tr>";

                    $('#example2 tbody').append(rows);
                    $('#dvload').hide();
                    
                });
                }
                else {
                    $('#dvload').hide();
                }
                
                //$('#example2').destroy();
                $('#example2').dataTable({                    
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    "responsive": true,
                    dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                }); 
               
            },
            error: function (emp) {
                $('#dvload').hide();
                alert('error');
            }
        });
    }

</script>
