@{
    ViewData["Title"] = "Request";
}

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card card-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title trn">Tracker List</h3>
                        </div>
                        <div class="col-md-6 text-right">
                        </div>

                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="trn">OverAll</label>
                                @if (ViewBag.reqType == "4")
                                {
                                    <input type="radio" id="chkOverAll" name="ReqTracker" value="OverAll" onclick="BindTable(4)" checked>
                                }
                                else
                                {
                                    <input type="radio" id="chkOverAll" name="ReqTracker" value="OverAll" onclick="BindTable(4)">
                                }

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="trn">New Request</label>
                                @if (ViewBag.reqType == "1")
                                {
                                    <input type="radio" id="chkNew" name="ReqTracker" value="New" onclick="BindTable(1)" checked="true">
                                }
                                else
                                {
                                    <input type="radio" id="chkNew" name="ReqTracker" value="New" onclick="BindTable(1)">
                                }

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="trn">Regular Request</label>
                                @if (ViewBag.reqType == "2")
                                {
                                    <input type="radio" name="ReqTracker" id="chkRegular" value="Regular" onclick="BindTable(2)" checked="true">
                                }
                                else
                                {
                                    <input type="radio" name="ReqTracker" id="chkRegular" value="Regular" onclick="BindTable(2)">
                                }
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="trn">ReCalibration Request</label>
                                @if (ViewBag.reqType == "3")
                                {
                                    <input type="radio" name="ReqTracker"  id="chkReCalibration" value="ReCalibration" onclick="BindTable(3)" checked="true">
                                }
                                else
                                {
                                    <input type="radio" name="ReqTracker" id="chkReCalibration" value="ReCalibration" onclick="BindTable(3)">
                                }
                            </div>
                        </div>

                    </div>
                    <table id="example2" class="table table-bordered table-striped" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="trn">Request No</th>
                                <th class="trn">Request Date</th>
                                <th class="trn">Sub Section Code</th>
                                <th class="trn">Instrument Name</th>
                                <th class="trn">Instrument Id</th>
                                <th class="trn">Range</th>
                                <th class="trn">Request Type</th>
                                <th class="trn">Status</th>
                                <th class="trn">View</th>
                                <th class="trn">Test</th>
                                <th class="trn">Certificate</th>
                                <th class="trn">Type Of Scope</th>
                            </tr>
                          @*   <tr class="filter">
                               
                                <th class="filtertxt">
                                    <input id="txrequestno" type="text" class="form-control" />
                                </th>
                               
                                <th class="filtertxt">
                                    <input id="txClaimno" type="text" class="form-control" />
                                </th>
                                <th class="filtertxt">
                                    <input id="txInwdate" type="text" class="form-control due-date" />
                                </th>
                                <th class="filtertxt">
                                    <input id="txPartno" type="text" class="form-control" />
                                </th>
                                <th class="filtertxt">
                                    <input id="txPartDesc" type="text" class="form-control" />
                                </th>
                                <th class="filtertxt">
                                    <input id="txReturnTp" type="text" class="form-control" />
                                </th>
                              
                                <th class="filtertxt">
                                    <input id="txGroup" type="text" class="form-control" />
                                </th>
                                <th class="filterdrop"></th>
                                <th class="filtertxt">
                                    <input id="txLoc" type="text" class="form-control" />
                                </th>
                                <th class="filtertxt">
                                    <input id="txReturnCon" type="text" class="form-control" />
                                </th>
                                <th class="filtertxt">
                                    <input id="txPQRNo" type="text" class="form-control" />
                                </th>

                                <th class="filtertxt">
                                    <input id="txPQRNo1" type="text" class="form-control" />
                                </th>

                            </tr> *@

                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@* <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

 <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
*@

<!--Import jQuery before export.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>


<!--Data Table-->
<script type="text/javascript" src=" https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">

   
    $(function () {
         $('#example1').dataTable({});
        BindTable();
    });
    var BindTable = function (response) {
        //reqType=rType;
        console.log("reqType");
          console.log(response);
        var  reqType=response;
        $('#example2').dataTable(
            {
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": true,
               // "bFilter": true,
               // "sDom": "lrtip",
                "sAjaxSource": '../Tracker/GetAllRequestList',
                "fnServerParams": function (aoData) { aoData.push({ "name": "reqType", "value": reqType }) },
                "fnServerData": function (sSource, aoData, fnCallback) {// }, oSettings) {
                    $.ajax({
                        type: 'GET',
                        url: sSource,
                        data:aoData,
                        success: fnCallback
                    })
                },
                 // "fnServerParams": function ( aoData ) {
                 //     aoData.push( { "name": reqType, "value":reqType } );
                 // },
                "aoColumns": [
                    //{ "orderSequence": ["desc", "asc", "asc"] },
                    { "data": "reqestNo", "name": "Request No"},
                    { "data": "lc", "name": "Request Date"},// { "data": "reqDueDate", "name": "Request Date" },
                    { "data": "subSectionCode", "name": "Sub Section Code"},
                    { "data": "instrumentName", "name": "Instrument Name"},
                    { "data": "instrumentIdNo", "name": "Instrument Id"},
                    { "data": "range", "name": "Range"},

                    {
                        "render": function (data, type, row, meta) {
                            var tdTypeofRequest = '';
                            if (row.typeOfRequest == 1) {
                                tdTypeofRequest = "New"
                            }
                            else if (row.typeOfRequest == 2) {
                                tdTypeofRequest = "Regular"
                            }
                            else if (row.typeOfRequest == 3) {
                                tdTypeofRequest = "Recalibration"
                            }
                            else if (row.typeOfRequest == 4) {
                                tdTypeofRequest = "UnQuarantine"
                            }
                            // var linkedit = '<a href="@Url.Action("InstrumentEdit","Instrument")?instrumentId='+row.id+'"><i class="fas fa-edit"></i></a>';
                            return tdTypeofRequest;
                        }
                    },
                    // {"data":"status","name":"Status"},
                    {
                        "render": function (data, type, row, meta) {
                            var tdStatus = '';
                            if (row.status == 26) {
                                tdStatus = "Requested"
                            }
                            else if (row.status == 27) {
                                tdStatus = "Approved"
                            }
                            else if (row.status == 28) {
                                tdStatus = "Request Rejected"
                            }
                            else if (row.status == 28 && row.Result == "Result") {
                                tdStatus = "Request Rejected"
                            }
                            else if (row.status == 29 && row.labResult != "Rejected" && row.typeOfEquipment == 'External') {
                                tdStatus = "Verification done"
                            }
                            else if (row.status == 29 && row.labResult != "Rejected") {
                                tdStatus = "Calibration done"
                            }
                            else if (row.status == 30) {
                                tdStatus = "Closed"
                            }
                            else if (row.status == 31) {
                                tdStatus = "Calibration Rejected"
                            }

                            return tdStatus;
                        }
                    },
                    // {"data":"idNo","name":"View"},
                    {
                        "render": function (data, type, row, meta) {
                            var tdView = '<i class="fas fa-eye" style = "cursor:pointer" id = ' + row.id + ' onclick = "GetRequestDetails(this)"></i>'
                            return tdView;
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {

                            var tdTest = '';
                            var userRoleId = @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId");
                           
                            if ((userRoleId == 2 || userRoleId == 3 || userRoleId == 4) && (row.status == 27 || row.status == 29 || row.status == 30 || row.status == 31) && row.typeOfEquipment != 'External') {

                                tdTest = '<a href="@Url.Action("InternalObservation","Observation")?requestId=' + row.id + '&instrumentId=' + row.instrumentId + '" ><i class="fas fa-check-circle" style = "cursor:pointer"></i>'

                            }
                            else if ((row.userRoleId == 2 || row.userRoleId == 3 || row.userRoleId == 4) && (row.status == 27 || row.status == 29 || row.status == 30) && row.typeOfEquipment == 'External') {

                                tdTest = '<a href="@Url.Action("ExternalObs","Observation")?requestId=' + row.id + '&instrumentId=' + row.instrumentId + '" ><i class="fas fa-check-circle" style = "cursor:pointer"></i>'
                            }
                            // else {
                            //     tdTest = ""
                            // }
                            return tdTest;
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            var tdCertificate = '';
                            if (row.status == 29 || row.status == 30 || row.status == 31)//(item.templateReviewStatus == 1 || item.templateReviewStatus == 2 || (item.exObsTemplateReviewStatus == 1 && item.status != 27) || item.exObsTemplateReviewStatus == 2) )
                            {
                                tdCertificate = '<a href="@Url.Action("ViewCertification","Certification")?requestId=' + row.id + '&instrumentId=' + row.instrumentId + '"><i class="fas fa-user-graduate" style = "cursor:pointer"></i>'
                            }
                            // else {
                            //     tdCertificate = ''
                            //     }
                            return tdCertificate;
                        }
                    },

                    { "data": "typeOfEquipment", "name": "Type Of Scope" },//, "sortable": true, "orderable": true
                ],
               // "order": [[5, 'asc'], [5, 'desc']],
                //ordering: true,
                // columnDefs: [
                //     { orderable: true, targets: 2 }
                // ],
                // "columnDefs": [
                //    // { "orderSequence": ["asc"], "targets": [1] },
                //     { "orderSequence": ["desc", "asc", "asc"], "targets": [2] },
                //   //  { "orderSequence": ["desc"], "targets": [3] }
                // ],
            "createdRow": function (row, data, dataIndex) {
              
                if (data["reqDueDate"] != null) {

                        //var date = data["reqDueDate"].substring(0, 2);
                        //var month = data["reqDueDate"].substring(3, 5);
                        //var year = data["reqDueDate"].substring(6, 10);
                       // var edate = new Date(year, month - 1, date);
                        var edate=new Date(data["reqDueDate"]);
                        var currentdate = new Date();
                        
                        if (edate < currentdate) //&& (item.status != 30))
                        {
                          
                            $(row).css('background-color', '#fbefef');
                        }
                        else {
                        
                        }
                        }
                },

                // initComplete: function (index) {
                //     this.api().columns().every(function (i) {
                //         var column = this;
                //         var columnIndex = this.index()
                //         if (columnIndex == 7) {
                           
                //             var select = $('<select id="txStatus"  class="tableheadinput form-control input-sm"><option value="">Select</option></select>')
                //                 .appendTo($(".filter th:eq(" + columnIndex + ")").empty()).on('change', function () {
                //                     column
                //                         .search($(this).val())
                //                         .draw();
                //                 });

                //             column.data().unique().sort().each(function (d, j) {
                //                 if (d != '') {
                //                     select.append('<option value="' + d + '">' + d + '</option>')
                //                 }
                //             });
                //         }

                //         else {

                       

                //                 $('input', $(".filter th:eq(" + columnIndex + ")")).on('keyup change', function () {
                //                     if (column.search() !== this.value) {

                //                         column
                //                             .search(this.value)
                //                             .draw();


                //                     }


                //                 });
                              
                //         }

                //     });


                // },
                             
                "pageLength": "100",
                //order: [3, 'asc','desc'],
               // "order": [[0, 'asc'], [1, 'asc']],
                "language": {
                    //"emptyTable": "No record found.",
                    "processing":
                        '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                },
                 dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",

            });
    }


  
</script>
  