@{
    ViewData["Title"] = "Master History-Breakdown List";
}
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card card-primary"> 
                    <div class="card-header">
                        <div class="row">
                       <div class="col-md-6">
                            <h3 class="card-title">Master History - Breakdown List</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href='@Url.Action("MasterHistoryCreate","Master",new {MasterId=@ViewBag.MasterId})'><input type="button" class="btn btn-sm btn-default" value="Create Master History" ></a>
                        <a href='@Url.Action("Index","Master")'><input type="button" class="btn btn-sm btn-default" value="Go to Master" ></a>
                    </div>
 
                       </div>  
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Serial No</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Actions Taken / Calibration Results</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Date of Completion</th>
                                    <th>Breakdown Hrs/Days</th>
                                    <th>Status</th>
                                    <th>Maintenance / Supplier Representative</th>
                                    <th>Updated By</th>
                            </thead>
                            <tbody>
                                @{
                                    int Sno=1;
                                
                                foreach (var item in Model)
                                {
                                    <tr >
                                        <td>@Sno</td>
                                        <td>@item.Date</td>
                                        <td>@item.Category</td>
                                        <td>@item.Description</td>
                                        <td>@item.Actions_Taken</td>
                                        <td>@item.FromDate</td>
                                        <td>@item.ToDate</td>
                                        <td>@item.Date_of_Completion</td>
                                        <td>@item.Breakdown_hrs_days</td>
                                        <td>@item.Status</td>
                                        <td>@item.Maintainence</td>
                                        <td>@item.CreatedBy</td>                                        
                                    </tr>
                                    Sno=Sno+1;
                                }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
<script>
     setTimeout(function(){ 

      $("#example1").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
     }, 500);
    </script>