@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Calibration Management System</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- own style -->
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/css/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Tempusdominus Bbootstrap 4 -->
	<link rel="stylesheet" href="~/css/tempusdominus-bootstrap-4.min.css">
	<!-- iCheck -->
	<link rel="stylesheet" href="~/css/icheck-bootstrap.min.css">
	<!-- JQVMap -->
	<link rel="stylesheet" href="~/css/jqvmap.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/css/adminlte.min.css">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="~/css/OverlayScrollbars.min.css">
	<!-- Daterange picker -->
	<link rel="stylesheet" href="~/css/daterangepicker.css">
	<!-- summernote -->
	<link rel="stylesheet" href="~/css/jqvmap.min.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<!-- DataTables -->
	<link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="~/css/animate.css">
	<link rel="stylesheet" href="~/js/jquery-ui.css">
	<link rel="stylesheet" href="~/css/bootstrap-select.min.css">

</head>

<body class="hold-transition sidebar-mini layout-fixed">

	<style>
		.flag-icon-background {
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
		}

		.flag-icon {
			background-size: cover;
			background-position: 50%;
			background-repeat: no-repeat;
			position: relative;
			display: inline-block;
			width: 1.33333333em;
			line-height: 1em;
		}

			.flag-icon:before {
				content: "\00a0";
			}

			.flag-icon.flag-icon-squared {
				width: 1em;
			}

		.flag-icon-jp {
			background-image: url(../image/jp.png);
		}

		.flag-icon-gb {
			background-image: url(../image/gb.png);
		}

		.Languagepicker .dropdown-menu > li > a:hover {
			color: #ffffff;
			text-decoration: none;
			background-color: #00677F;
		}

		.daimler_language {
			background: transparent;
			color: #000000;
			margin-top: 8pt;
			margin-right: 10pt;
			font-size: 12px;
		}

		.selected {
			background: #fff;
		}

		.layout-fixed .brand-link {
			width: 150px;
		}

		.dropdown-toggle {
			background: transparent;
			border: none;
		}
	</style>

	<div class="wrapper">

		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light navbg">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
				</li>
			</ul>


			@*<ul class="navbar-nav ml-auto float-end" style="text-align:right;">
			<li class="nav-item">
			<select class="Languagepicker daimler_language" data-width="fit">
			<option value="en" data-content='<span class="flag-icon flag-icon-gb"></span> English'>
			English
			</option>
			<option value="jp" data-content='<span class="flag-icon flag-icon-jp"></span> 日本語'>日本語</option>
			</select>
			</li>
			</ul>*@


			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto" style="text-align:right;">
				<li class="nav-item text-center">
					<select class="Languagepicker daimler_language" data-width="fit">
						<option value="en" data-content='<span class="flag-icon flag-icon-gb"></span> English'>
							English
						</option>
						<option value="jp" data-content='<span class="flag-icon flag-icon-jp"></span> 日本語'>日本語</option>
					</select>
				</li>
				<!-- Messages Dropdown Menu -->
				<li class="nav-item text-center">
					<a href='@Url.Action("Logout","Account")' class="brand-link logopading">
						<p>
							<i class='fas fa-user-circle' style='font-size:25px;color:black;position:relative;top:4px'></i>
							<span style="color:black;font-size:14px;" class="trn">Signout</span>
						</p>
					</a>
				</li>
			</ul>
		</nav>
		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a href='@Url.Action("Index","Home")' class="brand-link logopading">
				<span class="brand-text font-weight-light daimlerlogo"><img src="~/image/header_logo.svg"></span>
			</a>


			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">
					<div class="image">
						@*<img src="~/image/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">*@
						<i class='fas fa-user-circle' style='font-size:25px;color:black;position:relative;top:4px'></i>
					</div>
					<div class="info">
						<a href="#" class="d-block">
							@HttpContextAccessor.HttpContext.Session.GetString("FirstName")
							@HttpContextAccessor.HttpContext.Session.GetString("LastName")
						</a>
					</div>
				</div>

				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
						   with font-awesome or any other icon font library -->
						@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1" || @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2"
								|| @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "3" || @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "4")
						{
							<li class="nav-item">
								<a href='@Url.Action("HomePage","Home")' class="nav-link">
									<i class="nav-icon fas fa-home"></i>
									<p class="trn">Home</p>
								</a>
							</li>
						}
						@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1" ||
								@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2" || @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "3")
						{
							<li class="nav-item">
								<a href='@Url.Action("Index","Home")' class="nav-link">
									<i class="nav-icon fas fa-tachometer-alt"></i>
									<p class="trn">Dashboard</p>
								</a>
							</li>
						}
						@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
						{
							<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-sitemap"></i>
									<p>
										<span class="trn">Department</span>
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item navIndend">
										<a href='@Url.Action("Index","Department")' class="nav-link">
											<i class="fas fa-table nav-icon"></i>
											<p class="trn">Department List</p>
										</a>
									</li>
									<li class="nav-item navIndend">
										<a href='@Url.Action("Create","Department")' class="nav-link">
											<i class="fa fa-window-restore nav-icon"></i>
											<p class="trn">New Department</p>
										</a>
									</li>

								</ul>
							</li>

							<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-users"></i>
									<p>
										<span class="trn">User</span>
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item navIndend">
										<a href='@Url.Action("Index","User")' class="nav-link">
											<i class="fas fa-address-card nav-icon"></i>
											<p class="trn">User List</p>
										</a>
									</li>
									<li class="nav-item navIndend">
										<a href='@Url.Action("Create","User")' class="nav-link">
											<i class="fas fa-user-plus nav-icon"></i>
											<p class="trn">New User</p>
										</a>
									</li>
								</ul>
							</li>


							<li class="nav-item has-treeview">

								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-address-book"></i>
									<p>
										<span class="trn">Contact</span>
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item navIndend">
										<a href='@Url.Action("Index","Contact")' class="nav-link">
											<i class="fas fa-id-card nav-icon"></i>
											<p class="trn">Contact List</p>
										</a>
									</li>
									<li class="nav-item navIndend">
										<a href='@Url.Action("Create","Contact")' class="nav-link">
											<i class="far fa-id-badge nav-icon"></i>
											<p class="trn">New Contact</p>
										</a>
									</li>

								</ul>
							</li>
							<li class="nav-item has-treeview">

								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-list"></i>
									<p>
										<span class="trn">Master</span>
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item navIndend">
										<a href='@Url.Action("Index","Master")' class="nav-link">
											<i class="fa fa-list-alt"></i>
											<p class="trn">Master List</p>
										</a>
									</li>
									<li class="nav-item navIndend">
										<a href='@Url.Action("Create","Master")' class="nav-link">
											<i class="fa fa-indent"></i>
											<p class="trn">New Master</p>
										</a>
									</li>
									<li class="nav-item navIndend">
										<a href='@Url.Action("GetQuarantineList","Master")' class="nav-link">
											<i class="fa fa-outdent"></i>
											<p class="trn">Master Quarantine</p>
										</a>
									</li>
								</ul>
							</li>
						}



						@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1" ||
								@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
						{
							<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-calendar-day"></i>
									<p>
										<span class="trn">Instruments</span>
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item navIndend">
										<a href='@Url.Action("Index","Instrument")' class="nav-link">
											<i class="nav-icon fas fa-calendar-minus"></i>
											<p class="trn">Instruments List</p>
										</a>
									</li>
									@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
									{
										<li class="nav-item navIndend">
											<a href='@Url.Action("Create","Instrument")' class="nav-link">
												<i class="nav-icon far fa-calendar-plus"></i>
												<p class="trn">New Instrument</p>
											</a>
										</li>
									}
									<li class="nav-item navIndend">
										<a href='@Url.Action("QuratineList","Instrument")' class="nav-link">

											<p>
												<i class="nav-icon fas fa-calendar-times"></i>
												<span class="trn">Qurataine Instrument</span>

											</p>
										</a>
									</li>
								</ul>
							</li>

						}
						@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1" ||
								@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2" ||
								@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "3" ||
								@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "4")
						{
							<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-compass"></i>
									<p>
										<span class="trn">Tracker</span>
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2" ||
											@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "3")
									{
										<li class="nav-item navIndend">
											<a href='@Url.Action("ExternalRequest","Tracker")' class="nav-link">
												<i class="fas fa-truck nav-icon"></i>
												<p class="trn">External Request</p>
											</a>
										</li>
									}
									@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1" ||
											@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2" ||
											@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "4")
									{
										<li class="nav-item navIndend">
											<a href='@Url.Action("Request","Tracker",new {reqType=4})' class="nav-link">
												<i class="fas fa-sign-out-alt nav-icon"></i>
												<p class="trn">Request Tracker</p>
											</a>
										</li>
									}
								</ul>
							</li>
						}
						@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1" || @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2" ||
								@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") != "3")
						{

							<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-comment-dots"></i>
									<p>
										<span class="trn">Customer Feedback</span>
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>

								<ul class="nav nav-treeview">
									@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
									{
										<li class="nav-item navIndend">
											<a href='@Url.Action("FeedbackInvite","Feedback")' class="nav-link">
												<i class="nav-icon fas fa-clipboard-check"></i>
												<p class="trn">Feedback Invite</p>
											</a>
										</li>
									}

									<li class="nav-item navIndend">
										<a href='@Url.Action("Index","Feedback", new {FeedbackInviteId = 0})' class="nav-link">
											<i class="nav-icon fas fa-clipboard"></i>
											<p class="trn">Feedback Form</p>
										</a>
									</li>

									@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
									{
										<li class="nav-item navIndend">
											<a href='@Url.Action("SubmittedList","Feedback")' class="nav-link">
												<i class="nav-icon fas fa-clipboard-list "></i>
												<p class="trn">Submitted List</p>
											</a>
										</li>
										<li class="nav-item navIndend">
											<a href='@Url.Action("ReviewedList","Feedback")' class="nav-link">
												<i class="nav-icon fas fa-clipboard-list "></i>
												<p class="trn">Reviewed List</p>
											</a>
										</li>
									}
								</ul>
							</li>
							@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "4" || @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
							{
								<li class="nav-item has-treeview">
									<a href="#" class="nav-link">
										<i class="nav-icon fas fa-microscope"></i>
										<p>
											<span class="trn">Quality Check</span>
											<i class="fas fa-angle-left right"></i>
										</p>
									</a>
									<ul class="nav nav-treeview">
										<li class="nav-item navIndend">
											<a href='@Url.Action("IntermediateGridPage","QCIntermediateTemplate")' class="nav-link">
												<i class="fas fa-receipt nav-icon"></i>
												<p class="trn">Intermediate Template</p>
											</a>
										</li>
										<li class="nav-item navIndend">
											<a href='@Url.Action("AlternateTemplateGrid","QualityCheck")' class="nav-link">
												<i class="fas fa-receipt nav-icon"></i>
												<p class="trn">Alternative Template</p>
											</a>
										</li>
										<li class="nav-item navIndend">
											<a href='@Url.Action("ReplicateTestGrid","QualityCheck")' class="nav-link">
												<i class="fas fa-receipt nav-icon"></i>
												<p class="trn">Replicate Test</p>
											</a>
										</li>
										<li class="nav-item navIndend">
											<a href='@Url.Action("ReTestGrid","QualityCheck")' class="nav-link">
												<i class="fas fa-receipt nav-icon"></i>
												<p class="trn">Re-Test</p>
											</a>
										</li>
									</ul>
								</li>
							}
							@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
							{
								<li class="nav-item has-treeview">
									<a href="#" class="nav-link">
										<i class="fas fa-chart-pie"></i>
										<p>
											<span class="trn">Chart</span>
											<i class="fas fa-angle-left right"></i>
										</p>
									</a>
									<ul class="nav nav-treeview">
										<li class="nav-item navIndend">
											<a href='@Url.Action("donutchart","InstrumentReport")' class="nav-link">
												<i class="fas fa-sign-in-alt nav-icon"></i>
												<p class="trn">Instrument Report</p>
											</a>
										</li>
										<li class="nav-item navIndend">
											<a href='@Url.Action("CalibrationLab","InstrumentReport")' class="nav-link">
												<i class="fas fa-sign-in-alt nav-icon"></i>
												<p class="trn">Calibration Lab - KPI</p>
											</a>
										</li>
										<li class="nav-item navIndend">
											<a href='@Url.Action("CustomerReport","InstrumentReport")' class="nav-link">
												<i class="fas fa-sign-in-alt nav-icon"></i>
												<p class="trn">Customer Feedback</p>
											</a>
										</li>
									</ul>
								</li>
							}
						}
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark"></h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							@* <ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href='@Url.Action("Index","Home")'>Home</a></li>
							<li class="breadcrumb-item active">@ViewBag.PageTitle</li>
							</ol> *@
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<div class="container">
				<main role="main" style="background-color: white;" class="pb-3">
					@RenderBody()
					<!-- Button trigger modal -->
					<!-- Modal l̥-->
				</main>
			</div>

		</div>
		<!-- /.content-wrapper -->

		<footer class="main-footer">
			&copy; <span class="trn">2021 - Calibration Management - </span><a asp-area="" class="trn">Privacy</a>
			<div class="float-right d-none d-sm-inline-block">
				<b class="trn">Version</b> 2.0.0
			</div>
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->

		<input type="hidden" id="hdnLanguage" value="@HttpContextAccessor.HttpContext.Session.GetString("Language")">

	</div>
	<!-- ./wrapper -->

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

	<div>
		<!-- jQuery -->
		<script src="~/js/jquery.min.js"></script>
		<!-- jQuery UI 1.11.4 -->
		<script src="~/js/jquery-ui.min.js"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
			$.widget.bridge('uibutton', $.ui.button)
		</script>
		<!-- Bootstrap 4 -->
		<script src="~/js/bootstrap.bundle.min.js"></script>
		<!-- ChartJS -->
		<script src="~/js/Chart.min.js"></script>
		<!-- Sparkline -->
		<script src="~/js/sparkline.js"></script>
		<!-- JQVMap -->
		<script src="~/js/jquery.vmap.min.js"></script>
		<script src="~/js/jquery.vmap.usa.js"></script>
		<!-- jQuery Knob Chart -->
		<script src="~/js/jquery.knob.min.js"></script>
		<!-- daterangepicker -->
		<script src="~/js/moment.min.js"></script>
		<script src="~/js/daterangepicker.js"></script>
		<!-- Tempusdominus Bootstrap 4 -->
		<script src="~/js/tempusdominus-bootstrap-4.min.js"></script>
		<!-- Summernote -->
		<script src="~/js/summernote-bs4.min.js"></script>
		<!-- overlayScrollbars -->
		<script src="~/js/jquery.overlayScrollbars.min.js"></script>
		<!-- AdminLTE App -->
		<script src="~/js/adminlte.js"></script>
		<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
		<script src="~/js/dashboard.js"></script>
		<!-- AdminLTE for demo purposes -->
		<script src="~/js/demo.js"></script>

		<script src="~/js/jquery.dataTables.min.js"></script>
		<script src="~/js/dataTables.bootstrap4.min.js"></script>
		<script src="~/js/dataTables.responsive.min.js"></script>
		<script src="~/js/responsive.bootstrap4.min.js"></script>
		<script src="~/js/daimler.js"></script>
		<script src="~/js/jquery.validate.min.js"></script>
		<script src="~/js/Chart.js"></script>
		<script src="~/js/additional-methods.min.js"></script>
		<script src="~/js/template.js"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="~/js/jquery.translate.js"></script>
		<script src="~/js/jquery.swaltranslate.js"></script>
		<script src="~/js/bootstrap-select.min.js"></script>
		<script src="~/js/TranslateValidation.js"></script>

		<script type="text/javascript">
			validateSession('@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId")');
			var language = $('#hdnLanguage').val();
			var dict = diction();

			var respmsg = '@ViewBag.ResponseMessage';
			if (respmsg) {
				console.log("am here trans resp msg");
				console.log(respmsg);
				respmsg = dict[respmsg][language];
			}

			showPopup('@ViewBag.ResponseCode', respmsg);
			var formid = $('.container').find('form').attr('id');
			$('.Languagepicker').selectpicker();
			$('.Languagepicker').selectpicker('val', language);

			var translator = $('body').translate({ lang: language, t: dict });
			$('.Languagepicker').on('change', function () {
				var selected = $(this).find("option:selected").val();
				var dict = diction();
				language = selected;
				$('#hdnLanguage').val(selected);

				$.ajax({
					type: "POST",
					url: "../User/SetLanguage",
					data: { lang: selected },
					dataType: "json",
					success: function (data) {
						console.log("Language changed successfully!!");
					},
					failure: function (response) {
						console.log(response.responseText);
					},
					error: function (response) {
						console.log(response.responseText);
					}
				});
				if (selected == "en") {
					var translator = $('body').translate({ lang: "en", t: dict });
				}
				else {
					var translator = $('body').translate({ lang: "jp", t: dict });
				}
				$('#' + formid).find('input').each(function () {
					var thisctrl = $(this);
					var id = $(thisctrl).attr('id');
					var message = $(thisctrl).attr('alt');
					if (id && message) {
						var transMsg = dict[message][language];
						$('[name=' + id + ']').rules('add', {
							messages: {
								required: transMsg,
							}
						});
					}
				});

			});
			function diction() {
				var dict = {
					"Master": { jp: "マスター", en: "Master" },
					"Instruments": { jp: "楽器", en: "Instruments" },
					"Signout": { jp: "サインアウト", en: "Signout" },
					"Request": { jp: "リクエスト", en: "Request" },
					"More info ": { jp: "より詳しい情報 ", en: "More info " },
					"Dashboard": { jp: "ダッシュボード", en: "Dashboard" },
					"Department": { jp: "デパートメント", en: "Department" },
					"Department List": { jp: "部門一覧", en: "Department List" },
					"New Department": { jp: "新しい部署", en: "New Department" },
					"User": { jp: "ユーザー", en: "User" },
					"User List": { jp: "ユーザー一覧", en: "User List" },
					"New User": { jp: "新しいユーザー", en: "New User" },
					"Contact": { jp: "コンタクト", en: "Contact" },
					"Contact List": { jp: "連絡先リスト", en: "Contact List" },
					"New Contact": { jp: "新しい連絡先", en: "New Contact" },
					"Master List": { jp: "マスターリスト", en: "Master List" },
					"New Master": { jp: "新しいマスター", en: "New Master" },
					"Master Quarantine": { jp: "マスター検疫", en: "Master Quarantine" },
					"Instruments List": { jp: "楽器一覧", en: "Instruments List" },
					"New Instrument": { jp: "新しい楽器", en: "New Instrument" },
					"Qurataine Instrument": { jp: "クラテイン楽器", en: "Qurataine Instrument" },
					"Tracker": { jp: "トラッカー", en: "Tracker" },
					"External Request": { jp: "外部リクエスト", en: "External Request" },
					"Request Tracker": { jp: "リクエストトラッカー", en: "Request Tracker" },
					"Customer Feedback": { jp: "お客様の声", en: "Customer Feedback" },
					"Feedback Invite": { jp: "フィードバックの招待", en: "Feedback Invite" },
					"Feedback Form": { jp: "フィードバックフォーム", en: "Feedback Form" },
					"Submitted List": { jp: "提出済みリスト", en: "Submitted List" },
					"Reviewed List": { jp: "レビュー済みリスト", en: "Reviewed List" },
					"Quality Check": { jp: "品質チェック", en: "Quality Check" },
					"Intermediate Template": { jp: "中間テンプレート", en: "Intermediate Template" },
					"Alternative Template": { jp: "代替テンプレート", en: "Alternative Template" },
					"Replicate Test": { jp: "テストを繰り返す", en: "Replicate Test" },
					"Re-Test": { jp: "再テスト", en: "Re-Test" },
					"Chart": { jp: "チャート", en: "Chart" },
					"Instrument Report": { jp: "機器レポート", en: "Instrument Report" },
					"Calibration Lab - KPI": { jp: "校正ラボ - KPI", en: "Calibration Lab - KPI" },
					"Add New Master": { jp: "新しいマスターを追加", en: "Add New Master" },
					"Quarantine List": { jp: "検疫リスト", en: "Quarantine List" },
					"Serial Number": { jp: "シリアルナンバー", en: "Serial Number" },
					"Lab ID Number": { jp: "ラボ ID 番号", en: "Lab ID Number" },
					"Calibration Frequency": { jp: "校正頻度", en: "Calibration Frequency" },
					"Calibration Date": { jp: "校正日", en: "Calibration Date" },
					"Due Date": { jp: "期日", en: "Due Date" },
					"Edit": { jp: "編集", en: "Edit" },
					"External Calibration Request": { jp: "外部校正リクエスト", en: "External Calibration Request" },
					"Quarantine": { jp: "検疫", en: "Quarantine" },
					"History": { jp: "歴史", en: "History" },
					"Instrument Name": { jp: "楽器名", en: "Instrument Name" },
					"Range": { jp: "範囲", en: "Range" },
					"Department Name": { jp: "部署名", en: "Department Name" },
					"Department Desc": { jp: "部門の説明", en: "Department Desc" },
					"Created Date": { jp: "作成日", en: "Created Date" },
					"Department Description": { jp: "部門の説明", en: "Department Description" },
					"Submit": { jp: "送信", en: "Submit" },
					"First Name": { jp: "ファーストネーム", en: "First Name" },
					"Last Name": { jp: "苗字", en: "Last Name" },
					"Email": { jp: "Eメール", en: "Email" },
					"Phone No": { jp: "電話番号", en: "Phone No" },
					"Login Name": { jp: "ログイン名", en: "Login Name" },
					"CreatedDate": { jp: "作成日", en: "CreatedDate" },
					"L3 Contact": { jp: "L3コンタクト", en: "L3 Contact" },
					"L4 Contact": { jp: "L4コンタクト", en: "L4 Contact" },
					"L5 Contact": { jp: "L5 コンタクト", en: "L5 Contact" },
					"L6 Contact": { jp: "L6コンタクト", en: "L6 Contact" },
					"Delete": { jp: "消去", en: "Delete" },
					"User Creation": { jp: "ユーザーの作成", en: "User Creation" },
					"User Name": { jp: "ユーザー名", en: "User Name" },
					"Role": { jp: "役割", en: "Role" },
					"Email Id": { jp: "電子メールID", en: "Email Id" },
					"Mobile No": { jp: "モバイル番号", en: "Mobile No" },
					"Designation": { jp: "指定", en: "Designation" },
					"Level": { jp: "レベル", en: "Level" },
					"Level 3 ShortID": { jp: "レベル 3 ショート ID", en: "Level 3 ShortID" },
					"Level 3 Name": { jp: "レベル 3 の名前", en: "Level 3 Name" },
					"Level 3 Email": { jp: "レベル 3 メール", en: "Level 3 Email" },
					"Level 4 ShortID": { jp: "レベル 4 ショート ID", en: "Level 4 ShortID" },
					"Level 4 Name": { jp: "レベル 4 の名前", en: "Level 4 Name" },
					"Level 4 Email": { jp: "レベル 4 メール", en: "Level 4 Email" },
					"Level 5 ShortID": { jp: "レベル 5 ショート ID", en: "Level 5 ShortID" },
					"Level 5 Name": { jp: "レベル 5 の名前", en: "Level 5 Name" },
					"Level 5 Email": { jp: "レベル 5 メール", en: "Level 5 Email" },
					"Level 6 ShortID": { jp: "レベル 6 ショート ID", en: "Level 6 ShortID" },
					"Level 6 Name": { jp: "レベル 6 の名前", en: "Level 6 Name" },
					"Level 6 Email": { jp: "レベル 6 メール", en: "Level 6 Email" },
					"Choose Signature": { jp: "署名を選択", en: "Choose Signature" },
					"Signature Image": { jp: "署名画像", en: "Signature Image" },
					"Profile Update": { jp: "プロフィールの更新", en: "Profile Update" },
					"Password": { jp: "パスワード", en: "Password" },
					"UserCreate": { jp: "ユーザー作成", en: "UserCreate" },
					"UserId": { jp: "ユーザーID", en: "UserId" },
					"UserName": { jp: "ユーザー名", en: "UserName" },
					"Email address": { jp: "電子メールアドレス", en: "Email address" },
					"RetypePassword": { jp: "パスワードを再入力してください", en: "RetypePassword" },
					"GroupCreate": { jp: "グループ作成", en: "GroupCreate" },
					"GroupName": { jp: "グループ名", en: "GroupName" },
					"EnterPerson": { jp: "人を入力", en: "EnterPerson" },
					"EntryDate": { jp: "申し込み日", en: "EntryDate" },
					"CreateGroup": { jp: "グループを作る", en: "CreateGroup" },
					"Name": { jp: "名前", en: "Name" },
					"Contact Creation": { jp: "連絡先の作成", en: "Contact Creation" },
					"Mobile Number": { jp: "携帯電話番号", en: "Mobile Number" },
					"Master Quarantine List": { jp: "マスター検疫リスト", en: "Master Quarantine List" },
					"Serial No": { jp: "シリアル番号", en: "Serial No" },
					"Lab ID No": { jp: "ラボ ID 番号", en: "Lab ID No" },
					"Calibration Frequency": { jp: "校正頻度", en: "Calibration Frequency" },
					"Calibration Date": { jp: "校正日", en: "Calibration Date" },
					"Due Date": { jp: "期日", en: "Due Date" },
					"Quarantine Date": { jp: "検疫日", en: "Quarantine Date" },
					"Quarantine Reason": { jp: "検疫理由", en: "Quarantine Reason" },
					"Activate": { jp: "活性化", en: "Activate" },
					"New Master": { jp: "新しいマスター", en: "New Master" },
					"Equipment Name": { jp: "機器名", en: "Equipment Name" },
					"Location": { jp: "位置", en: "Location" },
					"P.O.Number": { jp: "P.O.番号", en: "P.O.Number" },
					"P.O.Date": { jp: "発注日", en: "P.O.Date" },
					"Commissioned On": { jp: "委託された", en: "Commissioned On" },
					"Make": { jp: "作る", en: "Make" },
					"Cost": { jp: "料金", en: "Cost" },
					"Calibration Source": { jp: "校正ソース", en: "Calibration Source" },
					"details 2": { jp: "詳細 2", en: "details 2" },
					"Supplier/Agency": { jp: "サプライヤー/代理店", en: "Supplier/Agency" },
					"Lab ID": { jp: "ラボ ID", en: "Lab ID" },
					"Certificate Number": { jp: "証明書番号", en: "Certificate Number" },
					"Traceability": { jp: "トレーサビリティ", en: "Traceability" },
					"Upload Image": { jp: "画像をアップロード", en: "Upload Image" },
					"Supplier Information": { jp: "サプライヤー情報", en: "Supplier Information" },
					"Phone Number": { jp: "電話番号", en: "Phone Number" },
					"Master History - Breakdown List": { jp: "マスター履歴 - 内訳リスト", en: "Master History - Breakdown List" },
					"Date": { jp: "日にち", en: "Date" },
					"Category": { jp: "カテゴリー", en: "Category" },
					"Description": { jp: "説明", en: "Description" },
					"Actions Taken / Calibration Results": { jp: "実行されたアクション/キャリブレーション結果", en: "Actions Taken / Calibration Results" },
					"From": { jp: "から", en: "From" },
					"To": { jp: "に", en: "To" },
					"Date of Completion": { jp: "完成日", en: "Date of Completion" },
					"Breakdown Hrs/Days": { jp: "内訳時間/日", en: "Breakdown Hrs/Days" },
					"Status": { jp: "スターテス", en: "Status" },
					"Maintenance / Supplier Representative": { jp: "整備・仕入先代表", en: "Maintenance / Supplier Representative" },
					"Updated By": { jp: "更新者", en: "Updated By" },
					"Master History Creation": { jp: "マスター履歴の作成", en: "Master History Creation" },
					"From Date": { jp: "開始日", en: "From Date" },
					"To Date": { jp: "現在まで", en: "To Date" },
					"Instrument Details": { jp: "楽器の詳細", en: "Instrument Details" },
					"Instrument Serial Number": { jp: "装置のシリアル番号", en: "Instrument Serial Number" },
					"Unit": { jp: "ユニット", en: "Unit" },
					"Least Count": { jp: "最小数", en: "Least Count" },
					"Set Value for TW": { jp: "TW の設定値", en: "Set Value for TW" },
					"User Department": { jp: "ユーザー部門", en: "User Department" },
					"Ref Standard/Calibration Method": { jp: "参照標準/校正方法", en: "Ref Standard/Calibration Method" },
					"Type of Instrument": { jp: "楽器の種類", en: "Type of Instrument" },
					"Drawing is attached": { jp: "図面が添付されています", en: "Drawing is attached" },
					"Decision rule for statement of Confirmity": { jp: "確定申告の判断基準", en: "Decision rule for statement of Confirmity" },
					"Remarks": { jp: "備考", en: "Remarks" },
					"If yes provision for standard/drawing attachment": { jp: "はいの場合、標準/図面添付の規定", en: "If yes provision for standard/drawing attachment" },
					"Calibration Details": { jp: "校正の詳細", en: "Calibration Details" },
					"Master Instrument Name": { jp: "マスター・インストゥルメント名", en: "Master Instrument Name" },
					"Instrument Id Number": { jp: "機器 ID 番号", en: "Instrument Id Number" },
					"Standard Reffered": { jp: "標準参照", en: "Standard Reffered" },
					"Date Of Receipt": { jp: "領収書の日付", en: "Date Of Receipt" },
					"Calibration Status": { jp: "校正ステータス", en: "Calibration Status" },
					"Is NABL": { jp: "NABLです", en: "Is NABL" },
					"Observation Template": { jp: "観察テンプレート", en: "Observation Template" },
					"Observation Type": { jp: "観測タイプ", en: "Observation Type" },
					"MU Template": { jp: "MU テンプレート", en: "MU Template" },
					"Certification Template": { jp: "証明書テンプレート", en: "Certification Template" },
					"Quaratine Instruments List": { jp: "検疫機器一覧", en: "Quaratine Instruments List" },
					"Instrument SNo": { jp: "楽器のSNo", en: "Instrument SNo" },
					"Instrument ID No": { jp: "機器 ID 番号", en: "Instrument ID No" },
					"Calibration Freq": { jp: "校正周波数", en: "Calibration Freq" },
					"Quarantine On": { jp: "検疫オン", en: "Quarantine On" },
					"Instrument Status": { jp: "楽器の状態", en: "Instrument Status" },
					"Template Name": { jp: "テンプレート名", en: "Template Name" },
					"Tracker List": { jp: "トラッカー リスト", en: "Tracker List" },
					"Request No": { jp: "リクエスト番号", en: "Request No" },
					"Request Date": { jp: "依頼日", en: "Request Date" },
					"Master Name": { jp: "マスターネーム", en: "Master Name" },
					"Master Serial": { jp: "マスターシリアル", en: "Master Serial" },
					"View": { jp: "意見", en: "View" },
					"Request Number": { jp: "要求番号", en: "Request Number" },
					"Requested Date": { jp: "依頼日", en: "Requested Date" },
					"Master Serial Number": { jp: "マスターシリアル番号", en: "Master Serial Number" },
					"Master Id Number": { jp: "マスター ID 番号", en: "Master Id Number" },
					"Accept": { jp: "受け入れる", en: "Accept" },
					"Reject": { jp: "拒絶", en: "Reject" },
					"Rejection Reason": { jp: "却下理由", en: "Rejection Reason" },
					"Submitted On": { jp: "提出日", en: "Submitted On" },
					"Rejected On": { jp: "拒否日", en: "Rejected On" },
					"Rejected Reason": { jp: "却下理由", en: "Rejected Reason" },
					"Record By": { jp: "記録者", en: "Record By" },
					"ClosedDate": { jp: "休業日", en: "ClosedDate" },
					"Result": { jp: "結果", en: "Result" },
					"Return Date": { jp: "返却日", en: "Return Date" },
					"Verified By": { jp: "検証者", en: "Verified By" },
					"LABResult": { jp: "LAB結果", en: "LABResult" },
					"External Request Details": { jp: "外部リクエストの詳細", en: "External Request Details" },
					"OverAll": { jp: "全体", en: "OverAll" },
					"New Request": { jp: "新しいリクエスト", en: "New Request" },
					"Regular Request": { jp: "通常のリクエスト", en: "Regular Request" },
					"ReCalibration Request": { jp: "再校正リクエスト", en: "ReCalibration Request" },
					"Request Type": { jp: "リクエストの種類", en: "Request Type" },
					"Test": { jp: "テスト", en: "Test" },
					"Certificate": { jp: "証明書", en: "Certificate" },
					"Instrument Id": { jp: "楽器ID", en: "Instrument Id" },
					"Reason for Rejection": { jp: "拒絶理由", en: "Reason for Rejection" },
					"Feasible to Service": { jp: "サービス可能", en: "Feasible to Service" },
					"Instument Returned On": { jp: "返却日", en: "Instument Returned On" },
					"If Feasible service, Yes": { jp: "実現可能なサービスの場合、はい", en: "If Feasible service, Yes" },
					"Service Responsibility": { jp: "サービス責任", en: "Service Responsibility" },
					"Collected By": { jp: "収集者", en: "Collected By" },
					"Closed Date": { jp: "休館日", en: "Closed Date" },
					"Instrument Condition": { jp: "機器の状態", en: "Instrument Condition" },
					"Feasiblity": { jp: "実現可能性", en: "Feasiblity" },
					"Standard Reffered/Calibration Method": { jp: "標準参照/校正方法", en: "Standard Reffered/Calibration Method" },
					"NABL": { jp: "NABL", en: "NABL" },
					"Tentative Closing Date": { jp: "仮締め日", en: "Tentative Closing Date" },
					"Type Of Request": { jp: "リクエストのタイプ", en: "Type Of Request" },
					"Request By": { jp: "による要求", en: "Request By" },
					"Request Details": { jp: "リクエストの詳細", en: "Request Details" },
					"Received Date": { jp: "受け取った日付", en: "Received Date" },
					"Received By": { jp: "が受信した", en: "Received By" },
					"Reference Standard/Calibration Method": { jp: "参照標準/キャリブレーション方法", en: "Reference Standard/Calibration Method" },
					"Observation Template Type": { jp: "観測テンプレート タイプ", en: "Observation Template Type" },
					"Certification Tmeplate": { jp: "認証タイムプレート", en: "Certification Tmeplate" },
					"Feedback User List": { jp: "フィードバック ユーザー リスト", en: "Feedback User List" },
					"Laboratory": { jp: "ラボ", en: "Laboratory" },
					"Submit List": { jp: "提出リスト", en: "Submit List" },
					"Short Id": { jp: "短い ID", en: "Short Id" },
					"Feedback Status": { jp: "フィードバックのステータス", en: "Feedback Status" },
					"Reviewed List": { jp: "レビュー済みリスト", en: "Reviewed List" },
					"You dont have access for the Feedback Form!!!": { jp: "フィードバック フォームにアクセスできません!!!", en: "You dont have access for the Feedback Form!!!" },
					"Invite Date": { jp: "招待日", en: "Invite Date" },
					"Feedback User List": { jp: "フィードバック ユーザー リスト", en: "Feedback User List" },
					"Intermediate Data List": { jp: "中間データ一覧", en: "Intermediate Data List" },
					"Master Equipment": { jp: "マスター装備", en: "Master Equipment" },
					"Accuracy Equipment Name": { jp: "精度機器名", en: "Accuracy Equipment Name" },
					"Study Performed by": { jp: "研究実施者", en: "Study Performed by" },
					"Study Performed Date": { jp: "試験実施日", en: "Study Performed Date" },
					"Document Status": { jp: "ドキュメントのステータス", en: "Document Status" },
					"Alternative Calibration List": { jp: "代替校正リスト", en: "Alternative Calibration List" },
					"Equipment1 Name": { jp: "機器1名", en: "Equipment1 Name" },
					"Equipment2 Name": { jp: "機器2名", en: "Equipment2 Name" },
					"Mux1": { jp: "Mux1", en: "Mux1" },
					"Mux2": { jp: "Mux2", en: "Mux2" },
					"EnValue": { jp: "エンバリュー", en: "EnValue" },
					"Replicate Test": { jp: "テストを繰り返す", en: "Replicate Test" },
					"Range or Size": { jp: "範囲またはサイズ", en: "Range or Size" },
					"LC": { jp: "LC", en: "LC" },
					"Evaluated By": { jp: "評価者", en: "Evaluated By" },
					"Instrument Type": { jp: "楽器の種類", en: "Instrument Type" },
					"Generate Chart": { jp: "グラフを生成", en: "Generate Chart" },
					"Year": { jp: "年", en: "Year" },
					"Month": { jp: "月", en: "Month" },
					"Target%": { jp: "目標％", en: "Target%" },
					"Observation Sheet": { jp: "観察シート", en: "Observation Sheet" },
					"General": { jp: "全般的", en: "General" },
					"Observation Sheet<br> General": { jp: "観察シート<br> 一般", en: "Observation Sheet<br> General" },
					"Format No.": { jp: "フォーマット番号", en: "Format No." },
					"RevNo &  Date": { jp: "RevNo &", en: "RevNo &  Date" },
					"Serial No.": { jp: "シリアル番号。", en: "Serial No." },
					"ID No.": { jp: "アイディー番号。", en: "ID No." },
					"Ref Std": { jp: "参照基準", en: "Ref Std" },
					"Temp@Start": { jp: "Temp@Start", en: "Temp@Start" },
					"Temp@End": { jp: "Temp@End", en: "Temp@End" },
					"Humidity %RH": { jp: "湿度 %RH", en: "Humidity %RH" },
					"Condition of the Instrument": { jp: "楽器の状態", en: "Condition of the Instrument" },
					"Ref WI: ": { jp: "参照WI:", en: "Ref WI: " },
					"All Values Are In": { jp: "すべての値が入っています", en: "All Values Are In" },
					"Add New Row": { jp: "新しい行を追加", en: "Add New Row" },
					"Measured": { jp: "測定", en: "Measured" },
					"Trial-1": { jp: "試行-1", en: "Trial-1" },
					"Trial-2": { jp: "試行-2", en: "Trial-2" },
					"Trial-3": { jp: "試行-3", en: "Trial-3" },
					"Average": { jp: "平均", en: "Average" },
					"Calibration Performed By": { jp: "キャリブレーション実施者", en: "Calibration Performed By" },
					"Reviewed By": { jp: "によってレビュー", en: "Reviewed By" },
					"Date:": { jp: "日にち：", en: "Date:" },
					"Cancel": { jp: "キャンセル", en: "Cancel" },
					"Type / Model": { jp: "種類・型式", en: "Type / Model" },
					"Range/LC:": { jp: "範囲/LC:", en: "Range/LC:" },
					"Make:": { jp: "作る：", en: "Make:" },
					"ID No:": { jp: "アイディー番号：", en: "ID No:" },
					"Ref Std.": { jp: "参照基準", en: "Ref Std." },
					"CALIBRATION RESULTS ": { jp: "キャリブレーション結果", en: "CALIBRATION RESULTS " },
					"SL.No": { jp: "SL.いいえ", en: "SL.No" },
					"NOMINALANGLE": { jp: "公称角度", en: "NOMINALANGLE" },
					"ERRORinDMS": { jp: "DMS のエラー", en: "ERRORinDMS" },
					"Quadrant-1": { jp: "象限-1", en: "Quadrant-1" },
					"Quadrant-2": { jp: "象限-2", en: "Quadrant-2" },
					"Quadrant-3": { jp: "象限-3", en: "Quadrant-3" },
					"Quadrant-4": { jp: "象限-4", en: "Quadrant-4" },
					"All Values are in mm ": { jp: "すべての値は mm 単位です", en: "All Values are in mm " },
					"Spec": { jp: "仕様", en: "Spec" },
					"Actual": { jp: "実際", en: "Actual" },
					"DevFromNom": { jp: "DevFromNom", en: "DevFromNom" },
					"Straightness of Working Edge": { jp: "切刃の真直度", en: "Straightness of Working Edge" },
					"Parallelism of Working Edge": { jp: "刃先の平行度", en: "Parallelism of Working Edge" },
					"Flatness of Blade": { jp: "刃の平面度", en: "Flatness of Blade" },
					"Calibration Performed By": { jp: "キャリブレーション実施者", en: "Calibration Performed By" },
					"Reveiwed By": { jp: "によってレビュー", en: "Reveiwed By" },
					"ID No": { jp: "アイディー番号", en: "ID No" },
					"Condition of the Dial Indicator ": { jp: "ダイヤルインジケーターの状態", en: "Condition of the Dial Indicator " },
					"Sl No.": { jp: "Sl No.", en: "Sl No." },
					"Parameter": { jp: "パラメータ", en: "Parameter" },
					"DirectionA": { jp: "方向", en: "DirectionA" },
					"DirectionB": { jp: "方向B", en: "DirectionB" },
					"Indicator Error": { jp: "インジケータエラー", en: "Indicator Error" },
					"Measuring Range": { jp: "測定範囲", en: "Measuring Range" },
					"10 Scale Division": { jp: "10スケール部門", en: "10 Scale Division" },
					"Hysteresis": { jp: "ヒステリシス", en: "Hysteresis" },
					"Repeatability": { jp: "再現性", en: "Repeatability" },
					"Linear Accuracy": { jp: "線形精度", en: "Linear Accuracy" },
					"Avg.": { jp: "平均", en: "Avg." },
					"MU": { jp: "ムー", en: "MU" },
					"Trail1": { jp: "トレイル1", en: "Trail1" },
					"Trail2": { jp: "トレイル2", en: "Trail2" },
					"Trail3": { jp: "トレイル3", en: "Trail3" },
					"Interval": { jp: "間隔", en: "Interval" },
					"Flatness Spec": { jp: "平坦度仕様", en: "Flatness Spec" },
					"Flatness1": { jp: "平坦度1", en: "Flatness1" },
					"Flatness2": { jp: "平坦度2", en: "Flatness2" },
					"Parallelism Spec:": { jp: "並列処理仕様:", en: "Parallelism Spec:" },
					"Actual :": { jp: "実際 ：", en: "Actual :" },
					"Condition of the Dial Indicator & observations if any : ": { jp: "ダイヤル インジケータの状態と所見 (ある場合) :", en: "Condition of the Dial Indicator & observations if any : " },
					"Mechanical Plunger Dial Indicator": { jp: "メカニカル プランジャ ダイヤル インジケータ", en: "Mechanical Plunger Dial Indicator" },
					"SI No.": { jp: "SI番号", en: "SI No." },
					"Whole Measuring Range": { jp: "全測定範囲", en: "Whole Measuring Range" },
					"½ Revolution": { jp: "½回転", en: "½ Revolution" },
					"1 Revolution": { jp: "1回転", en: "1 Revolution" },
					"Narrow range adjacent error": { jp: "狭範囲隣接誤差", en: "Narrow range adjacent error" },
					"Retrace Error": { jp: "リトレースエラー", en: "Retrace Error" },
					"Digital Plunger Dial Indicator": { jp: "デジタルプランジャダイヤルインジケータ", en: "Digital Plunger Dial Indicator" },
					"± 1 count": { jp: "±1カウント", en: "± 1 count" },
					"1 count = 1 least count": { jp: "1 カウント = 1 最小カウント", en: "1 count = 1 least count" },
					"1 count": { jp: "1カウント", en: "1 count" },
					"Accuracy Overall": { jp: "精度全体", en: "Accuracy Overall" },
					" ± 3 counts": { jp: "±3カウント", en: " ± 3 counts" },
					"Accuracy Micro calibration": { jp: "精度 マイクロキャリブレーション", en: "Accuracy Micro calibration" },
					"Remarks : ": { jp: "備考 ：", en: "Remarks : " },
					"Daimler": { jp: "ダイムラー", en: "Daimler" },
					"Rev.No & Date": { jp: "Rev.No & Date", en: "Rev.No & Date" },
					"Designation:": { jp: "指定：", en: "Designation:" },
					"Section/Dept": { jp: "課・部", en: "Section/Dept" },
					"Laboratory Name": { jp: "研究室名", en: "Laboratory Name" },
					"Rating scale": { jp: "評価尺度", en: "Rating scale" },
					"Rating (Please ✓ the appropriate box)": { jp: "評価 (該当するボックスに✓してください)", en: "Rating (Please ✓ the appropriate box)" },
					"Score": { jp: "スコア", en: "Score" },
					"10": { jp: "十", en: "10" },
					"9": { jp: "九", en: "9" },
					"8": { jp: "八", en: "8" },
					"7": { jp: "七", en: "7" },
					"Excellent": { jp: "素晴らしい", en: "Excellent" },
					"Good": { jp: "良い", en: "Good" },
					"Satisfactory": { jp: "満足", en: "Satisfactory" },
					"Poor": { jp: "貧しい", en: "Poor" },
					"Evaluation Criteria": { jp: "評価基準", en: "Evaluation Criteria" },
					"Rating": { jp: "評価", en: "Rating" },
					"Quality": { jp: "品質", en: "Quality" },
					"Quality of Services offered (Test / Calibration)": { jp: "提供されるサービスの品質 (テスト / 校正)", en: "Quality of Services offered (Test / Calibration)" },
					"Reliability of test / calibration results": { jp: "試験・校正結果の信頼性", en: "Reliability of test / calibration results" },
					"Personnel competency": { jp: "人事能力", en: "Personnel competency" },
					"Technical capability & support": { jp: "技術力とサポート", en: "Technical capability & support" },
					"Test / Calibration report accuracy": { jp: "テスト/校正レポートの精度", en: "Test / Calibration report accuracy" },
					"Safeguarding of customer data / drawing": { jp: "顧客データ/図面の保護", en: "Safeguarding of customer data / drawing" },
					"Delivery": { jp: "配達", en: "Delivery" },
					"On-time delivery of test / calibration reports": { jp: "テスト/校正レポートの納期厳守", en: "On-time delivery of test / calibration reports" },
					"Response to customer request / complaint": { jp: "お客様のご要望・苦情への対応", en: "Response to customer request / complaint" },
					"Complaint resolution": { jp: "苦情の解決", en: "Complaint resolution" },
					"Emergency support": { jp: "緊急サポート", en: "Emergency support" },
					"Handling of Test / calibration items": { jp: "試験・校正項目の取り扱い", en: "Handling of Test / calibration items" },
					"Commitment": { jp: "献身", en: "Commitment" },
					"Management": { jp: "管理", en: "Management" },
					"Communication & accessibility": { jp: "コミュニケーションとアクセシビリティ", en: "Communication & accessibility" },
					"Documentation & Reporting system": { jp: "文書化および報告システム", en: "Documentation & Reporting system" },
					"Facilities and Environment conditions": { jp: "施設・環境条件", en: "Facilities and Environment conditions" },
					"5S management": { jp: "5S管理", en: "5S management" },
					"Impartiality & confidentiality": { jp: "公平性と機密保持", en: "Impartiality & confidentiality" },
					"Overall score obtained": { jp: "獲得した総合スコア", en: "Overall score obtained" },
					"Overall percentage (%)": { jp: "全体の割合 (%)", en: "Overall percentage (%)" },
					"Comments / Suggestions if any :": { jp: "コメント/提案があれば:", en: "Comments / Suggestions if any :" },
					"Customer Name": { jp: "顧客名", en: "Customer Name" },
					"Laboratory Use": { jp: "実験室での使用", en: "Laboratory Use" },
					"Reviewed By: ": { jp: "によってレビューされた：", en: "Reviewed By: " },
					"Action Required": { jp: "必要なアクション", en: "Action Required" },
					"Yes": { jp: "はい", en: "Yes" },
					"No": { jp: "いいえ", en: "No" },
					"Proposed Actions": { jp: "提案された行動", en: "Proposed Actions" },
					"Target Date": { jp: "予定期限", en: "Target Date" },
					"Responsibility": { jp: "責任", en: "Responsibility" },
					"File Attachment": { jp: "添付ファイル", en: "File Attachment" },
					"Review": { jp: "レビュー", en: "Review" },
					"New Request Creation": { jp: "新しいリクエストの作成", en: "New Request Creation" },
					"Commisionned On:": { jp: "委託先:", en: "Commisionned On:" },
					"Request List": { jp: "依頼一覧", en: "Request List" },
					"SerialNo": { jp: "シリアル番号", en: "SerialNo" },
					"Group Name": { jp: "グループ名", en: "Group Name" },
					"No of requests received": { jp: "受け取ったリクエストの数", en: "No of requests received" },
					"Completed on same day": { jp: "即日完了", en: "Completed on same day" },
					"Within 1 day": { jp: "1日以内", en: "Within 1 day" },
					"Within 2 days": { jp: "2日以内", en: "Within 2 days" },
					"Within 3 days": { jp: "3日以内", en: "Within 3 days" },
					"More than 3 days": { jp: "3日以上", en: "More than 3 days" },
					"KPI% Calculation(Within 2 days)": { jp: "KPI%計算(2日以内)", en: "KPI% Calculation(Within 2 days)" },
					"Add New User": { jp: "新しいユーザーを追加", en: "Add New User" },
					"Add New Contact": { jp: "新しい連絡先を追加", en: "Add New Contact" },
					"Add New Instrument": { jp: "新しい楽器を追加", en: "Add New Instrument" },
					"Quratine List": { jp: "検疫リスト", en: "Quratine List" },
					"Instrument List": { jp: "楽器リスト", en: "Instrument List" },
					"Please enter Department Name": { jp: "部署名を入力してください", en: "Please enter Department Name" },
					"Please provide Department Description": { jp: "部門の説明を入力してください", en: "Please provide Department Description" },
					"Please enter a email address or short name": { jp: "メールアドレスまたは短い名前を入力してください", en: "Please enter a email address or short name" },
					"Please provide a password": { jp: "パスワードを入力してください", en: "Please provide a password" },
					"Please enter your name": { jp: "お名前を入力してください", en: "Please enter your name" },
					"Please enter your department name": { jp: "部署名を入力してください", en: "Please enter your department name" },
					"Please provide your email address": { jp: "メールアドレスを入力してください", en: "Please provide your email address" },
					"Please provide your phone number": { jp: "電話番号を入力してください", en: "Please provide your phone number" },
					"Please enter Instrument Name": { jp: "楽器名を入力してください", en: "Please enter Instrument Name" },
					"Please enter the Serial Number": { jp: "シリアル番号を入力してください", en: "Please enter the Serial Number" },
					"Please enter Range": { jp: "範囲を入力してください", en: "Please enter Range" },
					"Please enter Unit": { jp: "単位を入力してください", en: "Please enter Unit" },
					"Please enter the user department": { jp: "ユーザー部門を入力してください", en: "Please enter the user department" },
					"Please fill this field": { jp: "このフィールドに入力してください", en: "Please fill this field" },
					"Please enter the Status": { jp: "ステータスを入力してください", en: "Please enter the Status" },
					"Please provide the Calibration Source": { jp: "校正ソースを提供してください", en: "Please provide the Calibration Source" },
					"Please provide the Calibration Frequency": { jp: "校正頻度を入力してください", en: "Please provide the Calibration Frequency" },
					"Please enter Equipment Name": { jp: "機器名を入力してください", en: "Please enter Equipment Name" },
					"Please enter the location": { jp: "場所を入力してください", en: "Please enter the location" },
					"Please provide the P.O. Number": { jp: "P.O.を入力してください。番号", en: "Please provide the P.O. Number" },
					"Please provide the date": { jp: "日付を入力してください", en: "Please provide the date" },
					"Please provide the amount": { jp: "金額を教えてください", en: "Please provide the amount" },
					"Please provide the supplier or agency": { jp: "サプライヤーまたは代理店を入力してください", en: "Please provide the supplier or agency" },
					"Please provide lab Id": { jp: "ラボ ID を入力してください", en: "Please provide lab Id" },
					"Please provide supplier name": { jp: "サプライヤー名を入力してください", en: "Please provide supplier name" },
					"Please provide supplier phone number": { jp: "サプライヤーの電話番号を入力してください", en: "Please provide supplier phone number" },
					"Please provide supplier Email address": { jp: "サプライヤーの電子メールアドレスを入力してください", en: "Please provide supplier Email address" },
					"Please enter your first name": { jp: "お名前を入力してください", en: "Please enter your first name" },
					"Please enter your last name": { jp: "あなたの姓を入力", en: "Please enter your last name" },
					"Please provide user role": { jp: "ユーザーの役割を入力してください", en: "Please provide user role" },
					"Please provide the Email address": { jp: "メールアドレスを入力してください", en: "Please provide the Email address" },
					"Please provide the mobile number": { jp: "携帯番号を教えてください", en: "Please provide the mobile number" },
					"Please provide the department name": { jp: "部署名を教えてください", en: "Please provide the department name" },
					"Short Name": { jp: "略称", en: "Short Name" },
					"Email Address": { jp: "電子メールアドレス", en: "Email Address" },
					"ShortID": { jp: "ショートID", en: "ShortID" },
					"L3 Manager Email": { jp: "L3 マネージャーの電子メール", en: "L3 Manager Email" },
					"L4 Manager Email": { jp: "L4 マネージャーの電子メール", en: "L4 Manager Email" },
					"L5 Manager Email": { jp: "L5 マネージャーの電子メール", en: "L5 Manager Email" },
					"L6 Manager Email": { jp: "L6 マネージャーの電子メール", en: "L6 Manager Email" },
					"Enter Reason for Quarantine": { jp: "検疫の理由を入力してください", en: "Enter Reason for Quarantine" },
					"Email Sended Succesfully": { jp: "メールが正常に送信されました", en: "Email Sended Succesfully" },
					"Please Check your Email": { jp: "メールを確認してください", en: "Please Check your Email" },
					"Email Address Not Present.": { jp: "メールアドレスがありません。", en: "Email Address Not Present." },
					"Password Updated Successfully.": { jp: "パスワードが正常に更新されました。", en: "Password Updated Successfully." },
					"Invite Feedback Id": { jp: "フィードバックの招待 ID", en: "Invite Feedback Id" },
					"Please choose appropriate Laboratory": { jp: "適切な研究室を選択してください", en: "Please choose appropriate Laboratory" },
					"Please give rating for Quality of Service!": { jp: "サービスの質を評価してください!", en: "Please give rating for Quality of Service!" },
					"Please give rating for Reliability of Test!": { jp: "テストの信頼性を評価してください!", en: "Please give rating for Reliability of Test!" },
					"Please give rating for Personnel Competency!": { jp: "人事能力の評価をお願いします!", en: "Please give rating for Personnel Competency!" },
					"Please give rating for Technical Capability!": { jp: "技術力の評価をお願いします!", en: "Please give rating for Technical Capability!" },
					"Please give rating for Test Calibration!": { jp: "テストキャリブレーションの評価をお願いします!", en: "Please give rating for Test Calibration!" },
					"Please give rating for Response To Customer!": { jp: "Response To Customer の評価をお願いします!", en: "Please give rating for Response To Customer!" },
					"Please give rating for Complaint Resolution!": { jp: "苦情解決の評価をお願いします!", en: "Please give rating for Complaint Resolution!" },
					"File Size Should Not Exceed More Than 5MB": { jp: "ファイル サイズは 5 MB を超えてはなりません", en: "File Size Should Not Exceed More Than 5MB" },
					"Sucessfully Submited...": { jp: "正常に送信されました...", en: "Sucessfully Submited..." },
					"Invalid User, Please give Level Access or Create a new User and provide Level Access for this user.": { jp: "無効なユーザーです。レベル アクセス権を付与するか、新しいユーザーを作成して、このユーザーにレベル アクセス権を付与してください。", en: "Invalid User, Please give Level Access or Create a new User and provide Level Access for this user." },
					"User Deleted Successfully": { jp: "ユーザーが正常に削除されました", en: "User Deleted Successfully" },
					"User Assigned succesfully": { jp: "ユーザーが正常に割り当てられました", en: "User Assigned succesfully" },
					"Deleting User and Assigning are same please Change verify it": { jp: "ユーザーの削除と割り当ては同じです変更を確認してください", en: "Deleting User and Assigning are same please Change verify it" },
					"User Not Deleted Successfully": { jp: "ユーザーが正常に削除されませんでした", en: "User Not Deleted Successfully" },
					"Please check uploaded files are Invalid!": { jp: "アップロードされたファイルが無効であることを確認してください!", en: "Please check uploaded files are Invalid!" },
					"Home": { jp: "家", en: "Home" },
					"Add New Intermediate Data": { jp: "新しい中間データを追加", en: "Add New Intermediate Data" },
					"Add New Calibration": { jp: "新しいキャリブレーションを追加", en: "Add New Calibration" },
					"Add New": { jp: "新しく追加する", en: "Add New" },
					"SendInvite": { jp: "招待を送る", en: "SendInvite" },
					"Session Expired! Please login to continue your work.": { jp: "セッションの有効期限が切れ！ログインして作業を続けてください。", en: "Session Expired! Please login to continue your work." },
					
					"Please fill the reason for Quarantine": { jp: "検疫の理由を記入してください", en: "Please fill the reason for Quarantine" },
					"Instrument moved to quarantine list": { jp: "楽器は検疫リストに移動しました", en: "Instrument moved to quarantine list"},
					"You are accepted the request. LAB admin get notified!": { jp: "リクエストを受け付けます。 LAB 管理者に通知を受け取ります。", en: "You are accepted the request. LAB admin get notified!"},
					"You are rejected the request. LAB admin get notified!": { jp: "リクエストを拒否されました。 LAB 管理者に通知を受け取ります。", en: "You are rejected the request. LAB admin get notified!"},
					"Your visual check details recorded.": { jp: "目視チェックの詳細が記録されました。", en: "Your visual check details recorded."},
					"Please choose either Accept / Reject and try again.": { jp: "承認/拒否のいずれかを選択して、もう一度やり直してください。", en: "Please choose either Accept / Reject and try again."},
					"Please enter reason for rejection and try again.": { jp: "拒否の理由を入力して、もう一度お試しください。", en: "Please enter reason for rejection and try again."},
					"Enter Reason for Quarantine": { jp: "検疫の理由を入力してください", en: "Enter Reason for Quarantine"},
					"Master moved to quarantine list": { jp: "マスターは検疫リストに移動しました", en: "Master moved to quarantine list"},
					"Master Activated Successfully": { jp: "マスターが正常にアクティブ化されました", en: "Master Activated Successfully"},
					"Instrument moved to quarantine list": { jp: "楽器は検疫リストに移動しました", en: "Instrument moved to quarantine list"},
					"Instrument Unquarantine successfully": { jp: "検疫の解除に成功しました", en: "Instrument Unquarantine successfully"},
					"Please choose either Accept / Reject and try again.": { jp: "承認/拒否のいずれかを選択して、もう一度やり直してください。", en: "Please choose either Accept / Reject and try again."},
					"Please enter reason for rejection and try again.": { jp: "拒否の理由を入力して、もう一度お試しください。", en: "Please enter reason for rejection and try again."},
					"You are accepted the request. Department User get notified!": { jp: "リクエストを受け付けます。部門ユーザーに通知が届きます!", en: "You are accepted the request. Department User get notified!"},
					"You are rejected the request. LAB admin get notified!": { jp: "リクエストを拒否されました。 LAB 管理者に通知を受け取ります。", en: "You are rejected the request. LAB admin get notified!"},
					"Certificate Updated Successfully": { jp: "証明書が正常に更新されました", en: "Certificate Updated Successfully"},
					"You are accepted the request. Department User get notified!": { jp: "リクエストを受け付けます。部門ユーザーに通知が届きます!", en: "You are accepted the request. Department User get notified!"},
					"Data Saved Successfully": { jp: "データは正常に保存されました", en: "Data Saved Successfully"},
					"Maximum 4 Equipment Allowed": { jp: "最大4つの装備が許可されています", en: "Maximum 4 Equipment Allowed"},
					"Master Equipment Added Successfully": { jp: "マスター装備が正常に追加されました", en: "Master Equipment Added Successfully"},
					"Please enter the Calibration Result!!!": { jp: "校正結果を入力してください!!!", en: "Please enter the Calibration Result!!!"},
					"You will save Certificate and Generate QR Code with Pdf file!": { jp: "証明書を保存し、PDF ファイルで QR コードを生成します。", en: "You will save Certificate and Generate QR Code with Pdf file!"},
					"Are you want Generate QR Code with Pdf file?": { jp: "PDFファイルでQRコードを生成しますか?", en: "Are you want Generate QR Code with Pdf file?"},
					"Certificate Updated Successfully": { jp: "証明書が正常に更新されました", en: "Certificate Updated Successfully"},
					"Your details recorded.": { jp: "あなたの詳細が記録されました。", en: "Your details recorded."},
					"Warning": { jp: "警告", en: "Warning"},
					"Error": { jp: "エラー", en: "Error"},


					"Success": { jp: "成功", en: "Success" },
					"Failure": { jp: "失敗", en: "Failure" },
					"Invalid Password": { jp: "無効なパスワード", en: "Invalid Password" },
					"Invalid UserName": { jp: "無効なユーザー名", en: "Invalid UserName" },
					"No records found": { jp: "レコードが見つかりません", en: "No records found" },
					"Already user(s) has invited..!": { jp: "すでにユーザーが招待しています..!", en: "Already user(s) has invited..!" },
					"Successfully sent invite...": { jp: "招待状を送信しました...", en: "Successfully sent invite..." },
					"2021 - Calibration Management - ": { jp: "2021 - 校正管理 -", en: "2021 - Calibration Management - " },
					"Privacy": { jp: "プライバシー", en: "Privacy" },
					"Version": { jp: "バージョン", en: "Version" },
					"Version": { jp: "バージョン", en: "Version" },
					"Showing": { jp: "表示中", en: "Showing" },
					"to": { jp: "に", en: "to" },
					"of": { jp: "の", en: "of" },
					"entries": { jp: "エントリ", en: "entries" },
					"Previous": { jp: "前", en: "Previous" },
					"First": { jp: "初め", en: "First" },
					"Last": { jp: "最後", en: "Last" },
					"Next": { jp: "次", en: "Next" },
					"Show": { jp: "見せる", en: "Show" },
					"No data available in table": { jp: "テーブルにデータがありません", en: "No data available in table" },
					"Search:": { jp: "検索：", en: "Search:" },
					"No matching records found": { jp: "該当する記録が見つかりません", en: "No matching records found" },
					"filtered from": { jp: "からフィルタリング", en: "filtered from" },
					"total entries": { jp: "総エントリー数", en: "total entries" },
					// Only for Place Holder Jp to EN
					"説明": { jp: "説明", en: "Description" },
					"部署名": { jp: "部署名", en: "Department Name" },
					"名前": { jp: "名前", en: "Name" },
					"Eメール": { jp: "Eメール", en: "Email" },
					"モバイル番号": { jp: "モバイル番号", en: "Mobile No" },
					"略称": { jp: "略称", en: "Short Name" },
					"ファーストネーム": { jp: "ファーストネーム", en: "First Name" },
					"苗字": { jp: "苗字", en: "Last Name" },
					"電子メールアドレス": { jp: "電子メールアドレス", en: "Email Address" },
					"携帯電話番号": { jp: "携帯電話番号", en: "Mobile Number" },
					"ショートID": { jp: "ショートID", en: "ShortID" },
					"L3 マネージャーの電子メール": { jp: "L3 マネージャーの電子メール", en: "L3 Manager Email" },
					"L4 マネージャーの電子メール": { jp: "L4 マネージャーの電子メール", en: "L4 Manager Email" },
					"L5 マネージャーの電子メール": { jp: "L5 マネージャーの電子メール", en: "L5 Manager Email" },
					"L6 マネージャーの電子メール": { jp: "L6 マネージャーの電子メール", en: "L6 Manager Email" },
					"署名を選択": { jp: "署名を選択", en: "Choose Signature" }
				}
				return dict;
			}
			function AlertPopup(message) {
				console.log(message);
				console.log(language);
				alert(dict[message][language]);
			}

			function DataTableCall() {
				$('.Lagtab').DataTable().destroy()
				$('.Lagtab').DataTable({
					"language": {
						url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/ja.json",
					}
				});
			}
			function DataTableCallEn() {
				$('.Lagtab').DataTable().destroy()
				$('.Lagtab').DataTable({
					"language": {
						url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/en-GB.json",
					}
				});
			}
			function Conversion() {
				var translator = $('body').translate({ lang: language, t: dict });
			}
		</script>
	</div>

</body>

</html>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
	 aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="modelBody">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>