@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<script src="~/js/3.3.1Version/jquery.min.js"></script>
<style>
    table,
    th,
    tr,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    .Border0px {
        width: 100%;
    }

    .TableWidth {
        width: 100%;
    }

    .TableDataCenter {
        width: 100%;
        text-align: center;
    }

    .MeasuredRow {
        margin-left: -5px;
        margin-right: -5px;
    }

    .Measuredcolumn {
        float: left;
        width: 100%;
    }

    .textcenterborder {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    .textleftborder {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }

    .sizeborder {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>


<div class="row">    
    <div class="col-md-12" style="padding: 19px;border: 1px solid black; background-color: white;">
        <table class="TableWidth">
            <tr class="sizeborder">
                <td class="textcenterborder" rowspan="2" style="font-weight: bolder;color: #2979cb ;width:150px"
                    height="40">
                    <img src="../image/Fuso.png" alt="" style="width: 75%;" />
                </td>
                <td class="textcenterborder" rowspan="3" style="font-weight: bold;font-size: 20px;">
                    <span class="trn">Observation Sheet External Calibration</span> <br />     
                    <span class="trn">観察シート外部校正</span>
                </td>
                <td class="textleftborder trn" height="20" width="70">Format No.</td>
                <td class="textcenterborder trn">365.QM.D.824</td>
            </tr>
            <tr>
                <td class="textleftborder" height="20" width="70">
                    <span class="trn">RevNo & </span></br> <span class="trn">Date</span>
                </td>
                <td class="textcenterborder trn">01/ 14.11.2018</td>
            </tr>
        </table>
        <br>

        <table class="TableWidth">
            <tr>               

                <td colspan="2" class="textcenterborder"><span>品名コード-社番／</span><br /><span>Instrument ID number</span></td>
                <td colspan="1">@Model.IdNo</td>
                <td colspan="2" class="textcenterborder"><span>品名   ／</span><br /><span>Instrument name</span></td>
                <td colspan="3">@Model.Name</td>
                <td colspan="2" class="textcenterborder"><span>製造者／</span><br /><span> Make</span></td>
                <td colspan="2">@Model.Make</td>

            </tr>
            <tr>               

                <td class="textcenterborder" colspan="2"><span>製造番号 /Serial Number</span></td>
                <td colspan="1">@Model.SerialNo</td>
                <td class="textcenterborder" colspan="2"><span>等級   ／</span><br /><span>Grade</span></td>
                <td colspan="3">@Model.Grade</td>
                <td colspan="2" class="textcenterborder"><span>能力(測定範囲）／</span><br /> <span>Range</span></td>
                <td colspan="2">@Model.Range</td>
            </tr>
            <tr>
                <td class="textcenterborder" colspan="6"><span>基準器・標準器・検査設備機器／</span><br /><span> Standard instruments (Master instrument)</span></td>
                <td class="textcenterborder" colspan="3"><span>参照基準／</span><br /><span>Reference standards</span></td>
                <td colspan="3"> @Model.RefStd</td>
            </tr>
            <tr>

                <td colspan="6"><span>Refer external calibartion report / 外部校正レポートを参照してください</span></td>

                <td class="textcenterborder" colspan="3">
                    <span>単位／ Unit</span>
                </td>
                <td colspan="3"><input type="text" style="height: 50px;width:100%" value="-" class="Tables-AndTablesTextBox" name="Units" id="Units" readonly></td>
            </tr>

            <tr>
                <td colspan="1"><span>検査室温度 °C／ Temperature °C</span></td>
                <td colspan="2"><input type="text" value="-" id="TempStart" class="Tables-AndTablesTextBox" style="height: 60px;" readonly></td>
                <td colspan="1"><span>検査室湿度 %RH／ Humidity %RH</span></td>
                <td colspan="2"><input type="text" value="-" id="Humidity" class="Tables-AndTablesTextBox" style="height: 60px;" readonly></td>
                <td colspan=2">
                    <span>外観・機能／Visual Check</span>
                </td>
                <td colspan="3">
                    <textarea name="ExtIndicatiorCondition" id="ExtIndicatiorCondition" style="width: 400px;height: 60px;" class="Tables-AndTablesTextBox" required="required">@Model.ExternalObsCondition</textarea>
                </td>
            </tr>
            
        </table>
        <br>
       

        <div class="TableWidth">
            <table align="center" style="width:100%">
                <tr>
                    <th colspan="3" class="trn">External Calibration</th>
                </tr>
                <tr>
                    <td rowspan="2" style="width:180px" class="trn">External report status</td>
                    <td style="width:80px" class="trn">Ok</td>
                    <td style="width:80px" class="trn">Not Ok</td>
                </tr>
                <tr>
                    <td><input type="radio" name="checkOk" id="checkOk" /></td>
                    <td><input type="radio" name="checkOk" id="checkNotOk" /></td>
                </tr>
            </table>
        </div>
        <br>
        @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "4")
        {
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ManagerEmail" class="trn">Signature Image</label>
                    <p id="SignImageName"></p>
                    @if (@Model.SignImageName != null)
                    {
                        <a href='~/Instrument/@Model.SignImageName' target="_blank">@Model.SignImageName</a>
                    }
                </div>
            </div>
        }
        <br>
        <table class="TableWidth">
            <tr>
                <td class="trn">検査員／Inspector</td>
                <td>
                    <input type="text" value="@Model.CalibrationPerformedBy" id="CalibrationPerformedBy" name="CalibrationPerformedBy"
                           class="Border0px" disabled>
                </td>

                <td class="trn">承認者／Approver</td>
                <td>
                    <input type="text" value="@Model.ReviewedBy" id="ReviewedBy" name="ReviewedBy" class="Border0px" disabled>
                </td>
            </tr>
            <tr>
                <td class="textcenterborder trn">検査日／Inspection date:</td>
                @if (true)
                {
                    var performDate = @Model.CalibrationPerformedDate.ToString("dd-MM-yyyy");
                    <td>
                        <input type="text" value="@performDate" id="CalibrationPerformedDate" name="CalibrationPerformedDate"
                               class="Border0px" disabled>
                    </td>
                }

                <td class="textcenterborder trn">承認日／Approved date:</td>

                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1"
                || @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
                {
                    <td>
                        <input type="text" name="Review_Date" id="Review_Date" value="@Model.Review_Date" class="Border0px" disabled>
                    </td>
                }
                else if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "4")
                {
                    <td>
                        <div class="form-group">
                            <div class="input-group date" id="reservationdate" data-target-input="nearest" onchange="$('#ReviewDate').attr('value',$('#ReviewDate').val());">
                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"
                                       id="ReviewDate" name="ReviewDate" value="@Model.CalibrationReviewedDate" @Model.IsDisabled>
                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </td>
                }
            </tr>
                
            @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "4") @*|| Model.ReviewStatus != null)*@
            {
                <tr>
                    <td class="textleftborder trn" style="text-align:center">判定 / Judgement</td>
                    <td class="textleftborder" colspan="3">
                        <div style="text-align: left;">
                            <label class="trn">合格 / Pass</label>
                            <input type="radio" name="Approve" id="Approve">
                            <label class="trn">失敗 / Fail</label>
                            <input type="radio" name="Approve" id="Reject">
                        </div>
                    </td>

                </tr>
            }

                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "4")
                {
                <tr id="trRejection" class="trhideRejection">
                    <td class="trn">拒否の理由／Reason For Rejection </td>
                    <td colspan="4"><textarea type="text" value=" " class="Tables-AndTablesTextBox TblInHeader" style="text-align:left; width:100%" id="Remarks" name="Remarks"></textarea></td>
                </tr>
                }
                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
                {
                <tr id="AdtrRejection" class="AdtrhideRejection">
                    <td class="trn">拒否の理由／Reason For Rejection </td>
                    <td colspan="4">
                        <textarea type="text" value=" " class="Tables-AndTablesTextBox TblInHeader" style="text-align:left; width:100%" id="AdRemarks" name="AdRemarks"></textarea>
                        </td>
                </tr>
                }

            @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") != "4")
            {
                <tr>
                    <td colspan="4">
                        @if (@Model.ReviewStatus == null || @Model.ReviewStatus == 0)
                        {
                            <input type="button" class="btn btn-primary trn" value="Save" name="Save" id="General" onclick="SaveExternalObservationSheet(language)">
                        }
                        <a class="btn btn-primary trn" href='@Url.Action("Request","Tracker",new {reqType=4})'>Cancel</a>
                    </td>
                </tr>
            }
            @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "4")
            {
                <tr>
                    <td colspan="4" style="text-align:center;">
                        @if (@Model.ReviewStatus == null || @Model.ReviewStatus == 0)
                        {
                            <input type="button" class="btn btn-primary trn" value="Submit Review" name="Submit" id="LeverDial" onclick="SubmitReview(language)" @Model.IsDisabled>
                        }
                        <a class="btn btn-primary trn" href='@Url.Action("Request","Tracker",new {reqType=4})'>Cancel</a>
                    </td>
                </tr>
            }

        </table>

        <input type="hidden" id="instrumentId" value="@Model.InstrumentId">
        <input type="hidden" id="RequestId" value="@Model.RequestId">
        <input type="hidden" name="Id" Id="Id" value="@Model.Id">
        <input type="hidden" id="ReviewStatus" name="ReviewStatus" value="@Model.ReviewStatus">
        <input type="hidden" id="AdminReviewStatus" name="AdminReviewStatus" value="@Model.AdminReviewStatus">
        <input type="hidden" id="TemplateObservationId" name="TemplateObservationId" value="@Model.Id">
        <input type="hidden" id="UserRoleId" name="UserRoleId" value="@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId")">



    </div>
    <div class="col-md-2"></div>
</div>


<script type="text/javascript">
    $(function () {
        $('.trhideRejection').hide();
        $('#AdtrRejection').hide();
        $('#checkOk').on('change', function () {
            if ($('#checkOk').not(this).prop('checked', false)) {
                $('#AdminReviewStatus').val(1);
                $('#AdtrRejection').hide();
                $('#AdRemarks').val(" ");
            }
        });

        $('#checkNotOk').on('change', function () {
            if ($('#checkNotOk').not(this).prop('checked', false)) {
                $('#AdminReviewStatus').val(2);
                $('#AdtrRejection').show();
            }

        });

        var reviewStatus = $('#AdminReviewStatus').val();
        if (reviewStatus == 1) {
            $('#checkOk').prop('checked', true);
            $('#checkNotOk').prop('checked', false);
        }
        else if (reviewStatus == 2) {
            $('#checkOk').prop('checked', false);
            $('#checkNotOk').prop('checked', true);
        }


        $('#Approve').on('change', function () {
            if ($('#Approve').not(this).prop('checked', false)) {
                $('#ReviewStatus').val(1);
                $('.trhideRejection').hide();
                $('#Remarks').val(" ");
            }
        });

        $('#Reject').on('change', function () {
            if ($('#Reject').not(this).prop('checked', false)) {
                $('#ReviewStatus').val(2);
                $('.trhideRejection').show();
            }
           
        });

        var reviewStatus = $('#ReviewStatus').val();
        var UserRoleId = $('#UserRoleId').val();
        if (reviewStatus == 1) {
            $('#Approve').prop('checked', true);
            $('#Reject').prop('checked', false);
        }
        else if (reviewStatus == 2) {
            $('#Approve').prop('checked', false);
            $('#Reject').prop('checked', true);
        }

        if(UserRoleId == 4)
        {
            $("#checkOk").prop("disabled", true);
            $("#checkNotOk").prop("disabled", true);
        }

    });


    setTimeout(function () {

        $('#reservationdate').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    }, 1000);
</script>




