@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en" translate="yes">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Document</title>
</head>

<body style="font-family: Calibri;">
    <!-- page1 start-->
    @*//Google Translater start//*@
    @*<div id="google_translate_element"></div>*@
    @*//Google Translater end//*@
    <div style="padding-left: 5%; padding-right: 5%; margin-bottom: 5%;">
        <table style="border-collapse: collapse; border:2px solid #000" >
            <tbody>
                <tr>
                    <td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:250px">
                        @if(Model.IsNABL ?? false)
                        {
                            <img src="../image/NABL.png" style="padding-top:5px;" width="100px" />
                        }
                        else
                        {
                            <img src="../image/Bharat_Benz.png" style="padding-top:5px;" width="150px" />
                        }
                    </td>
                    <td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:840px">
                        <div>
                            <h5 class="trn" style="margin: 5px;">Daimler India Commercial Vehicles Pvt. Ltd -Central Lab</h5>
                            <h5 style="margin: 5px; font-size: 12px; ">Daimler India Commercial Vehicles Pvt. Ltd -Central Lab</h5>

                            <p class="trn" style="margin: 5px; font-size: 12px;">SIPCOT Insdustrial Estate, Oragadam Village,Singaperumal Koil Road,</p>
                            

                            <p class="trn" style="margin: 5px; font-size: 12px;">Mathur(PO), Sriperumbadur Taluk, Kanchipuram -602105, Tamil Nadu, India.</p>
                     

                            <p class="trn" style="margin: 5px; font-size: 12px;">Phone: +91 44 4969 4456,</p>
                         
                            <p class="trn" style="margin: 5px; font-size: 12px;">Website: www.daimler-indiacv.com / .bharatbenz.com</p>
                               
                        </div>
                    </td>
                    <td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:100px">
                        <img style="padding-left:40px;padding-top:5px;" id="imgQRCode" height="150px" width="190px"
                            src="@ViewBag.QRCodeImage" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <h2 class="trn" style="text-align: center; text-transform: uppercase;">Certificate of calibration</h2>
        </div>
        <div style="border-collapse: collapse; border:2px solid #000">
            <div>
                <div style="padding: 10px;">
                    <div>
                        <p class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px; width: 600px;">I. Descriptions of DUC</p>
                           
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Certificate No</td>
                                <td  style="width:400px;padding-bottom: 25px;">
                                    : @Model.GeneralData.CertificateFormat
                                </td>
                                <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Report Issues Date</td>
                                <td style="width:400px;padding-bottom: 25px;">: @DateTime.Now.ToString("dd-MM-yyyy")
                                </td>
                            </tr>
                            @if(Model.IsNABL ?? false)
                            {
                                <tr>
                                    <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">ULR No</td>
                                    <td style="width:400px;padding-bottom: 25px;">:  @Model.GeneralData.ULRFormat</td>
                                    <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                                    <td style="width:400px;padding-bottom: 25px;"></td>
                                </tr>
                            }
                            <tr>
                                <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Date of Calibration</td>
                                
                                <td style="width:400px; padding-bottom: 25px;">:
                                    @Model.GeneralData.CalibrationPerformedDate.ToString("dd-MM-yyyy")</td>
                                <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Next Calibration Due</td>
                                
                                 @if(Model.Result == "Rejected")
                                    {
                                        <td style="width:400px; padding-bottom: 25px;">: --</td>
                                    }
                                    else
                                    {
                                <td style="width:400px; padding-bottom: 25px;">: @Model.DueDate.ToString("MMM-yyyy")</td>
                                    }
                            </tr>
                            <tr>
                                <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Name of the Customer</td>
                                <td style="width:400px; padding-bottom: 25px;">: @Model.DepartmentName</td>
                                <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                                <td style="width:400px;padding-bottom: 25px;"></td>
                            </tr>
                            <tr>
                                <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Department</td>
                                <td style="width:400px;padding-bottom: 25px;">: @Model.DepartmentName</td>
                                <td style="width:325px; font-weight: 900; padding-bottom: 25px;"></td>
                                <td style="width:400px; padding-bottom: 25px;"></td>
                            </tr>
                            <tr>
                                <td class="trn" style="width:325px; font-weight: 900; padding-bottom: 25px;">Date of Receipt</td>
                                <td style="width:400px; padding-bottom: 25px;">:
                                    @Model.DateOfReceipt.ToString("dd-MM-yyyy")</td>
                                <td style="width:325px; font-weight: 900; padding-bottom: 25px;"></td>
                                <td style="width:400px; padding-bottom: 25px;"></td>
                            </tr>
                            <tr>
                                <td class="trn" style="width:325px; font-weight:900; padding-bottom: 25px;">Description of Equipment</td>
                               <td style="width:400px; padding-bottom: 25px;">: @Model.InstrumentName</td>
                                <td style="width:325px; font-weight: 900; padding-bottom: 25px;"></td>
                                <td style="width:400px; padding-bottom: 25px;"></td>
                            </tr>
                        </tbody>
                    </table>


                    <div style="padding-top: 10px;">
                        <table style="border-collapse: collapse; border:1px solid #000">
                            <tr>
                                <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Range</th>
                                    
                                <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Least Count</th>
                                   
                                <th
                                    class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Serial No</th>
                                   
                                <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Make</th>
                                    
                            </tr>
                            <tr>
                                <td
                                    style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
                                    <p>@Model.Range</p>
                                </td>
                                <td
                                    style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
                                    <p>@Model.LC</p>
                                </td>
                                <td
                                    style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
                                    <p>@Model.SlNo</p>
                                </td>
                                <td
                                    style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
                                    <p>@Model.Make</p>
                                </td>
                            </tr>
                        </table>

                        <table style="margin-top:15px">
                            <tbody>
                                <tr>
                                    <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Identification Number</td>
                                       
                                    <td style="width:400px;padding-bottom: 25px;">: @Model.IdNo</td>
                                    <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                                    <td style="width:400px;padding-bottom: 25px;"></td>
                                </tr>
                                <tr>
                                    <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Condition of DUC</td>
                                    
                                    <td style="width:400px;padding-bottom: 25px;">:
                                        @Model.GeneralData.DialIndicatiorCondition</td>
                                    <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                                    <td style="width:400px;padding-bottom: 25px;"></td>
                                </tr>
                                <tr>
                                    <td class="trn" style="width:325px; font-weight: 900; padding-bottom: 25px;">Calibration Procedure  /  Reference Standard :</td>
                                                           

                                        @*Procedure / <br /> Reference Standard :*@
                                    <td style="width:400px; padding-bottom: 25px;">: @Model.StandardReffered</td>
                                    <td style="width:325px; font-weight: 900; padding-bottom: 25px;"></td>
                                    <td style="width:400px; padding-bottom: 25px;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <p class="trn" style="width:325px; font-weight: 900; padding-bottom:25px; width:600px;">II. Master & Equipment Used For Calibration & Traceability</p>
                    </div> 
                    <div style="margin-top: 10px;">
                        <table style="border-collapse: collapse; border:1px solid #000">
                            <tr>
                                <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">SI.</th>
                                  
                                    
                                <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Master Equipment</th>
                                    
                                <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Id No</th>
                                    
                                <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Make</th>
                                    
                                <th
                                    class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Traceability</th>
                                    
                                <th
                                    class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Certificate No</th>
                                    
                                <th
                                    class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Validity</th>
                                    
                            </tr>
                            @{
                                int i = 1;
                                @foreach (var item in @Model.MasterEqiupmentList)
                                {
                                    <tr>
                                        <td
                                        style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">
                                            @i</td>
                                        <td
                                        style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">
                                            @item.EquipName</td>
                                        <td
                                        style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">
                                            @item.LabId</td>
                                        <td
                                        style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">
                                            @item.Make</td>
                                        <td
                                        style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">
                                            @item.Traceability</td>
                                        <td
                                        style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">
                                            @item.CertNo</td>
                                        <tdn
                                        style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">
                                            @item.DueDate.ToString("dd-MM-yyyy")</tdn>
                                    </tr>
                                    i++;
                                }
                            }
                        </table>
                     <p class="fw-normal fontsize14 trn">The master Equipment used for calibration are calibrated and traceable to National / International Standard</p>
                        
                    </div>

                    <table style="margin-top:15px">
                        <tbody>
                            <tr>
                                <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Environmental Condition:</td>
                                <td style="width:400px;padding-bottom: 10px;">
                                    <p>20 &plusmn; 1.0<sup>o</sup>C / 50 &plusmn; 10% RH</p>
                                </td>
                                <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                                <td style="width:400px;padding-bottom: 25px;"></td>
                            </tr>
                            <tr>
                                <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Uncertainty Of Measurement</td>
                                 <td style="width:400px;padding-bottom: 25px;"><input class="form-control"
                                        placeholder="Uncertainty Of Measurement" id="Uncertainity" name="Uncertainity"
                                        value="@Model.GeneralData.Uncertainity"></td>
                                <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                                <td style="width:400px;padding-bottom: 25px;"></td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="trn">The stated Expanded uncertainty is estimatd at a confidence level approximately 95% with a coverage factor k = 2</p>
                                  <table style="margin-top:15px">
                        <tbody>
                            <tr>
                                <td style="width:325px; padding-bottom: 25px; width: 800px;">
                                    <div class="col-6 text-start">
                                        <h5 class="trn" style="margin-bottom: 5px;">Calibrated By</h5>
                                        @*<img src="../UserSignature/@Model.GeneralData.PerformedBySign"*@
                                        <img src="../wwwroot/UserSignature/Guru sign.jpg" />
                                            style="width: 100px;" />
                                        <p style="margin: 0px;">@Model.GeneralData.CalibrationPerformedBy</p>
                                        <p style="margin: 0px;">@Model.GeneralData.PerformedByDesignation</p>
                                    </div>
                                </td>
                                <td style="width:400px;padding-bottom: 25px; width: 800px; text-align: right;">
                                    <h5 class="trn" style="margin-bottom: 5px;">Authorized Signatory</h5>
                                    <img src="../wwwroot/UserSignature/Gurushev.jpg"/>
                                    @*<img src="../UserSignature/@Model.GeneralData.ReviewedBySign"*@
                                        style="width: 100px;" />
                                    <p style="margin: 0px;">@Model.GeneralData.ReviewedBy</p>
                                    <p style="margin: 0px;">@Model.GeneralData.ReviewedByDesignation</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div style="border-collapse: collapse; 
                    border-top: solid;
                    border-block-width: 2px; border: 2px solid #000; display: flex;">
                    <div style="padding:10px">
                        <p class="trn" style="margin: 0px; font-size: 12px;">1. The Calibration results are valid at the time of & under the stated conditions of measurement.</p>
                        <p class="trn" style="margin: 0px; font-size: 12px;">2. The report shoult not be reproduced either in full or in part without out permission in writing.</p>
                        <p class="trn" style="margin: 0px; font-size: 12px;">3. Next calibration due date given in this cetificate as per customer request irrespective of the status or condition of the IMTE.</p>
                            
                    </div>
                    <div><img style="padding:10px;" src="../image/footer1.png" alt="" height="60px" width="250px"></div>
                </div>
            </div>
        </div>
        <table style="margin-top:15px">
                <tbody>
                    <tr style="font-size: xx-small;">
                        <td style="width:325px; padding-bottom: 25px; width: 800px;">
                            <div>
                                <h4 class="trn" style="font-size: small;">Format No : 365.QM.D.16, Rev No : 02</h4>
                            </div>
                        </td>
                        <td style="width:400px;padding-bottom: 25px; width: 800px; text-align: right;">
                            <h4 class="trn" style="font-size: small;">Page 1 of 2</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
    <!-- page1 end-->
    <!-- page2 start-->
    <div style="padding-left: 5%; padding-right: 5%; margin-bottom: 5%;">
        <table style="border-collapse: collapse; border:2px solid #000">
            <tbody>
                <tr>
                    <td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:250px">
                            @if(Model.IsNABL ?? false)
                            {
                                <img src="../image/NABL.png" style="padding-top:5px;" width="100px" />
                            }
                            else
                            {
                                <img src="../image/Bharat_Benz.png" style="padding-top:5px;" width="150px"  />
                            }
                    </td>
                    <td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:840px">
                        <div>
                            <h5 class="trn" style="margin: 5px;">Daimler India Commercial Vehicles Pvt. Ltd -Central Lab</h5>
                            <p class="trn" style="margin: 5px; font-size: 12px;">SIPCOT Insdustrial Estate, Oragadam Village,Singaperumal Koil Road,</p>
                                
                            <p class="trn" style="margin: 5px; font-size: 12px;">Mathur(PO), Sriperumbadur Taluk, Kanchipuram -602105, Tamil Nadu, India.</p>
                                
                            <p class="trn" style="margin: 5px; font-size: 12px;">Phone: +91 44 4969 4456,</p>
                            <p class="trn" style="margin: 5px; font-size: 12px;">Website: www.daimler-indiacv.com / .bharatbenz.com</p>
                                
                        </div>
                    </td>
                    <td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:100px">
                        <img style="padding-left:40px;padding-top:5px;" id="imgQRCode" height="150px" width="190px"
                            src="@ViewBag.QRCodeImage" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="border: 2px solid #000; padding: 10px;">
            <table style="margin-top:30px">
                <tbody>
                    <tr>
                        <td class="trn" style="width:325px; font-weight:900; padding-bottom:25px; width:600px;">III. Mechanical Calibration Results</td>
                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Certificate No</td>
                        <td style="width:400px;padding-bottom: 25px;">: @Model.GeneralData.CertificateFormat</td>
                            <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Report Issues Date</td>
                        <td style="width:400px;padding-bottom: 25px;">
                            : @DateTime.Now.ToString("dd-MM-yyyy")
                        </td>
                        @*<td class="trn" style="width:400px; padding-bottom:25px; width:600px;">Certificate No @Model.GeneralData.CertificateFormat</td>*@
                        @*<td class="trn" style="width:325px; font-weight:900; padding-bottom:25px; width:600px; text-align:center;">
                            Report Issue Date :@DateTime.Now.ToString("dd-MM-yyyy")*@
                        </td>
                        
                            
                        
                                
                    </tr>
                </tbody>
            </table>
            <div class="p-3">
                <p class="trn" style="text-align: center;">All Values are in @Model.GeneralData.Allvalues </p>
                <table style="border-collapse: collapse; border:1px solid#000">
                    <tr>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center trn">Nominal</th>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center trn">Trial-1</th>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center trn">Trial-2</th>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center trn">Trial-3</th>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center trn">Average</th>

                    </tr>

                    @* @{ i=1; 
                    @foreach (var item in @Model.GeneralData.GeneralAddResultViewModelList)
                    {
                        <tr>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.MeasuedValue</td>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Trial1</td>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Trial2</td>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Trial3</td>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Average</td>

                        </tr>
                        @* i++;
                            } *@
                    
                </table>

                
                <div>

                
                <table style="border-collapse: collapse; border:1px solid #000">
                    @* <tr>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">Column1</th>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">Column2</th>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">Column3</th>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">Column4</th>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">Column5</th>
                        <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">Column6</th>

                    </tr>
                    @foreach (var item in @Model.GeneralData.GeneralManualAddResultViewModelList)
                    {
                        <tr>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Column1</td>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Column2</td>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Column3</td>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Column4</td>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Column5</td>
                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:5px"
                            colspan="2" class="text-center">@item.Column5</td>

                        </tr>
                    } *@
                    
                </table>
                </div>

                <table style="margin-top:15px">
                    <tbody>
                        <tr>
                            <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">IV. Result Of Calibration :</td>
                           
                            <td class="trn" style="width:400px;padding-bottom: 25px;"><input class="form-control"
                                    placeholder="Result Of Calibration" id="CalibrationResult" name="CalibrationResult"
                                    value="@Model.GeneralData.CalibrationResult"></td>
                            <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                            <td style="width:400px;padding-bottom: 25px;"></td>
                        </tr>
                        <tr>
                            <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">V. Remarks :</td>
                            <td class="trn" style="width:400px;padding-bottom: 25px;"><input class="form-control"
                                    placeholder="Remarks" id="Remarks" name="Remarks"
                                    value="@Model.GeneralData.Remarks"></td>
                            <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                            <td style="width:400px;padding-bottom: 25px;"></td>
                        </tr>
                        <tr>
                            <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                            <td colspan="3" style="width:400px;padding-bottom: 25px;"> @Model.RuleConfirmityStatement
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table style="margin-top:15px">
                <tbody>
                    <tr>
                        <td style="width:325px; padding-bottom: 25px; width: 800px;">
                            <div class="col-6 text-start">
                                <h5 class="trn" style="margin-bottom: 5px;">Calibrated By</h5>
                                <img src="../UserSignature/@Model.GeneralData.PerformedBySign" style="width: 100px;" />
                                <p style="margin: 0px;">@Model.GeneralData.CalibrationPerformedBy</p>
                                <p style="margin: 0px;">@Model.GeneralData.PerformedByDesignation</p>
                            </div>
                        </td>
                        <td style="width:400px;padding-bottom: 25px; width: 800px; text-align: right;">
                            <h5 class="trn" style="margin-bottom: 5px;">Authorized Signatory</h5>
                            <img src="../UserSignature/@Model.GeneralData.ReviewedBySign" style="width: 100px;" />
                            <p style="margin: 0px;">@Model.GeneralData.ReviewedBy</p>
                            <p style="margin: 0px;">@Model.GeneralData.ReviewedByDesignation</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5 class="trn" style="text-align: center;">***End of Certificate***</h5>
        </div>
        <div style="border-collapse: collapse; 
                    border-top: solid;
                    border-block-width: 2px; border: 2px solid #000; display: flex;">
            <div style="padding:10px">
                <p class="trn" style="margin: 0px; font-size: 12px;">1. The Calibration results are valid at the time of & under the stated conditions of measurement.</p>
                <p class="trn" style="margin: 0px; font-size: 12px;">2. The report shoult not be reproduced either in full or in part without out permission in writing.</p>
                <p class="trn" style="margin: 0px; font-size: 12px;">3. Next calibration due date given in this cetificate as per customer request irrespective of the status or condition of the IMTE.</p>

                  </div>
            <div><img style="padding:10px;" src="../image/footer1.png" alt="" height="60px" width="250px"></div>
        </div>
            <table style="margin-top:15px">
                <tbody>
                    <tr style="font-size: small;">
                        <td style="width:325px; padding-bottom: 25px; width: 800px;">
                            <div >
                                <h4 class="trn" style="font-size: small;">Format No : 365.QM.D.16, Rev No : 02 / フォーマット番号 : 365.QM.D.16、リビジョン番号 : 02</h4>
                            </div>
                        </td>
                        <td style="width:400px;padding-bottom: 25px; width: 800px; text-align: right;">
                            <h4 class="trn" style="font-size: small;">Page 2 of 2</h4>
                        </td>
                    </tr>
                </tbody>
            </table>  
        <div>
            <input type="hidden" id="requestId" value="@ViewBag.RequestId">
            <input type="hidden" id="instrumentId" value="@ViewBag.InstrumentId">
            <input type="hidden" id="isDownloadPdf" value="@ViewBag.IsDownloadPdf">
            <input type="hidden" name="FileName" id="FileName" value="@ViewBag.FileName" />
            @if (@Model.isExportCertificate)
            {
                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
                {

                <input type="button" value="ReGenerate" onclick="SaveCertificate('General',language)" class="btn btn-primary trn">
                }
                <input type="button" class="btn btn-primary trn" id="btnExport" name="btnExport" value="Export"
                onclick="downloadPdfFile()" />
                <a class="btn btn-primary trn"
                   href='@Url.Action("QRCodePrint","Certification", new {requestId=@ViewBag.RequestId, instrumentId=@ViewBag.InstrumentId})'>PrintQR Code</a>
                    
            }
            else
            {
                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
                {
                    <input type="button" value="Save" onclick="SaveCertificate('General',language)" class="btn btn-primary">
                }
            }
            <a class="btn btn-primary trn" href='@Url.Action("Request","Tracker",new {reqType=4})'>Cancel</a>
        </div>
    </div>
</body>

@* *********************************************************************************************************************
*@

<div id="Pdfhtml" style="display: block;">

    <body style="font-family: Calibri;">
        <!-- page1 start-->
        <!-- <div style="padding-left: 5%; padding-right: 5%; margin-bottom: 5%"> -->
        <table style="width: 100%;border: 1px solid #000;border-collapse: collapse; font-size:x-small">
            <tr>
                <td>
                    <table style="border-collapse: collapse; border:1px solid #000; text-align: center; width:100%">
                        <tr>
                            <td style="border-collapse: collapse; border-right:1px solid #000; text-align: center; width:300px">
                                @if (Model.IsNABL ?? false)
                                {
                                    <img src="./wwwroot/image/NABL.png" style="padding-top:5%;" width="60%" />
                                }
                                else
                                {
                                    <img src="./wwwroot/image/Bharat_Benz.png" style="padding-top:5%;" width="70%" />
                                }
                            </td>
                            <td style="border-collapse: collapse; border-right:1px solid #000; text-align: center; width:800px">
                                <div>
                                    <h5 style="margin: 5px; font-family:Arial ;font-size: 12px; ">Daimler India Commercial Vehicles Pvt. Ltd -Central Lab /<br /> >ダイムラー・インド商用車社株式会社 - 中央研究所</h5>
                                    <p style="margin: 5px; font-family:Arial;font-size: 12px;">SIPCOT Insdustrial Estate, Oragadam Village,Singaperumal Koil Road /<br />  SIPCOT工業団地、オラガダム村、シンガポール・コイル・ロード</p>
                                    <p style="margin: 5px; font-family:Arial;font-size: 12px;">Mathur(PO), Sriperumbadur Taluk, Kanchipuram -602105, Tamil Nadu, India /<br />  マトゥール (PO)、スリペルンバドゥル タルク、カンチプラム -602105、タミル ナードゥ州、インド。</p>
                                    <p style="margin: 5px; font-size: 12px;">Phone / 電話: +91 44 4969 4456,</p>
                                    <p style="margin: 5px; font-size: 12px;">Website: www.daimler-indiacv.com / .bharatbenz.com /<br /> Webサイト：www.ダイムラー--インドアック。コム /..バラトベンツ。コム</p>


                                </div>
                            </td>
                            <td style="border-collapse: collapse; border:0px solid #000; text-align: center; width:300px">
                                <img id="imgQRCodeHtml" src="./wwwroot/Certification/tempQRCode.png"
                                     style="padding-top:5%;width: 75%;" alt="logo" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
             <div>
            <h3 style="text-align: center; padding: 5px;">CERTIFICATE OF CALIBRATION / キャリブレーションの証明書</h3>
            </div>
            <table style="width: 100%;border: 1px solid #000;border-collapse: collapse; font-size:x-small;" >
                <tr>
                <td>
                    <table style="font-size:x-small;padding:5px;">
                        <tr style="font-size:x-small">
                            <th style="font-size: x-small;text-align:left;padding:10px">I. Descriptions of DUC / DUCの説明</th>
                        </tr>
                        <tr style="font-size:x-small">
                            <th style="width:400px; font-weight: 900;padding-bottom: 10px;padding:10px;">
                                Certificate No / 証明書の番号
                            </th>
                                                            
                            <td style="width:400px;padding-bottom: 10px;padding:10px">
                                :
                                @Model.GeneralData.CertificateFormat
                            </td>
                            <th style="width:400px; font-weight: 900;padding-bottom: 10px;padding:10px">
                                Report Issues Date / 発行日を報告します
                            </th>
                            <td style="width:400px;padding-bottom: 10px;padding:10px">
                                :@DateTime.Now.ToString("dd-MM-yyyy")
                            </td>
                        </tr>
                        @if (Model.IsNABL ?? false)
                        {
                            <tr style="font-size:x-small">
                                <th style="width:400px; font-weight: 900;padding-bottom: 10px;padding:10px">ULR No / ULRいいえ</th>
                                <td style="width:400px;padding-bottom: 10px;padding:10px">
                                    : @Model.GeneralData.ULRFormat
                                </td>
                                <td style="width:400px; font-weight: 900;padding-bottom: 10px;padding:10px"></td>
                                <td style="width:400px;padding-bottom: 10px;"></td>
                            </tr>
                        }
                        <tr style="font-size:x-small">
                            <th style="width:400px; font-weight: 900; padding-bottom: 10px;padding:10px">
                                Date Of Calibration / キャリブレーションの日付
                            </th>
                                                          
                            <td style="width:400px; padding-bottom: 10px;padding:10px">
                                :
                                @Model.GeneralData.CalibrationPerformedDate.ToString("dd-MM-yyyy")
                            </td>
                            <th style="width:400px; font-weight: 900; padding-bottom: 10px;padding:10px">
                                Next Calibration Due /次回の校正期限
                            </th>
                             
                            @if (Model.Result == "Rejected")
                            {
                                <td style="width:400px; padding-bottom: 10px;padding:10px">: --</td>
                            }
                            else
                            {
                                <td style="width:400px; padding-bottom: 10px;padding:10px">
                                    :
                                    @Model.DueDate.ToString("MMM-yyyy")
                                </td>
                            }
                        </tr>
                        <tr style="font-size:x-small">
                            <th style="width:400px; font-weight: 900; padding-bottom: 10px;padding:10px">
                                Name Of The Customer / 顧客の名前
                            </th>
                              <td style="width:400px; padding-bottom: 10px;padding:10px">: @Model.DepartmentName</td>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;padding:10px">
                                Date of Receip / 領収書の日付
                            </td>
                            <td style="width:400px;padding-bottom: 10px;padding:10px">
                                :
                                @Model.DateOfReceipt.ToString("dd-MM-yyyy")
                            </td>
                        </tr>
                        <tr style="font-size:x-small">
                            <th style="width:400px; font-weight: 900;padding-bottom: 10px;padding:10px">
                                Department / デパートメント</th>
                            <td style="width:400px;padding-bottom: 10px;padding:10px">: @Model.DepartmentName</td>
                            <th style="width:400px; font-weight: 900; padding-bottom: 10px;padding:10px">
                                Description of Equipment / 設備の説明</th>
                            <td style="width:400px; padding-bottom: 10px;padding:10px">: @Model.InstrumentName</td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center"
                           style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:98%;font-size:x-small;">

                        <tr style="font-size:x-small">
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:825px; padding: 5px;">
                                Range / 範囲</th>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:825px; padding: 5px;">
                                Least Count / 最小数</th>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:825px; padding: 5px;">
                                Serial No / シリアル番号。</th>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:825px; padding: 5px;">
                                Make / 作る</th>
                        </tr>
                        <tr style="font-size:x-small">
                            <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:825px; padding: 5px;">
                                <p>@Model.Range</p>
                            </td>
                            <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:825px; padding: 5px;">
                                <p>@Model.LC</p>
                            </td>
                            <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:825px; padding: 5px;">
                                <p>@Model.SlNo</p>
                            </td>
                            <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:825px; padding: 5px;">
                                <p>@Model.Make</p>
                            </td>

                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="font-size:x-small;padding:5px;">
                        <tr>
                            <td style="width:400px; font-weight: 900;padding:10px;padding-bottom: 10px;">
                                Identification Number /  識別番号</td>
                            <td style="width:400px;padding-bottom: 10px;padding:10px">: @Model.IdNo</td>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;"></td>
                            <td style="width:400px;padding-bottom: 10px;"></td>
                        </tr>
                        <tr>
                            <td style="width:400px; font-weight: 900;padding:10px;padding-bottom: 10px;">
                                Condition of DUC / DUCの状態</td>
                            <td style="width:400px;padding-bottom: 10px;padding:10px">
                                :
                                @Model.GeneralData.DialIndicatiorCondition
                            </td>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;"></td>
                            <td style="width:400px;padding-bottom: 10px;"></td>
                        </tr>
                        <tr>
                            <td style="width:400px; font-weight: 900; padding:10px;padding-bottom: 10px;">
                                Calibration Procedure / 校正手順 / <br />Reference Standard / 基準標準 :
                                @*<p style="margin: 0px; font-size: x-small;">Calibration Procedure / </p>
                                <p style="margin: 0px; font-size: x-small;">Reference Standard :</p>*@
                            </td>
                            <td style="width:400px; padding-bottom: 10px;padding:10px">: @Model.StandardReffered</td>
                            <td style="width:400px; font-weight: 900; padding-bottom: 10px;"></td>
                            <td style="width:400px; padding-bottom: 10px;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="font-size:x-small;padding:5px">
                        <tr>
                            <th style="font-size: x-small;text-align:left;padding:10px;padding-bottom: 10px;">
                                II.Master & Equipment Used For Calibration & Traceability / 校正とトレーサビリティに使用されるマスターと機器</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height:200px;">
                <td>
                    <table align="center"
                           style="border-collapse: collapse; border:0.5px solid #000; width:98%;font-size:x-small;">
                        <tr>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:100px; padding: 5px;">
                                SI. / SI.
                            </th>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px; padding: 5px;">
                                Master Equipment / マスター装備</th>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px; padding: 5px;">
                                Id No / アイディー番号</th>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px; padding: 5px;">
                                Make / 作る</th>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px; padding: 5px;">
                                Traceability / トレーサビリティ
                            </th>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px; padding: 5px;">
                                Certificate No / 証明書の番号
                            </th>
                            <th style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px; padding: 5px;">
                                Validity / 有効
                            </th>
                        </tr>
                        @{
                            int increment = 1;
                            @foreach (var item in @Model.MasterEqiupmentList)
                            {
                                <tr>
                                    <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:100px;padding: 5px;">
                                        @increment
                                    </td>
                                    <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px;padding: 5px;">
                                        @item.EquipName
                                    </td>
                                    <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px;padding: 5px;">
                                        @item.LabId
                                    </td>
                                    <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px;padding: 5px;">
                                        @item.Make
                                    </td>
                                    <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px;padding: 5px;">
                                        @item.Traceability
                                    </td>
                                    <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px;padding: 5px;">
                                        @item.CertNo
                                    </td>
                                    <td style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:325px;padding: 5px;">
                                        @item.DueDate.ToString("dd-MM-yyyy")
                                    </td>
                                </tr>
                                increment++;
                            }
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="font-size:x-small;padding:5px;">
                        <tr>
                        <td>
                            <p style="padding:10px;padding-bottom: 10px;padding-top: 15px;">
                                The master Equipment used for calibration are calibrated and traceable to National / International Standard <br /> / 校正に使用されるマスター機器は校正されており、国家/国際標準にトレーサブルです。
                            </p>

                        </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="font-size:x-small;padding:5px">
                        <tr>
                            <td style="width:400px; font-weight: 900;padding:10px;padding-bottom: 10px;">
                                Environmental Condition / 環境条件 :
                            </td>
                            <td style="width:400px;padding-bottom: 10px;padding:10px;">
                                <p>: 20 &plusmn; 1.0<sup>o</sup>C / 50 &plusmn; 10% RH</p>
                            </td>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;"></td>
                            <td style="width:400px;padding-bottom: 10px;"></td>
                        </tr>
                        <tr>
                            <td style="width:400px; font-weight: 900;padding:10px;padding-bottom: 10px;">
                                Uncertainty Of Measurement / 測定の不確かさ</td>
                            <td style="width:400px;padding-bottom: 10px;padding:10px">
                                :
                                @Model.GeneralData.PdfUncertainity
                            </td>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;"></td>
                            <td style="width:400px;padding-bottom: 10px;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="font-size:x-small;padding:5px">
                        <tr>
                            <td>
                                <p style="font-size: x-small;padding:10px;padding-bottom: 10px;">
                                    The stated Expanded uncertainty is estimatd at a confidence level approximately 95% with a coverage factor k = 2 /<br />
                                     記載されている拡張不確実性は、カバレッジ係数 k = 2 で約 95% の信頼水準で推定されます。
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 100%;">
                    <table style="font-size:x-small;padding:5px; width:100%">
                        <tr>
                            <td>
                                <p style="margin-left:20px;font-weight:bold;padding-bottom: 5px;">
                                    Calibrated By / 校正者</p>
                                <img style="margin-bottom:5px;margin-left:25px; width:100px"
                                     src="./wwwroot/UserSignature/@Model.GeneralData.PerformedBySign" />
                                <p style="margin-left:20px;">@Model.GeneralData.CalibrationPerformedBy</p>
                                <p style="margin-left:20px;">@Model.GeneralData.PerformedByDesignation</p>
                            </td>

                            <td style="margin-left: 420px;text-align:right">
                                <p style="margin-right: 20px;font-weight: bold;padding-bottom: 5px;">
                                    Authorized Signatory / 承認された署名者</p>
                                <img style="margin-bottom:5px;margin-right:25px; width:100px;"
                                     src="./wwwroot/UserSignature/@Model.GeneralData.ReviewedBySign" />
                                <p style="margin-right:20px;">@Model.GeneralData.ReviewedBy</p>
                                <p style="margin-right:20px;">@Model.GeneralData.ReviewedByDesignation</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="border-collapse: collapse; border:2px solid #000;width:100%;font-size:xx-small;padding:10px">
                        <tr>
                        <td style="padding:2px;">
                            <p style="margin: 0px; font-size: 12px;">1. The Calibration results are valid at the time of & under the stated conditions of measurement. /<br />  キャリブレーション結果は、次の時点で有効です。記載された測定条件下で。</p>
                            <p style="margin: 0px; font-size: 12px;">2. The report shoult not be reproduced either in full or in part without out permission in writing. /<br />レポートの全部または一部を書面による許可なく複製することはできません。</p>
                                <p style="margin: 0px; font-size: 12px;">3. Next calibration due date given in this cetificate as per customer request irrespective of the status or condition of the IMTE. /<br />次回の校正期日は、IMTE のステータスや状態に関係なく、お客様のご要望に応じてこの証明書に記載されます。</p>

                        </td>
                        <td style="margin-left: 450px;text-align:right">
                            <img src="./wwwroot/image/footer1.png"
                                 style="margin-left: 450px;width: 100px;">
                        </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width: 100%;font-size:xx-small;padding:5px">
            <tr>
                <td>
                    <p style="margin-left:10px;font-size:xx-small">Format No : 365.QM.D.16, Rev No : 02  /  フォーマット番号 : 365.QM.D.16、リビジョン番号 : 02</p>
                </td>

                <td>
                    <p style="margin-left: 80px;font-size:xx-small">Page 1 of 2 / 1/2 ページ</p>
                </td>

            </tr>
        </table>

        <!-- </div>-->
        <!-- page1 end-->
        <br>
        <br>
        <br>
        <br>
        <!-- page2 start-->
        <!--<div style="padding-left: 5%; padding-right: 5%; margin-bottom: 5%">  TEST -->
        <table style="width: 100%;border: 1px solid #000;border-collapse: collapse; font-size:x-small">
            <tr>
                <td>
                    <table style="border-collapse: collapse; border:1px solid #000; text-align: center; width:100%">
                        <tr>
                            <td style="border-collapse: collapse; border-right:1px solid #000; text-align: center; width:300px">
                                                @if (Model.IsNABL ?? false)
                                                {
                                    <img src="./wwwroot/image/NABL.png" style="padding-top:5%;" width="60%" />
                                                }
                                                else
                                                {
                                    <img src="./wwwroot/image/Bharat_Benz.png" style="padding-top:5%;" width="70%" />
                                                }
                            </td>


                            <td style="border-collapse: collapse; border-right:1px solid #000; text-align: center; width:800px">
                                <div>
                                    <h5 style="margin: 5px; font-family:Arial ;font-size: 12px; ">Daimler India Commercial Vehicles Pvt. Ltd -Central Lab /<br /> >ダイムラー・インド商用車社株式会社 - 中央研究所</h5>
                                    <p style="margin: 5px; font-family:Arial;font-size: 12px;">SIPCOT Insdustrial Estate, Oragadam Village,Singaperumal Koil Road /<br /> SIPCOT工業団地、オラガダム村、シンガポール・コイル・ロード</p>
                                    <p style="margin: 5px; font-family:Arial;font-size: 12px;">Mathur(PO), Sriperumbadur Taluk, Kanchipuram -602105, Tamil Nadu, India /<br /> マトゥール (PO)、スリペルンバドゥル タルク、カンチプラム -602105、タミル ナードゥ州、インド。</p>
                                    <p style="margin: 5px; font-size: 12px;">Phone / 電話: +91 44 4969 4456,</p>
                                    <p style="margin: 5px; font-size: 12px;">Website: www.daimler-indiacv.com / .bharatbenz.com /<br /> Webサイト：www.ダイムラー--インドアック。コム / ..バラトベンツ。コム</p>


                                </div>
                            </td>
                            <td style="border-collapse: collapse; border:0px solid #000; text-align: center; width:300px">
                                <img id="imgQRCodeHtml" src="./wwwroot/Certification/tempQRCode.png"
                                     style="padding-top:5%;width: 75%;" alt="logo" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="font-size:x-small;padding:10px">
                        <tr>

                            <td style="width:400px; font-weight: 900;padding-bottom: 25px; width:600px;padding:10px;">III.Mechanical Calibration Results / 機械的校正結果</td>
                           
                            <td style="width:325px; font-weight: 900;padding-bottom: 25px;">Certificate No / 証明書の番号 :@Model.GeneralData.CertificateFormat</td>
                           
                            <td style="width:325px; font-weight: 900;padding-bottom: 25px;">Report Issues Date / レポート発行日 :@DateTime.Now.ToString("dd-MM-yyyy")</td>
                           

                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="font-size:x-small;padding:5px">
                        <tr>
                            <td style="width:400px; font-weight: 900;padding-bottom: 25px;text-align: center;">
                                All Values are in / すべての値が入っています : @Model.GeneralData.Allvalues
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height:400px;">
                <td>
                    <table align="center"
                           style="border-collapse: collapse; border:0.5px solid #000; text-align: center; width:98%;font-size:x-small;">
                        <tr>
                            <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Nominal / 公称</th>
                            <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Trial-1 / 試行-1</th>
                            <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Trial-2 / 試行-2</th>
                            <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Trial-3 / 試行-3</th>
                            <th style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Average / 平均</th>

                        </tr>

                          @foreach (var item in @Model.GeneralData.GeneralAddResultViewModelList)
                                        {
                            <tr>
                                <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                                    @item.MeasuedValue
                                </td>
                                <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                                    @item.Trial1
                                </td>
                                <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                                    @item.Trial2
                                </td>
                                <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                                    @item.Trial3
                                </td>
                                <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                                    @item.Average
                                </td>

                            </tr>
                                        }

                    </table>
                    <br>
                    <br>

                </td>
            </tr>

            <tr style="height:200px;visibility:hidden;border : 2px solid white;">
                <td style="visibility: hidden;border-color:white">
                    <table align="center"
                           style="border-collapse: collapse; border:0.5px solid white; text-align: center; width:98%;font-size:x-small;">
                        <tr style="color: white;">
                            <th style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Column1 / 列1</th>
                            <th style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Column2 / 列2</th>
                            <th style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Column3 / 列3</th>
                            <th style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Column4 / 列4</th>
                            <th style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Column5 / 列5</th>
                            <th style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                colspan="2" class="text-center">Column6 / 列6</th>

                        </tr>

                        @foreach (var item in @Model.GeneralData.GeneralManualAddResultViewModelList)
                        {
                            <tr style="color: white;border-color:white">
                                <td style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                    @item.Column1
                                </td>
                                <td style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                    @item.Column2
                                </td>
                                <td style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                    @item.Column3
                                </td>
                                <td style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                    @item.Column4
                                </td>
                                <td style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                    @item.Column5
                                </td>
                                <td style="border-collapse: collapse; border:1px solid white; text-align: center; width:325px; padding:3px"
                                    colspan="2" class="text-center">
                                    @item.Column5
                                </td>

                            </tr>
                        }

                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table style="font-size:x-small;padding:5px">
                        <tr>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;padding:10px;">
                                IV. Result Of Calibration / キャリブレーションの結果
                            </td>
                            <td style="width:400px;padding-bottom: 10px;padding:10px;">
                                : @Model.GeneralData.PdfCalibrationResult
                            </td>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;"></td>
                            <td style="width:400px;padding-bottom: 10px;"></td>
                        </tr>
                        <tr>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;padding:10px;">V. Remarks / 備考</td>
                            <td style="width:400px;padding-bottom: 10px;padding:10px;">
                                : @Model.GeneralData.PdfRemarks
                            </td>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;"></td>
                            <td style="width:400px;padding-bottom: 10px;"></td>
                        </tr>
                        <tr>
                            <td style="width:400px; font-weight: 900;padding-bottom: 10px;padding:10px;"></td>
                            <td colspan="3" style="width:400px;padding-bottom: 10px;padding:10px;">
                                @Model.RuleConfirmityStatement
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width:100%">
                    <table style="font-size:x-small;padding:10px; width:100%">
                        <tr>
                            <td>
                                <p style="margin-left:20px;font-weight:bold;padding-bottom: 5px;">
                                    Calibrated By / 校正者
                                </p>
                                <img style="margin-bottom:5px;margin-left:25px; width:100px"
                                     src="./wwwroot/UserSignature/@Model.GeneralData.PerformedBySign" />
                                <p style="margin-left:20px;">@Model.GeneralData.CalibrationPerformedBy</p>
                                <p style="margin-left:20px;">@Model.GeneralData.PerformedByDesignation</p>
                            </td>
                            <td style="margin-left: 420px;text-align:right">
                                <p style="margin-right: 20px;font-weight: bold;padding-bottom: 5px;">
                                    Authorized Signatory / 承認された署名者
                                </p>
                                <img style="margin-bottom:5px;margin-right:25px; width:100px"
                                     src="./wwwroot/UserSignature/@Model.GeneralData.ReviewedBySign" />
                                <p style="margin-right:20px;">@Model.GeneralData.ReviewedBy</p>
                                <p style="margin-right:20px;">@Model.GeneralData.ReviewedByDesignation</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <h3 style="text-align: center;font-size: small;">***End of Certificat / 証明書の終わりe***</h3>
                    @*<table style="font-size:x-small;padding:5px">
                        
                    </table>*@
                </td>
            </tr>
            <tr>
                <td>
                    <table style="border-collapse: collapse; border:2px solid #000;width:100%;font-size:xx-small;padding:5px">
                        <tr>
                            <td style="padding:2px;">
                                <p style="margin: 0px; font-size: 12px;">1. The Calibration results are valid at the time of & under the stated conditions of measurement. /<br /> キャリブレーション結果は、次の時点で有効です。記載された測定条件下で。</p>
                                <p style="margin: 0px; font-size: 12px;">2. The report shoult not be reproduced either in full or in part without out permission in writing. /<br /> レポートの全部または一部を書面による許可なく複製することはできません。</p>
                                <p style="margin: 0px; font-size: 12px;">3. Next calibration due date given in this cetificate as per customer request irrespective of the status or condition of the IMTE. /<br />  次回の校正期日は、IMTE のステータスや状態に関係なく、お客様のご要望に応じてこの証明書に記載されます。</p>

                            </td>
                            <td style="margin-left: 450px;text-align:right">
                                <img src="./wwwroot/image/footer1.png"
                                     style="margin-left: 450px;width: 100px;">
                            </td>
                            @*</tr>*@
                    </table>
                </td>
            </tr>
        </table>
            <table style="width: 100%;font-size:xx-small;padding:5px">
                <tr>
                    <td>
                        <p style="margin-left:10px;font-size:xx-small">Format No : 365.QM.D.16, Rev No : 02 / / フォーマット番号 : 365.QM.D.16、リビジョン番号 : 02</p>
                    </td>

                    <td>
                        <p style="margin-left: 80px;font-size:xx-small">Page 2 of 2 / 2/2 ページ</p>
                    </td>
                </tr>
            </table>

        

            <!--</div> TEST-->

        </body>

   </div>
   
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function downloadPdfFile() {
        var filePath = $("#FileName").val();
        window.open(filePath, "_blank");
    }
</script>
   



@*
@using (Html.BeginForm("SaveAsPdf", "Certification", FormMethod.Post))
{
    <input type="hidden" name="ExportData" />
    <input type="submit" id="btnSubmit" value="Export" />
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("input[name='ExportData']").val($("#Pdfhtml").html());
            var exportData  =  $("#Pdfhtml").html();
            var isDownloadPdf = $('#isDownloadPdf').val();
               if(isDownloadPdf == 1){  			   	
						var _url = '@Url.Action("SaveAsPdf", "Certification")';
						$.ajax({
							type: "POST",
							url: _url,
							xhrFields: {
								responseType: 'blob'
							},
							data: { ExportData: exportData },
							success: function (data) {
								var a = document.createElement('a');
								var url = window.URL.createObjectURL(data);
								a.href = url;
								a.download = 'Certificate.pdf';
								document.body.append(a);
								a.click();
								a.remove();
								window.URL.revokeObjectURL(url);
							}
						});
               }
    }); 
</script>
*@