@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en" translate="yes">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Certificate</title>
</head>

<style>
    .TblContent {
       
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    .TblInHeader {
        border: none;
        border-collapse: collapse;
        text-align: center;
    }
</style>

<body style="font-family: Calibri;">
	<!-- page1 start-->

	<div style="padding-left: 5%; padding-right: 5%; margin-bottom: 5%;">
		<table style="border-collapse: collapse; border:2px solid #000">
			<tbody>
				<tr>
					<td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:250px">
						@*@if (Model.IsNABL ?? false)
						{
						<img src="../image/NABL.png" style="padding-top:5px;" width="100px" />
						}
						else
						{
						<img src="../image/Bharat_Benz.png" style="padding-top:5px;" width="150px" />
						}*@
						<img src="../image/Fuso.png" style="padding-top:5px;" width="100px" />
					</td>
					<td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:840px">
						<div>
							<h5 class="trn" style="margin: 5px;font-size:40px;">Mitsubishi Fuso Truck and Bus Corporation</h5>
							<p class="trn" style="margin: 5px; font-size: 18px;">Ohkuracho 10, Nakahara Ward, Kawasaki City, Kanagawa Prefecture, Japan, 211-8522</p>
						</div>
					</td>
					<td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:100px">
						<img style="padding-left:40px;padding-top:5px;" id="imgQRCode" height="150px" width="190px"
							 src="@ViewBag.QRCodeImage" />
					</td>
				</tr>
			</tbody>
		</table>
		@if (@Model.TypeOfEquipment == "Internal")
		{
			<div>
				<h2 class="trn" style="text-align: center; text-transform: uppercase;">CERTIFICATE OF CALIBRATION</h2>
			</div>
		}
		@if (@Model.TypeOfEquipment == "External")
		{
			<div>
				<h2 class="trn" style="text-align: center; text-transform: uppercase;">CERTIFICATE OF VERIFICATION</h2>
			</div>
		}
		<div style="border-collapse: collapse; border:2px solid #000">
			<div>
				<div style="padding: 10px;">
					@if (@Model.TypeOfEquipment == "Internal")
					{
						<div>
							<p class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px; width: 600px;">I. Description of device under calibration (DUC)</p>
						</div>
					}
					@if (@Model.TypeOfEquipment == "External")
					{
						<div>
							<p class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px; width: 600px;">I. Description of device under verification (DUC)</p>
						</div>
					}
					<table>
						<tbody>
                            @if (@Model.TempObservationData != null )
                            { 
							<tr>
								<td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Certificate No.</td>
                                @if(@Model.TempObservationData.CertificateNumber == null)
                                {
                                        <td style="width:400px;padding-bottom: 25px;">: string.Empty </td>

                                }
                                else
                                {
                                        <td style="width:400px;padding-bottom: 25px;">: @Model.TempObservationData.CertificateNumber </td>

                                }
								@*<td style="width:400px;padding-bottom: 25px;">: (@Model.TempObservationData.CertificateNumber == null) ? string.Empty : @Model.TempObservationData.CertificateNumber</td>*@
								<td class="trn" style="width:340px; font-weight: 900;padding-bottom: 25px;">Report issue date</td>
								<td style="width:400px;padding-bottom: 25px;">: @Model.CalibrationCloseDate.ToString("dd-MM-yyyy")</td>
							</tr>
							<tr>
								<td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Date of Calibration</td>
								<td style="width:400px;padding-bottom: 25px;">: @Model.TempObservationData.CalibrationReviewedDate.ToString("dd-MM-yyyy")</td>
								<td class="trn" style="width:340px; font-weight: 900;padding-bottom: 25px;">Next Calibrtaion due</td>
                                @if(@Model.DueDate != null)
                                {
                                        <td style="width:400px;padding-bottom: 25px;"> : @Model.DueDate.ToString("dd-MM-yyyy")</td>
                                    }
                                    else
                                    {
                                         <td style="width:400px;padding-bottom: 25px;"> :</td>
                                    }
                                </tr>
							<tr>
								<td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Name of Dept.</td>
								<td style="width:400px;padding-bottom: 25px;">: @Model.DepartmentName.</td>
								<td class="trn" style="width:340px; font-weight: 900;padding-bottom: 25px;">Date of receipt</td>
								<td style="width:400px;padding-bottom: 25px;">: @Model.CalibDate.ToString("dd-MM-yyyy")</td>
							</tr>
							<tr>
								<td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Sub section code</td>
								<td style="width:400px;padding-bottom: 25px;">: @Model.SubSecCode</td>
								<td class="trn" style="width:340px; font-weight: 900;padding-bottom: 25px;">Description of equipment</td>
								<td style="width:400px;padding-bottom: 25px;">: @Model.InstrumentName</td>
							</tr>
							<tr>
								<td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Identification No.</td>
								<td style="width:400px;padding-bottom: 25px;">: @Model.IdNo</td>
								@if (@Model.TypeOfEquipment == "Internal")
								{
									<td class="trn" style="width:340px; font-weight: 900;padding-bottom: 25px;">Condition of DUC</td>
								}
								@if (@Model.TypeOfEquipment == "External")
								{
									<td class="trn" style="width:340px; font-weight: 900;padding-bottom: 25px;">Condition of DUV</td>
								}
								<td style="width:400px;padding-bottom: 25px;">: @Model.TempObservationData.InstrumentCondition</td>
							</tr>
                        } 
						</tbody>
					</table>


					<div style="padding-top: 10px;">
						<table style="border-collapse: collapse; border:1px solid #000">
							<tr>
								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Range</th>

								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Least Count</th>

								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Serial No</th>

								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Make</th>

							</tr>
							<tr>
                                @if (@Model.TempObservationData != null)
                                {
                                    <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
                                        <p>@Model.Range</p>
                                    </td>
                                    <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
                                        <p>@Model.LC</p>
                                    </td>
                                    <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
                                        <p>@Model.SlNo</p>
                                    </td>
                                    <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
                                        <p>@Model.Make</p>
                                    </td>
                                }
                            </tr>
						</table>

						<table style="margin-top:15px">
							<tbody>
								<tr>
                                    @if (@Model.TempObservationData != null)
                                    {
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Calibration procedure/Reference standard</td>
                                        <td style="width:400px;padding-bottom: 25px;">: @Model.StandardReffered</td>
                                        @if (@Model.TypeOfEquipment == "Internal")
                                        {
                                            <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">Environmental condition</td>
                                            <td style="width:400px;padding-bottom: 25px;">: 22±2°C/50±10% RH</td>
                                        }
                                        @if (@Model.TypeOfEquipment == "External")
                                        {
                                            <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">External</td>
                                            <td style="width:400px;padding-bottom: 25px;"></td>
                                        }
                                    }
                                </tr>
							</tbody>
						</table>
					</div>

					<div>
						<p class="trn" style="width:325px; font-weight: 900; padding-bottom:25px; width:600px;">II. Master & Equipment used</p>
					</div>
					<div class="row">
						<table style="border-collapse: collapse; border:1px solid #000">
							<tr>
								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">SI.</th>


								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Master Equipment</th>

								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Id No</th>

								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Make</th>

								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Traceability</th>

								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Certificate No</th>

								<th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Validity</th>

                                </tr>
                                @{
                            @if (@Model.TypeOfEquipment == "Internal")
                            {
                                
                                    int i = 1;
                                    @foreach (var item in @Model.MasterEqiupmentList)
                                    {
                                        <tr>
                                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@i</td>
                                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.EquipName</td>
                                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.EquipmentMasterId</td>
                                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.Make</td>
                                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.Traceability</td>
                                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.CertNo</td>
                                            <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.DueDate.ToString("dd-MM-yyyy")</td>
                                        </tr>
                                        i++;
                                    }
                                
                            }
                            @if (@Model.TypeOfEquipment == "External")
                            {
                                 <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">1</td>
                                    <td colspan="6" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px;" class="trn">Refer external calibartion report</td>
                            }
                            }
                        </table>

					</div>

					<div>
						<table style="margin-top:15px">
							<tbody>
								<tr>
									<td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">III. Calibration Results</td>
									<td style="width:400px;padding-bottom: 25px;"></td>

									<td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">All values are in</td>
                                      @if (@Model.TempObservationData != null)
                            {
									<td style="width:400px;padding-bottom: 25px;">: @Model.TempObservationData.Allvalues</td>
                            }
								</tr>
							</tbody>
						</table>
					</div>

					@*<div>
					<table style="border-collapse: collapse; border:1px solid #000">
					</table>
					</div>*@

                    @if(@Model.TypeOfEquipment == "Internal")
                    {
                        <div id="dvTableCer" class="col-md-12 content"></div>
                    }
                    

					@if (@Model.TypeOfEquipment == "External")
					{
						<div id="dvExtTable" class="content" style="align-content:center">
							<table style="border: 1px solid; width: 100%; border-collapse: collapse;">
								<tr>
									<td class="trn" style="border: 1px solid; text-align:center">External report result status</td>
									<td class="trn" style="border: 1px solid; text-align:center">1</td>
									<td class="trn" style="border: 1px solid; text-align:center"><input type="radio" checked="checked" id="checkOk" name="radio"> OK</td>
									<td class="trn" style="border: 1px solid; text-align:center"><input type="radio" checked="checked" id="checkNotOk" name="radio"> Not OK</td>
								</tr>
							</table>
						</div>
					}
					@if (@Model.TypeOfEquipment == "External")
					{
						<p class="trn" style="margin-top:15px">Refer the external calibartion report for more details</p>
					}
					<table style="margin-top:15px">
						<tbody>
							<tr>
								<td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">IV. Result Of Calibration :</td>

                                <td class="trn" style="width:400px;padding-bottom: 25px;">
                                    @*<input class="form-control"
                                           placeholder="Result Of Calibration" id="CalibrationResult" name="CalibrationResult"
                                           value="@Model.TempObservationData.CalibrationResult"> @*Model.TempObservationData.CalibrationResult*@
                                                       @if (@Model.TempObservationData != null)
                            {
									 <label id="CalibrationResult" class="form-control">@Model.TempObservationData.CalibrationResult</label>
                            }
                                   
                                
                                </td>
                                <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                                <td style="width:400px;padding-bottom: 25px;"></td>
                            </tr>
                            <tr>
                                <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 25px;">V. Remarks :</td>
                                <td class="trn" style="width:400px;padding-bottom: 25px;">
                                    @*<input class="form-control"
                                           placeholder="Remarks" id="Remarks" name="Remarks"
                                           value="@Model.TempObservationData.Remarks"> @*Model.TempObservationData.Remarks*@
                                                                     @if (@Model.TempObservationData != null)
                            {
                                    <label id="CalibrationResult" class="form-control">@Model.TempObservationData.Remarks</label>
                            }
                                </td>
                                <td style="width:325px; font-weight: 900;padding-bottom: 25px;"></td>
                                <td style="width:400px;padding-bottom: 25px;"></td>
                            </tr>
                        </tbody>
                    </table>

					@if (@Model.TypeOfEquipment == "Internal")
					{
						<p class="trn">Note: Statement of conformity is given based on decision rule agreed by requestor</p>
					}
					@if (@Model.TypeOfEquipment == "External")
					{
						<p class="trn">Note: Statement of conformity is given based on decision rule agreed by requestor and external certificate</p>
					}


                    <table style="margin-top:15px">
                        <tbody>
                            @if (@Model.TempObservationData!= null)
                            {
                                <tr>
                                    <td style="width:325px; padding-bottom: 25px; width: 800px;">
                                        <div class="col-6 text-start">
                                            <h5 class="trn" style="margin-bottom: 5px;">Calibrated By</h5>
                                            <img src="../UserSignature/@Model.TempObservationData.PerformedBySign" alt="PerformedBySign" style="width: 100px;" />
                                            <p style="margin: 0px;">@Model.TempObservationData.CalibrationPerformedBy</p>
                                            <p style="margin: 0px;">@Model.TempObservationData.PerformedByDesignation</p>
                                        </div>
                                    </td>
                                    <td style="width:400px;padding-bottom: 25px; width: 800px; text-align: right;">
                                        <h5 class="trn" style="margin-bottom: 5px;">Authorized Signatory</h5>
                                        <img src="../UserSignature/@Model.TempObservationData.ReviewedBySign" alt="ReviewedBySign" style="width: 100px;" />
                                        <p style="margin: 0px;">@Model.TempObservationData.ReviewedBy</p>
                                        <p style="margin: 0px;">@Model.TempObservationData.ReviewedByDesignation</p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

				</div>
				@if (@Model.TypeOfEquipment == "Internal")
				{
					<div style="border-collapse: collapse;border-top: solid;border-block-width: 2px; border: 2px solid #000; display: flex;">
						<div style="padding:10px">
							<p class="trn" style="margin: 0px; font-size: 12px;">1. The calibration results are valid at the time of and under the stated condition of measurement.</p>
							<p class="trn" style="margin: 0px; font-size: 12px;">2. The report should not be reproduced either in full or in part without permission in writing.</p>
							<p class="trn" style="margin: 0px; font-size: 12px;">3. Next calibration due date given in this certificate as per requestor irrespective of the status or condition of instrument.</p>
						</div>
					</div>
				}
				@if (@Model.TypeOfEquipment == "External")
				{
					<div style="border-collapse: collapse;border-top: solid;border-block-width: 2px; border: 2px solid #000; display: flex;">
						<div style="padding:10px">
							<p class="trn" style="margin: 0px; font-size: 12px;">1. The calibration results based on external certificate result</p>
							<p class="trn" style="margin: 0px; font-size: 12px;">2. Next calibration due date given in this certificate as per requestor irrespective of the status or condition of instrument.</p>
						</div>
					</div>
				}
			</div>
		</div>
		@*<table style="margin-top:15px">
		<tbody>
		<tr style="font-size: xx-small;">
		<td style="width:325px; padding-bottom: 25px; width: 800px;">
		<div>
		<h4 class="trn" style="font-size: small;">Format No : 365.QM.D.16, Rev No : 02</h4>
		</div>
		</td>
		<td style="width:400px;padding-bottom: 25px; width: 800px; text-align: right;">
		<h4 class="trn" style="font-size: small;">Page 1 of 2</h4>
		</td>
		</tr>
		</tbody>
		</table>*@
	</div>

	@*<input type="hidden" id="ReviewStatus" name="ReviewStatus" value="@Model.ReviewStatus">*@
	<input type="hidden" id="InstrumentId" name="InstrumentId" value="@Model.Id">
	<input type="hidden" id="RequestId" name="RequestId" value="@Model.RequestId">
                              @if (@Model.TempObservationData != null)
                            {
	<input type="hidden" id="ExternalObsStatus" name="ExternalObsStatus" value="@Model.TempObservationData.ExternalObsStatus">
                            }
	@* <input type="hidden" id="TemplateObservationId" name="TemplateObservationId" value="@Model.TemplateObservationId">
 *@
	<!-- page1 end-->

    <div>
        <input type="hidden" id="requestId" value="@ViewBag.RequestId">
        <input type="hidden" id="instrumentId" value="@ViewBag.InstrumentId">
        <input type="hidden" id="isDownloadPdf" value="@ViewBag.IsDownloadPdf">
        <input type="hidden" name="FileName" id="FileName" value="@ViewBag.FileName" />
        @if (@Model.TempObservationData != null)
        {
            @if (@Model.isExportCertificate)
            {
                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
                {
                    <input type="button" value="ReGenerate" onclick="SaveCertificateTemp(language)" class="btn btn-primary trn">
                }
                <input type="button" class="btn btn-primary trn" id="btnExport" name="btnExport" value="Export" onclick="downloadPdfFile()" />
                <a class="btn btn-primary trn" href='@Url.Action("QRCodePrint","Certification", new {requestId=@ViewBag.RequestId, instrumentId=@ViewBag.InstrumentId})'>PrintQR Code</a>
            }
            else
            {
                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
                {
                    <input type="button" value="Save" onclick="SaveCertificateTemp(language)" class="btn btn-primary trn">
                }
            }
       
        <a class="btn btn-primary trn" href='@Url.Action("Request","Tracker",new {reqType=4})'>Cancel</a>
        }
    </div>
    </div>
</body>


<!-- Pdf Content-->

<div id="Pdfhtml" style="display: none;">
    <body style="font-family: Calibri;border:2px solid #000">
        <!-- page1 start-->

        <div style="padding-left: 5%; padding-right: 5%; margin-bottom: 5%;">
            <table style="border-collapse: collapse; border:2px solid #000; width:100%">
                <tbody>
                    <tr>
                        <td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:250px">
                            @*@if (Model.IsNABL ?? false)
                            {
                            <img src="../image/NABL.png" style="padding-top:5px;" width="100px" />
                            }
                            else
                            {
                            <img src="../image/Bharat_Benz.png" style="padding-top:5px;" width="150px" />
                            }*@
                            <img src="../image/Fuso.png" style="padding-top:5px;" width="100px" />
                        </td>
                        <td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:840px">
                            <div>
                                <h5 class="trn" style="margin: 5px;font-size:25px;"><b>Mitsubishi Fuso Truck and Bus Corporation</b></h5>
                                <h5 class="trn" style="margin: 5px;font-size:25px;"><b>三菱ふそうトラック・バス株式会社</b></h5>
                                <p class="trn" style="margin: 5px; font-size: 15px;">Ohkuracho 10, Nakahara Ward, Kawasaki City, Kanagawa Prefecture, Japan, 211-8522</p>
                                <p class="trn" style="margin: 5px; font-size: 15px;">〒211-8522 神奈川県川崎市中原区大蔵町10</p>
                            </div>
                        </td>
                        <td style="border-collapse: collapse; border:2px solid #000; text-align: center; width:100px">
                            <img style="padding-left:40px;padding-top:5px;" id="imgQRCode" height="100px" width="190px"
                                 src="@ViewBag.QRCodeImage" />
                        </td>
                    </tr>
                </tbody>
            </table>
            @if (@Model.TypeOfEquipment == "Internal")
            {
                <div>
                    <h4 class="trn" style="text-align: center; text-transform: uppercase;"><b>CERTIFICATE OF CALIBRATION / 校正証明書</b></h4>
                </div>
            }
            @if (@Model.TypeOfEquipment == "External")
            {
                <div>
                    <h4 class="trn" style="text-align: center; text-transform: uppercase;"><b>CERTIFICATE OF VERIFICATION / 検証証明書</b></h4>
                </div>
            }
            <div style="border-collapse: collapse; border:2px solid #000">
                <div>
                    <div style="padding: 5px;">
                        @if (@Model.TypeOfEquipment == "Internal")
                        {
                            <div>
                                <p class="trn" style="width:325px; font-weight: 900;padding-bottom: 10px; width: 600px;">I. Description of device under calibration (DUC) / 校正対象デバイス (DUC) の説明</p>
                            </div>
                        }
                        @if (@Model.TypeOfEquipment == "External")
                        {
                            <div>
                                <p class="trn" style="width:325px; font-weight: 900;padding-bottom: 10px; width: 600px;">I. Description of device under verification (DUV) / 検証対象デバイス (DUV) の説明</p>
                            </div>
                        }
                        <table style="width:100%">
                            <tbody>
                                                          @if (@Model.TempObservationData != null)
                                {
                                    <tr>
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 10px;">Certificate No. / 証明書の番号。</td>
                                        <td style="width:400px;padding-bottom: 10px;">: @Model.TempObservationData.CertificateNumber</td>
                                        <td class="trn" style="width:340px; font-weight: 900;padding-bottom: 10px;">Report issue date / レポート発行日</td>
                                        <td style="width:400px;padding-bottom: 10px;">: @Model.CalibrationCloseDate.ToString("dd-MM-yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 10px;">Date of Calibration / 校正日</td>
                                        <td style="width:400px;padding-bottom: 10px;">: @Model.TempObservationData.CalibrationReviewedDate.ToString("dd-MM-yyyy")</td>
                                        <td class="trn" style="width:340px; font-weight: 900;padding-bottom: 10px;">Next Calibrtaion due / 次回の校正期限</td>
                                         @if(@Model.DueDate != null)
                                     {
                                        <td style="width:400px;padding-bottom: 25px;"> : @Model.DueDate.ToString("dd-MM-yyyy")</td>
                                    }
                                    else
                                    {
                                         <td style="width:400px;padding-bottom: 25px;"> :</td>
                                    }
                                    </tr>
                                    <tr>
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 10px;">Name of Dept. / 部署名</td>
                                        <td style="width:400px;padding-bottom: 10px;">: @Model.DepartmentName.</td>
                                        <td class="trn" style="width:340px; font-weight: 900;padding-bottom: 10px;">Date of receipt / 領収書の日付</td>
                                        <td style="width:400px;padding-bottom: 10px;">: @Model.CalibDate.ToString("dd-MM-yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 10px;">Sub section code / サブセクションコード</td>
                                        <td style="width:400px;padding-bottom: 10px;">: @Model.SubSecCode</td>
                                        <td class="trn" style="width:340px; font-weight: 900;padding-bottom: 10px;">Description of equipment / 設備の説明</td>
                                        <td style="width:400px;padding-bottom: 10px;">: @Model.InstrumentName</td>
                                    </tr>
                                    <tr>
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 10px;">Identification No. / 識別番号。</td>
                                        <td style="width:400px;padding-bottom: 10px;">: @Model.IdNo</td>
                                        @if (@Model.TypeOfEquipment == "Internal")
                                        {
                                            <td class="trn" style="width:340px; font-weight: 900;padding-bottom: 10px;">Condition of DUC / DUCの状態</td>
                                        }
                                        @if (@Model.TypeOfEquipment == "External")
                                        {
                                            <td class="trn" style="width:340px; font-weight: 900;padding-bottom: 10px;">Condition of DUV / DUVの状態</td>
                                        }
                                        <td style="width:400px;padding-bottom: 10px;">: @Model.TempObservationData.InstrumentCondition</td>
                                    </tr>
                                }
                            </tbody>
						</table>


                        <div style="padding-top: 10px;">
                            <table style="border-collapse: collapse; border:1px solid #000; width:100%">
                                <tr>
                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Range/範囲</th>

                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Least Count/最小数</th>

                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Serial No/シリアル番号</th>

                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px; padding: 5px;">Make/作る</th>

								</tr>
								<tr>
									<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
										<p>@Model.Range</p>
									</td>
									<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
										<p>@Model.LC</p>
									</td>
									<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
										<p>@Model.SlNo</p>
									</td>
									<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:825px">
										<p>@Model.Make</p>
									</td>
								</tr>
							</table>

                            <table style="margin-top:5px;width:100%">
                                <tbody>
                                    <tr>
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 15px;">Calibration procedure/Reference standard / 校正手順・基準器</td>
                                        <td style="width:400px;padding-bottom: 15px;">: @Model.StandardReffered</td>
                                        @if (@Model.TypeOfEquipment == "Internal")
                                        {
                                            <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 15px;">Environmental condition/環境条件</td>
                                            <td style="width:400px;padding-bottom: 15px;">: 22±2°C/50±10% RH</td>
                                        }
                                        @if (@Model.TypeOfEquipment == "External")
                                        {
                                            <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 15px;">External/外部の</td>
                                            <td style="width:400px;padding-bottom: 15px;"></td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <p class="trn" style="width:325px; font-weight: 900; padding-bottom:5px; width:600px;">II. Master & Equipment used / マスターと使用機器</p>
                        </div>
                        <div style="margin-top: 5px;">
                            <table style="border-collapse: collapse; border:1px solid #000; width:100%">
                                <tr>
                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">SI.</th>


                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Master Equipment/マスター装備</th>

                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Id No/アイディー番号</th>

                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Make/作る</th>

                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Traceability/トレーサビリティ</th>

                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Certificate No/証明書の番号</th>

                                    <th class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">Validity/有効</th>

								</tr>
								@{
										@if (@Model.TypeOfEquipment == "Internal")
									{

										int i = 1;
											@foreach (var item in @Model.MasterEqiupmentList)
										{
												<tr>
													<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@i</td>
													<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.EquipName</td>
													<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.LabId</td>
													<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.Make</td>
													<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.Traceability</td>
													<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.CertNo</td>
													<td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">@item.DueDate.ToString("dd-MM-yyyy")</td>
												</tr>
											i++;
										}

                                    }
                                    @if (@Model.TypeOfEquipment == "External")
                                    {
                                        <td style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px">1</td>
                                        <td colspan="6" class="trn" style="border-collapse: collapse; border:1px solid #000; text-align: center; width:325px;">Refer external calibartion report / 外部校正レポートを参照してください</td>
                                    }
                                }
                            </table>

						</div>

                        <div>
                            <table style="margin-top:10px width:100%">
                                <tbody>
                                    <tr>
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 15px;">III. Calibration Results / 校正結果</td>
                                        <td style="width:400px;padding-bottom: 15px;"> </td>

                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 15px;">All values are in / すべての値が入っています</td>
                                        <td style="width:400px;padding-bottom: 15px;">: 22±2°C/50±10% RH</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

						@*<div>
						<table style="border-collapse: collapse; border:1px solid #000">
						</table>
						</div>*@

                        @if (@Model.TypeOfEquipment == "Internal")
                        {
                            <div id="dvTableCer1" class="col-md-12 content"></div>
                        }


                        @if (@Model.TypeOfEquipment == "External")
                        {
                            <div id="dvExtTable1" class="content" style="align-content:center">
                                <table style="border: 1px solid; width: 100%; border-collapse: collapse;">
                                    <tr>
                                        <td class="trn" style="border: 1px solid; text-align:center">External report result status / 外部報告結果状況</td>
                                        <td class="trn" style="border: 1px solid; text-align:center">1</td>
                                        <td class="trn" style="border: 1px solid; text-align:center"><input type="radio" id="PdfcheckOk" name="PdfcheckOk"> OK / わかりました</td>
                                        <td class="trn" style="border: 1px solid; text-align:center"><input type="radio" id="PdfcheckNotOk" name="PdfcheckNotOk"> Not OK / よくない</td>
                                    </tr>
                                </table>
                            </div>
                        }
                        @if (@Model.TypeOfEquipment == "External")
                        {                            
                            <p class="trn" style="margin-top:8px">Refer the external calibartion report for more details / 詳細については、外部校正レポートを参照してください。</p>
                        }

                        <table style="width:100%">
                            <tbody>
                                                          @if (@Model.TempObservationData != null)
                                {
                                    <tr>
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 5px;">IV. Result Of Calibration / 校正結果 :</td>

                                        <td class="trn" style="width:400px;padding-bottom: 5px;">
                                            @*<input class="form-control"
                                               placeholder="Result Of Calibration" id="CalibrationResult" name="CalibrationResult"
                                               value="PDF_Certificate_Results"> @*Model.GeneralData.CalibrationResult   @Model.TempObservationData.CalibrationResult*@
                                            <label id="CalibrationResult" class="form-control">@Model.TempObservationData.CalibrationResult</label>

                                        </td>
                                        <td style="width:325px; font-weight: 900;padding-bottom: 5px;"></td>
                                        <td style="width:400px;padding-bottom: 5px;"></td>
                                    </tr>
                                    <tr>
                                        <td class="trn" style="width:325px; font-weight: 900;padding-bottom: 5px;">V. Remarks / 備考 :</td>
                                        <td class="trn" style="width:400px;padding-bottom: 5px;">
                                            @*<input class="form-control"
                                               placeholder="Remarks" id="Remarks" name="Remarks"
                                               value="PDF_Certificate_Remarks"> @*Model.TempObservationData.Remarks  @Model.TempObservationData.Remarks*@
                                            <label id="CalibrationResult" class="form-control">@Model.TempObservationData.Remarks</label>
                                        </td>
                                        <td style="width:325px; font-weight: 900;padding-bottom: 5px;"></td>
                                        <td style="width:400px;padding-bottom: 5px;"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @if (@Model.TypeOfEquipment == "Internal")
                        {
                            <p class="trn">Note: Statement of conformity is given based on decision rule agreed by requestor / 注: 適合性の宣言は、要求者が合意した決定ルールに基づいて行われます。</p>                            
                        }
                        @if (@Model.TypeOfEquipment == "External")
                        {
                            <p class="trn">Note: Statement of conformity is given based on decision rule agreed by requestor and external certificate / 注: 適合性の宣言は、要求者によって合意された決定ルールと外部証明書に基づいて行われます。</p>                           
                        }
                        
                        <table style="margin-top:10px; width:100%">
                            <tbody>
                                                          @if (@Model.TempObservationData != null)
                                {
                                    <tr>
                                        <td style="width:325px; padding-bottom: 15px; width: 800px;">
                                            <div class="col-6 text-start">
                                                <h5 class="trn" style="margin-bottom: 5px;">Calibrated By / 校正者</h5>
                                                <img src="../UserSignature/@Model.TempObservationData.PerformedBySign" alt="PerformedBySign" style="width: 100px;" />
                                                <p style="margin: 0px;">@Model.TempObservationData.CalibrationPerformedBy</p>
                                                <p style="margin: 0px;">@Model.TempObservationData.PerformedByDesignation</p>
                                            </div>
                                        </td>
                                        <td style="width:400px;padding-bottom: 15px; width: 800px; text-align: right;">
                                            <h5 class="trn" style="margin-bottom: 5px;">Authorized Signatory / 承認された署名者</h5>
                                            <img src="../UserSignature/@Model.TempObservationData.ReviewedBySign" alt="ReviewedBySign" style="width: 100px;" />
                                            <p style="margin: 0px;">@Model.TempObservationData.ReviewedBy</p>
                                            <p style="margin: 0px;">@Model.TempObservationData.ReviewedByDesignation</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    @if (@Model.TypeOfEquipment == "Internal")
                    {
                        <div style="border-collapse: collapse;border-top: solid;border-block-width: 2px; border: 2px solid #000; width:100%; display: flex;">
                            <div style="padding:8px">
                                <p class="trn" style="margin: 0px; font-size: 12px;">1. The calibration results are valid at the time of and under the stated condition of measurement.</p>
                                <p class="trn" style="margin: 0px; font-size: 12px;">1. 校正結果は、測定時および指定された測定条件下で有効です。</p>
                                <p class="trn" style="margin: 0px; font-size: 12px;">2. The report should not be reproduced either in full or in part without permission in writing.</p>
                                <p class="trn" style="margin: 0px; font-size: 12px;">2. 報告書の全部または一部を書面による許可なく転載することはできません。</p>
                                <p class="trn" style="margin: 0px; font-size: 12px;">3. Next calibration due date given in this certificate as per requestor irrespective of the status or condition of instrument.</p>
                                <p class="trn" style="margin: 0px; font-size: 12px;">3. 次回の校正期日は、機器の状態や状態に関係なく、要求者に従ってこの証明書に記載されます。</p>
                            </div>
                        </div>
                    }
                    @if (@Model.TypeOfEquipment == "External")
                    {
                        <div style="border-collapse: collapse;border-top: solid;border-block-width: 2px; border: 2px solid #000; width:100%; display: flex;">
                            <div style="padding:8px">
                                <p class="trn" style="margin: 0px; font-size: 12px;">1. The calibration results based on external certificate result / 外部証明書の結果に基づく校正結果</p>                                
                                <p class="trn" style="margin: 0px; font-size: 12px;">2. Next calibration due date given in this certificate as per requestor irrespective of the status or condition of instrument. / 次回の校正期日は、機器の状態や状態に関係なく、要求者に従ってこの証明書に記載されます。</p>                                
                            </div>
                        </div>
                    }
                </div>
            </div>            
        </div>

        @*<input type="hidden" id="ReviewStatus" name="ReviewStatus" value="@Model.ReviewStatus">*@
        <input type="hidden" id="InstrumentId" name="InstrumentId" value="@Model.Id">
        <input type="hidden" id="RequestId" name="RequestId" value="@Model.RequestId">
                                  @if (@Model.TempObservationData != null)
        {
            <input type="hidden" id="ExternalObsStatus1" name="ExternalObsStatus" value="@Model.TempObservationData.ExternalObsStatus">

            <input type="hidden" id="TemplateObservationId" name="TemplateObservationId" value="@Model.TempObservationData.Id">
        }

        
	</body>
</div>

</html>

<script src="~/js/3.3.1Version/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {

		//if ($('#TemplateObservationId').val() > 0) {
		//	$("#dvTable").html("");
		//	BindObservationTable();
		//}
		BindObservationTable1();

        var reviewStatus = $('#ExternalObsStatus').val();        
        if (reviewStatus == 1) {
            $('#checkOk ').prop('checked', true);            
            $('#checkNotOk').prop('checked', false);                       
        }
        else if (reviewStatus == 2) {
            $('#checkOk').prop('checked', false);            
            $('#checkNotOk').prop('checked', true);                        
        }

        var reviewStatus1 = $('#ExternalObsStatus1').val();       
        if (reviewStatus1 == 1) {            
            $('#PdfcheckOk').prop('checked', true);                     
            $('#PdfcheckNotOk').prop('checked', false);
        }
        else if (reviewStatus1 == 2) {            
            $('#PdfcheckOk').prop('checked', false);                        
            $('#PdfcheckNotOk').prop('checked', true);
        }

    });

    function BindObservationTable1() {
       // alert('BindObservationTable1');
        $.ajax({
            type: 'GET',
            url: '../Observation/GetObservationById',
            dataType: 'json',
            data: { InstrumentId: $('#InstrumentId').val(), RequestId: $('#RequestId').val(), TemplateObservationId: $('#TemplateObservationId').val() },
        }).done(function (resultObject) {

            var rowhead = "";
            var rowContentCW = '';
            var rowContentIN = '';
            var rowContentSW = '';
            console.log(" bind resultObject ");
            console.log(resultObject);
            var InCount = 0;
            for (let i = 0; i < resultObject.length; i++) {
                var IdName = resultObject[i].typeOfContent;

                var tblId = 'TblObservation' + i;
                var tableIN = '<table id="IN' + tblId + '" style="text-align:center; border: 1px solid; width: 100%; border-collapse: collapse;">';
                var tableCW = '<table id="CW' + tblId + '" style="text-align:center; border: 1px solid; width: 100%; border-collapse: collapse;">';
                var tableSW = '<table id="SW' + tblId + '" style="text-align:center; border: 1px solid; width: 100%; border-collapse: collapse;">';//<td  colspan="6" class="Tables-AndTablesTextBox trn">' + resultObject[i].contentValue + '</td>
                //if (resultObject[i].contentCount == 0) {
                if (IdName == 'CW') {                    
                    var rowheadCW = '<thead><tr height="50" ><td style="border: 1px solid; text-align:center">説明/ Description</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle6 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle1 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle2 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle3 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle4 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle5 + '</td></tr></thead>';

                }
                else if (IdName == 'SW') {                    
                    var rowheadSW = '<thead><tr><td height="50">説明/ Description</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle1 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle2 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle3 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle4 + '</td></tr></thead>';

                }
                else if (IdName == 'IN') {                    
                    var rowheadIN = '<thead><tr><td height="50">説明/ Description</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle1 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle2 + '</td><td style="border: 1px solid; text-align:center">' + resultObject[i].contentSubTitle3 + '</td></tr></thead>';
                }
                
                var rowBodyCW = '<tbody>';
                var rowBodyIN = '<tbody>';
                var rowBodySW = '<tbody>';
               
                var objcontentCount = resultObject[i].contentCount;

                var title = "";
                var contentsubheadingIN = "";

                if (IdName == 'IN') {

                    if (InCount == 3) {
                        InCount = 0
                    }
                    if (objcontentCount > 1) {
                        InCount = InCount + 1;
                        if (InCount == 2) {
                            title = resultObject[i].contentValue.trim();
                            console.log("title 2");
                            console.log(title);                            
                            contentsubheadingIN = '<td style="width: 70%;border:2px solid #ffffff;border-left:none;border-right:none;"  id = "IN1" > <label style="width:100%;text-align:center " id="Head' + i + i + '" name = "Head[' + i + ']" class="Tables-AndTablesTextBox TblInHeader">' + title + '</label>';

                        }
                        else {
                            console.log(" else title");
                            console.log(title);
                            title = "";// resultObject[i].contentValue.trim();                            
                            contentsubheadingIN = '<td style="border:none;"  id = "IN2" > <label style="width:100%; text-align:center" id="Head' + i + i + '" name = "Head[' + i + ']" class="Tables-AndTablesTextBox TblInHeader">' + title + '</label>';
                        }
                    }
                    else //if (InCount == 1)
                    {                       
                        title = resultObject[i].contentValue.trim();                        
                        contentsubheadingIN = '<td style="border:none;" id = "IN3"> <label style="width:100%; text-align:center" id="Head' + i + i + '" name = "Head[' + i + ']" class="Tables-AndTablesTextBox TblInHeader">' + title + '</label>';
                    }

                }

                if (IdName == 'CW') {
                    console.log('Check value 1')
                    rowContentCW += '<tr><td style="width: 40%" id = "CW"><label id="Head' + i + i + '" name = "Head[' + i + '] class="Tables-AndTablesTextBox TblInHeader">' + resultObject[i].contentValue.trim() + '</label> <input type="hidden" id = "HiddenContentId" name = "HiddenContentId" value = "' + resultObject[i].id + '" /> <input type="hidden" id = "HiddenContentvalueId" name = "HiddenContentvalueId" value = "' + resultObject[i].obsContentValueId + '" /> </td>' +
                        '<td id="CW"><label id="MeasuedValue" name="MeasuedValue[' + i + i + ']" class="Tables-AndTablesTextBox TblInHeader MeasuedValue">' + resultObject[i].measuedValue + '</label><input type="hidden" id="HiddenMappingId" name="HiddenMappingId" value="' + resultObject[i].contentMappingId + '"/></td>' +
                    // '<tr><td style="width: 40%" id="CW"><label style="width: 100%" id="Head' + i + i + '" name="Head[' + i + ']" class="Tables-AndTablesTextBox TblInHeader">' + resultObject[i].contentValue.trim() + '</label><input type="hidden" id="HiddenContentvalueId" name="HiddenContentvalueId" value="' + resultObject[i].obsContentValueId + '"/></td>' +
                    //    //'<td id="CW" style="border: 1px solid; text-align:center"><label style="width: 100%" id="SNO' + i + i + '" name="SNO[' + i + ']" class="Tables-AndTablesTextBox TblInHeader">' + resultObject[i].sno + '</label><input type="hidden" id="HiddenContentId" name="HiddenContentId" value="' + resultObject[i].id + '"/><input type="hidden" id="HiddenMappingId" name="HiddenMappingId" value="' + resultObject[i].contentMappingId + '"/></td>' +
                        '<td id="CW" style="border: 1px solid; text-align:center"><label style="width: 100%" id="Value1" name="Value1[' + i + i + '] " class="Tables-AndTablesTextBox TblInHeader Value1">' + resultObject[i].measuedValue1 + '</label> </td>' +
                        '<td id="CW" style="border: 1px solid; text-align:center"><label style="width: 100%" id="Value2" name="Value2[' + i + i + ']"  class="Tables-AndTablesTextBox TblInHeader Value2">' + resultObject[i].measuedValue2 + ' </label></td>' +
                        '<td id="CW" style="border: 1px solid; text-align:center"><label style="width: 100%" id="Value3" name="Value3[' + i + i + ']"   class="Tables-AndTablesTextBox TblInHeader Value3">' + resultObject[i].measuedValue3 + '</label></td>' +
                        '<td id="CW" style="border: 1px solid; text-align:center"><label style="width: 100%" id="Average" name="Average[' + i + i + ']"  class="Tables-AndTablesTextBox TblInHeader Average">' + resultObject[i].average + '</label></td>' +
                        '<td id="CW" style="border: 1px solid; text-align:center"><label style="width: 100%" id="Percentage" name = "Percentage[' + i + i + ']" class="Tables-AndTablesTextBox TblInHeader Percentage">' + resultObject[i].percent + '</label> </td></tr>';

                }
                else if (IdName == 'SW') {
                    console.log('Check value 2')
                    rowContentSW += '<tr style="border: 1px solid;"><td style="width: 30%" id="SW"><label id="Head' + i + i + '" name="Head[' + i + ']" type = "text" class="Tables-AndTablesTextBox TblInHeader">' + resultObject[i].contentValue.trim() + '</label><input type="hidden" id="HiddenContentvalueId" name="HiddenContentvalueId" value="' + resultObject[i].obsContentValueId + '"/></td>' +
                        //'<td id="SW" style="border: 1px solid; text-align:center"><label id="SNO' + i + i + '" name="SNO[' + i + ']" type = "text" class="Tables-AndTablesTextBox TblInHeader">' + resultObject[i].sno + '</label><input type="hidden" id="HiddenContentId" name="HiddenContentId" value="' + resultObject[i].id + '"><input type="hidden" id="HiddenMappingId" name="HiddenMappingId" value="' + resultObject[i].contentMappingId + '"/></td>' +
                        '<td id="SW" style="border: 1px solid; text-align:center"><label id="SWValue1" name="SWValue1[' + i + i + '] " type="text" class="Tables-AndTablesTextBox TblInHeader">' + resultObject[i].measuedValue + '</label> </td>' +
                        '<td id="SW" style="border: 1px solid; text-align:center"style="border: 1px solid; text-align:center"><label id="SWValue2" name="SWValue1[' + i + i + ']"  type="text" class="Tables-AndTablesTextBox TblInHeader">' + resultObject[i].measuedValue1 + '</label> </td>' +
                        '<td id="SW" style="border: 1px solid; text-align:center"><label id="SWValue3" name="SWValue1[' + i + i + ']"  type="text" class="Tables-AndTablesTextBox TblInHeader"> ' + resultObject[i].measuedValue2 + '</label></td>' +
                        '<td id="SW" style="border: 1px solid; text-align:center"><label id="SWValue4" name="SWValue1[' + i + i + ']"  type="text" class="Tables-AndTablesTextBox TblInHeader"> ' + resultObject[i].measuedValue3 + '</label></td></tr > '
                }
                else if (IdName == 'IN') {
                    console.log('Check value 3')

                    rowContentIN += '<tr style="border: 1px solid;">' + contentsubheadingIN + '<input type="hidden" id="HiddenContentvalueId" name="HiddenContentvalueId" value="' + resultObject[i].obsContentValueId + '"/></td>'+ 
                        //'<td id="IN" style="border: 1px solid; text-align:center"><label id="SNO' + i + i + '" name="SNO[' + i + ']" class="Tables-AndTablesTextBox TblInHeader">' + resultObject[i].sno + '</label><input type="hidden" id="HiddenContentId" name="HiddenContentId" value="' + resultObject[i].id + '"/><input type="hidden" id="HiddenContentvalueId" name="HiddenContentvalueId" value="' + resultObject[i].ObsContentValueId + '"/></td>' +
                        '<td id="IN" style="border: 1px solid; text-align:center"><label id="MeasuedValue" name="MeasuedValue[' + i + i + '] " class="Tables-AndTablesTextBox TblInHeader MeasuedValue">' + resultObject[i].measuedValue + '</label><input type="hidden" id="HiddenMappingId" name="HiddenMappingId" value="' + resultObject[i].contentMappingId + '"/></td>' +
                        '<td id="IN" style="border: 1px solid; text-align:center"><label id="Actual" name="Actual[' + i + i + ']"   class="Tables-AndTablesTextBox TblInHeader Actual"></label>' + resultObject[i].actualValue + '</td>' +
                        '<td id="IN" style="border: 1px solid; text-align:center"><label id="Avg" name = "Avg[' + i + i + ']"  class="Tables-AndTablesTextBox TblInHeader Avg">' + resultObject[i].instrumentError + '</label> </td></tr>'

                }

            }


            rowBodyCW += rowContentCW;
            rowBodyIN += rowContentIN;
            rowBodySW += rowContentSW;

            rowBodyCW += '</tbody></table><br/>';
            rowBodyIN += '</tbody></table><br/>';
            rowBodySW += '</tbody></table><br/>';

            tableCW += rowheadCW;
            tableCW += rowBodyCW;

            tableIN = tableIN + rowheadIN;
            tableIN += rowBodyIN;           


            tableSW += rowheadSW;
            tableSW += rowBodySW;

            if (rowContentSW == "") {

                tableSW = "";
            }
            if (rowContentIN == "") {

                tableIN = "";
            }
            if (rowContentCW == "") {

                tableCW = "";
            }
            $("#dvTableCer").html("");
            $("#dvTableCer1").html("");
            var tables = tableCW + "<br/>" + tableIN + "<br/>" + tableSW;
            var dvTable = $("#dvTableCer");
            var dvTable1 = $("#dvTableCer1");
            dvTable.append(tables);
            dvTable1.append(tables);

        });

    }

    function downloadPdfFile() {
        var filePath = $("#FileName").val();
        window.open(filePath, "_blank");
    }
</script>
