@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Control Card</title>
</head>
<style>
	.Tblborder {
		/* border: 1px solid #CCC; */
		border-collapse: collapse;
		border: 2px solid #000;
		width: 100%;
	}
	.TblContent {
		/* border: 1px solid #CCC; */
		border-collapse: collapse;
		border: 1px solid #000;
		width: 100%;
	}
	.Tblfoot {
		/* border: 1px solid #CCC; */
		border-collapse: collapse;
		border: 1px solid #000;
		width: 100%;
		height:50px;
		padding-top: 5px;
		font-weight:900;
	}
	.TablesTextBox {
		width: 100%;
		/* height:50px; */
	}

	.TblInHeader {
		border: none;
		border-collapse: collapse;
		text-align: center;
	}

	.TblSubHeader {
		border-collapse: collapse;
		border: 1px solid #000;
		text-align: center;
		width: 135px;
		height:50px;
		/* padding: 5px; */
	}

	.TblSubTitle {
		width: 325px;
		font-weight: 900;
		padding-bottom: 25px;
	}

	.TblTitle1 {
		width: 400px;
		padding-bottom: 25px;
	}
</style

<!-- page1 start-->
<body style="font-family: Calibri;">
	<div style="padding-left:5%; padding-right: 5%; margin-bottom: 5%;">
		<table class="Tblborder">
			<tbody>
				<tr>
					<td style="border-collapse: collapse; border-right:2px solid #000;text-align: center;width:190px;">						
						<img src="../image/Fuso.png" style="padding-top:5px;" width="100px" />
					</td>
					<td style="width:840px">
						<div>
							<h5 class="trn" style="margin: 10px;font-size:40px;">Mitsubishi Fuso Truck and Bus Corporation</h5>
							<p class="trn" style="margin: 5px; font-size: 18px;">Ohkuracho 10, Nakahara Ward, Kawasaki City, Kanagawa Prefecture, Japan, 211-8522</p>
						</div>
					</td>
					<td style="border-collapse: collapse; border-left:1px solid #000; text-align: center; width:100px">
						<img style="padding-left:40px;padding-top:5px;" id="imgQRCode" height="150px" width="190px"
							 src="@ViewBag.QRCodeImage" />
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="Tblborder">
		
<div style="border-collapse: collapse;border-top-color:white;border-block-width: 0px; border-bottom: 2px solid #000;">
				<div style="padding:10px">
		<H4 class="trn" style="margin: 0px; font-size: 25px;text-align:center;">Control/History card</H4>
		</div>
	</div>
			
				<div>
					<table id="tblhead">
						<tbody>
							<tr>
								<td class="TblSubTitle trn">Issue No/発行№</td>
							@if ((Model.IssueNo == "") || (Model.IssueNo == null))
							{
								<td class="TblTitle1">: <input type="text" style="height: 40px;width:90%" value="@Model.IssueNo"  name="Issueno" id="Issueno"/></td>
							}
							else
							{
							<td class="TblTitle1">: <input type="text" style="height: 40px;width:90%" value="@Model.IssueNo"  name="Issueno" id="Issueno" disabled/></td>
								}
								<td class="TblSubTitle trn">Acquisition date / 初回登録日</td>
								<td class="TblTitle1 trn">: @Model.CreatedOn.ToString("dd-MM-yyyy")</td>
							</tr>
							<tr>
							<td class="TblSubTitle trn">Instrument ID / 計量器社番</td>
								<td class="TblTitle1">: @Model.IdNo </td>
								
								<td class="TblSubTitle trn">Instrument Name / 機器名称</td>
								<td class="TblTitle1 trn">:@Model.InstrumentName</td>
								
								
							</tr>
							<tr>
								<td class="TblSubTitle trn">Manufacturer /メーカー</td>
								<td class="TblTitle1 trn">: @Model.Make </td>
								<td class="TblSubTitle trn">Cost / 取得価</td>
								<td class="TblTitle1 trn">:@Model.AmountJPY </td>
							<tr>
								<td class="TblSubTitle trn">Master std. Name / 代表基準ゲージ</td>
								<td class="TblTitle1 trn">: 
								
								@if (Model.MasterEqiupmentList != null && Model.MasterEqiupmentList.Count > 0)
								{
									@foreach (var master in Model.MasterEqiupmentList)
									{
										<label>
											@master.EquipName
											&nbsp;
										</label>
									}

								}
						</td>
							<td class="TblSubTitle trn"> Master ID / 代表基準ゲージ社番</td>
								<td class="TblTitle1 trn">:
								
								@if (Model.MasterEqiupmentList != null && Model.MasterEqiupmentList.Count > 0)
								{

									@foreach (var master in Model.MasterEqiupmentList)
									{
										<label>
											@master.Id
											&nbsp;
										</label>

									}

								}
								</td>	
							</tr>

							
					</tbody>
					</table>
				</div>
			<input type="hidden" id="InstrumentId" name="InstrumentId" value="@Model.Id">
		</div>
<div class="TblContent">
		<table id="TblRequest" class="table table-bordered table-striped"  style="width:100%">
		<thead>
			<tr>
				<th class="trn">Month & Year/年月</th>

				<th class="trn">Section code/部門コード</th>

				<th class="trn">Inspection Type/検査の種類</th>

				<th class="trn">Result/検査結果</th>
				<th class="trn">Grade/等級</th>
				<th class="trn">Due date/有効期限</th>
				<th class="trn">Inspection details/備考</th>

			</tr>
			</thead>
			<tbody class="TblContent">
			
			</tbody>
			</table> 
			<div style="border-collapse: collapse;border-top: solid;border-block-width: 2px; border: 2px solid #000; display: flex;">
						<div style="padding:10px">
				<p class="trn" style="margin: 0px; font-size: 18px;">1. More details refer the individual certificate.</P>
				</div>
			</div>
			</div>		
			
					<div class="form-group" style="text-align:right;">
						<input style="margin-top: 32px;" type="button" class="btn btn-primary trn" name="btnSubmit" id="btnSubmit" value="Submit"
							   onclick="UpdateControlCardRequest();">
						<a href='@Url.Action("Index","Instrument")'> <input type="button" style="margin-top: 32px;" class="btn btn-default trn" value="Cancel"></a>
					</div>
	</div>
	
</body>


</html>
 <script src="~/js/3.3.1Version/jquery.min.js"></script> 
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
	
	$(document).ready(function () {
		/* if ($.fn.dataTable.isDataTable('#TblRequest')) {
			$('#TblRequest').DataTable().clear().destroy();
		} */
		var rows = "";
		var DetailCol = "";
		$.ajax({
			type: 'GET',
			url: '../Instrument/RequestListForInstrument',
			data: { InstrumentId: $('#InstrumentId').val() },
		}).done(function (data) {

			$.each(data, function (i, item) {
				if (item.inspectiondetails == '' || item.inspectiondetails == null) {
					DetailCol = "<td class='trn'><input type='text' class='TablesTextBox Inspect trn' value='" + item.inspectiondetails + "' name='Inspectiondetails' id='Inspectiondetails'><input id='requestId' class='RequestId' name='requestId' type='hidden' value='" + item.requestId + "' /></td>";

				}
				else { 
					DetailCol = "<td class='trn'><input type='text' class='TablesTextBox Inspect trn' value='" + item.inspectiondetails + "' name='Inspectiondetails' id='Inspectiondetails' disabled><input id='requestId' class='RequestId' name='requestId' type='hidden' value='" + item.requestId + "' /></td>";

				
				}
				rows = "<tr>"
					+ "<td class='trn'>" + item.calibrationMonth + "</td>"
					+ "<td class='trn'>" + item.sectionCode + "</td>"
					+ "<td class='trn'>" + item.instrumentType + "</td>"
					+ "<td class='trn'>" + item.result + "</td>"
					+ "<td class='trn'>" + item.grade + "</td>"
					+ "<td class='trn'>" + item.calibrationRequestDate + "</td>"
					/* + "<td class='TblSubHeader trn'><input type='text' style='height: 50px;width:100%;' value='" + item.inspectiondetails + "' class='Inspect' name='Inspectiondetails' id='Inspectiondetails'><input id='requestId' class='RequestId' name='requestId' type='hidden' value='" + item.requestId + "' /></td>"
				 */	
				 +DetailCol
				 + "</tr>"

				$('#TblRequest tbody').append(rows);

			});
			$("#TblRequest").DataTable({
					"paging": true,
					"lengthChange": true,
					"searching": true,
					"ordering": true,
					"info": true,
					"autoWidth": true,
					"responsive": true,
				
				});
			/* $( "#TblRequest-table" ).DataTable(); */
		});
	  
}); 
	
	
</script>