
@{
    ViewData["Title"] = "Instrument List";
}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<script src="~/js/3.3.1Version/jquery.min.js"></script>
    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@

<style>
	/* .OverDue tr:nth-child(odd), tr:nth-child(even) {
				background-color: lightsalmon;
					tomato
			} */
	/* .table-striped tr:nth-child(even) {
				background-color: #e8e7e6;
			}

			th:nth-child(even), td:nth-child(even) */
</style>

<section class="content">
    <div class="row">
        <div class="col-15">

            <div class="card card-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title trn">Instruments List</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href='@Url.Action("Create","Instrument")'>
                                <input type="button" class="btn btn-sm btn-default trn" value="Add New Instrument">
                            </a>
                            <a href='@Url.Action("QuratineList","Instrument")'>
                                <input type="button" class="btn btn-sm btn-default trn" value="Quratine List">
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3">
                    <!-- text input -->
                    <div class="form-group">

                        @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1")
                        {
                            <label class="trn">Due For Calibration</label>
                            @* <input type="checkbox" id="selectAll" value="selectAll" /> *@
                            <input type="checkbox" name="DueTracker" id="checkdueonly" value="Due For Calibration" onclick="DueForCalibrationInstruments();">
                        }
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th class="trn">Instrument Name</th>
                                <th class="trn">Serial Number</th>
                                <th class="trn">Lab ID Number</th>
                                <th class="trn">Range</th>
                                <th class="trn">Department</th>
                                <th class="trn">Sub section code</th>
                                <th class="trn">Scope</th>
                                <th class="trn">Calibration Date</th>
                                <th class="DueDate trn">DueDate</th>
                                <th class="trn">Edit</th>
                                <th class="trn">Control Card</th>
                                <!--<th>Delete</th>-->
                              
                                    <th style="text-align:center;">
                                          @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1")
                                     {   
                                        <span class="trn">SelectAll Request</span>
                                        <br>
                                        <input type="checkbox" id="selectAll" name="selectAll" />
                                    }
                                </th>

							
								<th class="trn">Quarantine</th>
							</tr>
                             <tr>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                                <th class=""></th>
                               
                            </tr>

						</thead>
						<tbody>
                        @*
							@foreach (var item in Model)
							{
								//@if ((@item.RequestStatus != 28 && @item.ToolInventoryStatus != 2) || (@item.RequestStatus != 30 && @item.ToolInventoryStatus != 2) || (@item.RequestStatus != 31 && @item.ToolInventoryStatus != 2))
								@if ((@item.RequestStatus != 28) || (@item.RequestStatus != 30) || (@item.RequestStatus != 31))
                                {

									<tr>
										
										<td class="one">@item.InstrumentName</td>
										<td>@item.SlNo</td>
										<td>@item.IdNo</td>
										<td>@item.Range</td>
										<td>@item.DepartmentName</td>
										<td>@item.SubSecCode</td>
										<td>@item.TypeOfEquipment</td>
										<td>@item.CalibDate.ToString("dd-MM-yyyy")</td>
										@if (item.DueDate == null)
										{
											<td> </td>
										}
										else
										{
											<td>@item.DueDate.ToString("dd-MM-yyyy")</td>
										}
										<td><a href='@Url.Action("InstrumentEdit","Instrument",new {instrumentId=@item.Id})'><i class="fas fa-edit"></i></a></td>
										<td><a href='@Url.Action("ControlCard","Instrument",new {instrumentId=@item.Id})'><i class="fas fa-id-badge"></i></a></td>
										@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1")
										{
											<td style="text-align:center;" class="chkpl">
												@if (@item.DueDate != null)
												{
													
													@if ((@item.DueDate.Month <= DateTime.Now.Month && DateTime.Now.Year >= @item.DueDate.Year) && (@item.RequestStatus == 30 || @item.RequestStatus == 31 || @item.RequestStatus == 28))
													{
                                                        @if ((@item.ToolInventoryStatus == 1) || (@item.ToolInventory == "No") || (@item.TypeOfEquipment == "External"))// && @item.ToolInventory=="Yes" && @item.ToolInventoryStatus=="1")
                                                        {

                                                            <input id="chkBox" name="chkBox" class="class1" type="checkbox" value='@item.Id' />
                                                            <input id="typeId" name="typeId" type="hidden" value="2" />
                                                            // to implement only regular cases for Dept User Listing above typeid=3 converted to typeid-->2-07-12-223
                                                            <input id="RequestId" name="RequestId" class="clsRequestId" type="hidden" value='@item.RequestId' />
                                                            <input id="DueDate" name="DueDate" class="clsDueDate" type="hidden" value='@item.DueDate' />
                                                            <input id="ReplacementStartDate" name="ReplacementStartDate" class="clsReplacementStartDate" type="hidden" value='@item.ReplacementStartDate' />
                                                            <input id="ReqDueDate" name="ReqDueDate" class="clsReqDueDate" type="hidden" value='@item.ReqDueDate' />
                                                        }
                                                    }
                                                    else if ((@item.DueDate.Month == DateTime.Now.AddMonths(1).Month && DateTime.Now.AddMonths(1).Year == @item.DueDate.Year) && (@item.RequestStatus == 30 || @item.RequestStatus == 31 || @item.RequestStatus == 28))
                                                     {
                                                        @if ((@item.ToolInventoryStatus == 1) || (@item.ToolInventory == "No") || (@item.TypeOfEquipment == "External"))
                                                            {

                                                                <input id="chkBox" name="chkBox" class="class1" type="checkbox" value='@item.Id' />
                                                                <input id="typeId" name="typeId" type="hidden" value="2" />
                                                                <input id="RequestId" name="RequestId" class="clsRequestId" type="hidden" value='@item.RequestId' />
                                                                <input id="DueDate" name="DueDate" class="clsDueDate" type="hidden" value='@item.DueDate' />
                                                                <input id="ReplacementStartDate" name="ReplacementStartDate" class="clsReplacementStartDate" type="hidden" value='@item.ReplacementStartDate' />
                                                                <input id="ReqDueDate" name="ReqDueDate" class="clsReqDueDate" type="hidden" value='@item.ReqDueDate' />
                                                            }
                                                    }
													
												}
											</td>
										}
										

										@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2" || @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "3")
										{
											<td><i class="fas fa-arrow-alt-circle-right" style="cursor:pointer;" id='@item.Id' onclick="InstrumentQuarantineClick(this, language)"></i></td>
										}
										else
										{
											<td></td>
										}

									</tr>

                            }
                                
                            }
                            *@
                        </tbody>
                       
                    </table>
                </div>

                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1")
                {
                    <div class="form-group" style="text-align:right;">
                        <input style="margin-top: 32px;" type="button" class="btn btn-primary trn" name="btnSubmit" id="btnSubmit" value="Submit"
                               onclick="InsertRequestList();">
                        <a href='@Url.Action("Index","Instrument")'> <input type="button" style="margin-top: 32px;" class="btn btn-default trn" value="Cancel"></a>
                    </div>
                }
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>


<!--Data Table-->
<script type="text/javascript" src=" https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">
     $(function () {
         $('#example1').dataTable({
                  "bDestroy": true,
                "bProcessing": true,
               // "scrollX": true,
                "bServerSide": true,
                "bSortCellsTop": true,
                "sAjaxSource": '../Instrument/GetAllInstrumentList',
               "fnServerParams": function (aoData) { 
                    aoData.push({ "name": "sscode", "value": $('#txtsearch5').val() })
                    aoData.push({ "name": "instrumentname", "value": $('#txtsearch0').val() })
                    aoData.push({ "name": "labid", "value": $('#txtsearch2').val() })
                    aoData.push({ "name": "typeOfEquipment", "value": $('#drptypeOfEquipment').val() })
                   
                    aoData.push({ "name": "serialno", "value": $('#txtsearch1').val() })
                    aoData.push({ "name": "range", "value": $('#txtsearch3').val() })
                    aoData.push({ "name": "department", "value": $('#txtsearch4').val() })
                    aoData.push({ "name": "calibrationdate", "value": $('#txtsearch7').val() })
                    aoData.push({ "name": "duedate", "value": $('#txtsearch8').val() })
                },
                "fnServerData": function (sSource, aoData, fnCallback) {// }, oSettings) {
                    $.ajax({
                        type: 'GET',
                        url: sSource,
                        data:aoData,
                        success: fnCallback
                    })
                },
                 "columns":[
                     {"data":"instrumentName","name":"Instrument Name"},
                     {"data":"slNo","name":"Serial Number"},
                     {"data":"idNo","name":"Lab ID Number"},
                     {"data":"range","name":"Range"},
                     {"data":"departmentName","name":"Department","search" : true},
                         {"data":"subSecCode","name":"Sub section code"},
                     {"data":"typeOfEquipment","name":"Scope"},
                     {"data":"sCalibDate","name":"Calibration Date"},
                     {"data":"sDueDate","name":"DueDate"},
                     {"render" : function(data,type,row,meta){
                            var linkedit = '<a href="@Url.Action("InstrumentEdit","Instrument")?instrumentId='+row.id+'"><i class="fas fa-edit"></i></a>';
                            return linkedit;
                        }
                     },
                     {"render" : function(data, type, row, meta){
                             var linkControlCard = '<a href="@Url.Action("ControlCard","Instrument")?instrumentId='+row.id+'"><i class="fas fa-id-badge"></i></a>';
                             return linkControlCard;
                        }
                    },
                    {"render": function(data, type, row, meta){
                        var linkCheckbox='';
                            if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1")
                            {
                                 //var linkCheckbox='';
                                 var d = new Date($.now());

                                 var date = new Date(row.dueDate);
                                
                                 d.setMonth(d.getMonth()+1);
                                 var CurrMonth=d.getMonth();
                                 var CurrYear=d.getFullYear();
                                 month = date.getMonth();
                                 yr = date.getFullYear();
                                
                                  d.setMonth(d.getMonth() + 1);
                                 var NextMonth=d.getMonth();
                                 var NextYear=d.getFullYear();
                                
                                     if (row.dueDate != null)
                                    {
                                        if ((Date.parse(date) <= Date.parse(d))  && (row.requestStatus == 30 || row.requestStatus == 31 || row.requestStatus == 28))
                                            { console.log('********************less & Curr*********************');
                                             if ((row.toolInventoryStatus == 1) || (row.toolInventory == "No") || (row.typeOfEquipment == "External"))
                                              {
                                  
                                      linkCheckbox = '<td style="text-align:center;"> <td style="text-align:center;" class="chkpl" >' +
                                                                    '<input id="chkBox" name="chkBox" class="class1" type="checkbox" value='+row.id+' />'+
                                                                    '<input id="typeId" name="typeId" type="hidden" value="2" />'+
                                                                    '<input id="RequestId" name="RequestId" class="clsRequestId" type="hidden" value='+row.requestId+' />'+
                                                                    '<input id="DueDate" name="DueDate" class="clsDueDate" type="hidden" value='+row.dueDate+' />'+
                                                                   // '<input id="ReplacementStartDate" name="ReplacementStartDate" class="clsReplacementStartDate" type="hidden" value='+row.replacementStartDate+' />'+
                                                                   '<input id="ReqDueDate" name="ReqDueDate" class="clsReqDueDate" type="hidden" value='+row.reqDueDate+' />'+
                                                                  '</td>'
                                              }
                                             }
                                            }
                                           
                            }
                              console.log("******************");
                             console.log(linkCheckbox);
                                 return linkCheckbox;
                        }
                    },
                    {"render": function(data, type, row, meta){
                        var linkQuarantine = '';
                        if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2" || @HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "3")
                                            {
                                                 linkQuarantine = '<td><i class="fas fa-arrow-alt-circle-right" style="cursor:pointer;" id='+row.id+' onclick="InstrumentQuarantineClick(this, language)"></i></td>';
                                            }
                    
                      return linkQuarantine;
                   
                     }
                     },
                 ],
                  "createdRow": function (row, data, dataIndex) {

                    if (data["dueDate"] != null) {

                       
                        var edate=new Date(data["dueDate"]);
                        var currentdate = new Date();
                        
                        if (edate < currentdate) //&& (item.status != 30))
                        {
                          
                            $(row).css('background-color', '#fbefef');
                        }
                        else {
                        
                        }
                        }
                },
              
                 "columnDefs": [
                {
                'orderable': false,
               'targets': 11,
               'checkboxes': {
               'selectRow': true
                }
            }
             ],
             'select': {
            'style': 'multi'
          },

                // "serverside":"true",
                 "order":[0,"asc"],

                 "pageLength": "100",
                 "language": {
                    //"emptyTable": "No record found.",
                    "processing":
                        '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                },
                 dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",

           "initComplete": function() {
      // Select the column whose header we need replaced using its index(0 based)
      this.api().column(6).every(function() {
          var $table = $("#example1");
            var title = $(this).text();
        var column = this;
            var select = $('<select style="width: 100px;" id="drptypeOfEquipment"  onchange="DrptypeOfEquipment(this.value)" class="form-control input-sm"><option selected value="">All</option></select>')
        
          .appendTo($table.find('thead tr:eq(1) th:eq(' + this.index() + ')'))
          
        column.data().unique().sort().each(function(d, j) {
            if(d !=null)
            {
                  select.append("<option value='" + d + "'>" + d + "</option>")
            }
         
        });
      });
    },


            });

         
      
            })
    
      


       // $('body').on('change', '#selectAll', function() {
       // var rows, checked;

       // //rows = $('#example1').find('tbody tr');
       // rows = $('#example1').dataTable().fnGetNodes();

       // checked = $(this).prop('checked');
       // $.each(rows, function() {
       //    var checkbox = $($(this).find('td').eq(11)).find('input').prop('checked', checked);
       // });

    // });

        function DrptypeOfEquipment(val) {
         var table = $('#example1').DataTable();
          if (table.search() !== val) {
             table.search(val).draw();
                  
         }
     }

   $(document).ready(function() {


   $("#example1 thead tr:eq(1) th").each(function (i) {
        var title1 = $(this).text();
        var title = title1.trim();
     if(i==0 ||i==1 ||i==2 || i==3|| i==4|| i==5|| i==7|| i==8)
     {
       $(this).html('<input id="txtsearch'+i+'" style="width: 100px;"  class="form-control filter" type="text" placeholder="Search" />');

     }
  
     else
     {
       $(this).html('<input  style="width: auto;display:none"  class="form-control filter" type="text" placeholder="Search" />');

     }
    });
   
        var table = $('#example1').DataTable();
           table.columns().every(function () {
         //var table = this;
          $('input').on('keyup change', function () {
                if (table.search() !== this.value) {
                	table.search(this.value).draw();
                  
                }
            });
        });

 

      })




    function GetAllInstrument(){
        $.ajax({
            type: "GET",
            url: "../Instrument/GetAllInstrumentList",            
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    }

    function OnSuccess(response) {
        console.log('********************************** response ******************************************');
        console.log(response);
        $("#example1").DataTable(
        {
            bLengthChange: true,
            lengthMenu: [[5, 10, -1], [5, 10, "All"]],
            bFilter: true,
            bSort: true,
            bPaginate: true,
            data: response,
            columns: [
                {"data":"instrumentName","name":"Instrument Name"},
                 //{"data":"slNo","name":"Serial Number"},
                 //{"data":"idNo","name":"Lab ID Number"},
                 //{"data":"range","name":"Range"},
                 //{"data":"departmentName","name":"Department"},                 
                 //{"data":"typeOfEquipment","name":"Scope"},                     
            ]
        });
    };

    @*function GetAllInstrument() {
        $('#dvload').show();

        $.ajax({
            type: 'GET',
            url: '../Instrument/GetAllInstrumentList',
            dataType: 'json',
            success: function (data) {
                if ($.fn.DataTable.isDataTable('#example1')) {
                    $('#example1').DataTable().destroy();
                }
                $('#example1 tbody').empty();
                console.log('instrument data');
                console.log(data);
                if (data.length > 0) {
                    $.each(data, function (i, item) {
                        
                        var date = new Date(item.dueDate);
                        //console.log(item.dueDate);
                        //console.log(date.getMonth());
                        //month = (date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1),
                        //console.log(yr);
                        //console.log(date.getMonth() + 1);
                        month = date.getMonth() + 1;
                        yr = date.getFullYear();
                            
                        if ((item.requestStatus != 28 && item.toolInventoryStatus != 2) || (item.requestStatus != 30 && item.toolInventoryStatus != 2) || (item.requestStatus != 31 && item.toolInventoryStatus != 2)) {

                            var tdRequest = '';
                            var d = new Date($.now());
                            if (item.userRoleId == 1) {
                                //<td style="text-align:center;" class="chkpl" >
                                if (item.dueDate != null) {
                                    if ((d.getMonth() + 1) == month && d.getFullYear() == yr) {
                                        if (item.requestStatus == 30 || item.requestStatus == 31 || item.requestStatus == 28) {
                                            tdRequest = '<td style="text-align:center;"> <td style="text-align:center;" class="chkpl" >' +
                                                '<input id="chkBox" name = "chkBox" class="class1" type = "checkbox" value = ' + item.id + ' />' +
                                                '<input id="typeId" name = "typeId" type = "hidden" value = "2" />' +
                                                '<input id="RequestId" name = "RequestId" class="clsRequestId" type = "hidden" value = ' + item.RequestId + ' />' +
                                                '<input id="DueDate" name = "DueDate" class="clsDueDate" type = "hidden" value = ' + item.DueDate + ' />' +
                                                '<input id="ReplacementStartDate" name = "ReplacementStartDate" class="clsReplacementStartDate" type = "hidden" value = ' + item.ReplacementStartDate + ' />' +
                                                '<input id="ReqDueDate" name = "ReqDueDate" class="clsReqDueDate" type = "hidden" value = ' + item.ReqDueDate + ' />' +
                                                '</td></td>'
                                        }
                                    }
                                    else if ((month < (d.getMonth() + 1) && d.getFullYear() >= yr) && (item.requestStatus == 30 || item.requestStatus == 31 || item.requestStatus == 28)) {

                                        tdRequest = '<td style="text-align:center;"><td style="text-align:center;" class="chkpl" >' +
                                            '<input id="chkBox" name = "chkBox" class="class1" type = "checkbox" value = ' + item.Id + ' />' +
                                            '<input id="typeId" name = "typeId" type = "hidden" value = "2" /> ' +
                                            // to implement only regular cases for Dept User Listing above typeid=3 converted to typeid-->2-07-12-223
                                            '<input id="RequestId" name = "RequestId" class="clsRequestId" type = "hidden" value = ' + item.RequestId + ' />' +
                                            '<input id = "DueDate" name = "DueDate" class="clsDueDate" type = "hidden" value = ' + item.DueDate + ' /> ' +
                                            '<input id="ReplacementStartDate" name = "ReplacementStartDate" class="clsReplacementStartDate" type = "hidden" value = ' + item.ReplacementStartDate + ' />' +
                                            '<input id = "ReqDueDate" name = "ReqDueDate" class="clsReqDueDate" type = "hidden" value = ' + item.ReqDueDate + ' /> ' +
                                            '</td></td>'

                                    }
                                    else if ((month == (d.getMonth() + 1) && d.getFullYear() == yr) && (item.requestStatus == 30 || item.requestStatus == 31 || item.requestStatus == 28)) {

                                        tdRequest = '<td style="text-align:center;"><td style="text-align:center;" class="chkpl" >' +
                                            '<input id="chkBox" name = "chkBox" class="class1" type = "checkbox" value = ' + item.Id + ' />' +
                                            '<input id="typeId" name = "typeId" type = "hidden" value = "2" />' +
                                            '<input id="RequestId" name = "RequestId" class="clsRequestId" type = "hidden" value = ' + item.RequestId + ' />' +
                                            '<input id="DueDate" name = "DueDate" class="clsDueDate" type = "hidden" value = ' + item.DueDate + ' />' +
                                            '<input id="ReplacementStartDate" name = "ReplacementStartDate" class="clsReplacementStartDate" type = "hidden" value = ' + item.ReplacementStartDate + ' />' +
                                            '<input id="ReqDueDate" name = "ReqDueDate" class="clsReqDueDate" type = "hidden" value = ' + item.ReqDueDate + ' />' +
                                            '</td></td>'

                                    }
                                    else if ((month == (d.getMonth() + 1) && d.getFullYear() == yr) && (item.RequestStatus == 30 || item.RequestStatus == 31 || item.RequestStatus == 28)) {

                                        tdRequest = '<td style="text-align:center;"><td style="text-align:center;" class="chkpl" >' +
                                            '<input id="chkBox" name = "chkBox" class="class1" type = "checkbox" value = ' + item.Id + ' />' +
                                            '<input id="typeId" name = "typeId" type = "hidden" value = "3" />' +
                                            '<input id="RequestId" name = "RequestId" class="clsRequestId" type = "hidden" value = ' + item.RequestId + ' />' +
                                            '<input id="DueDate" name = "DueDate" class="clsDueDate" type = "hidden" value = ' + item.DueDate + ' />' +
                                            '<input id="ReplacementStartDate" name = "ReplacementStartDate" class="clsReplacementStartDate" type = "hidden" value = ' + item.ReplacementStartDate + ' />' +
                                            '<input id="ReqDueDate" name = "ReqDueDate" class="clsReqDueDate" type = "hidden" value = ' + item.ReqDueDate + ' />' +
                                            '</td></td>'

                                    }
                                }
                                //</td>
                            }
                            else {
                                tdRequest = "<td></td>"
                            }

                        }

                        var tdQuarantine = '';
                        if (item.userRoleId == 2 || item.userRoleId == 3) {
                            tdQuarantine = '<td><i class="fas fa-arrow-alt-circle-right" style = "cursor:pointer; background-position:center" id=' + item.id + ' onclick = "InstrumentQuarantineClick(this, language)" ></i></td>'
                        }
                        else {
                            tdQuarantine = "<td> </td>"
                        }
                        var calibDate = moment(item.calibDate).format("DD-MM-YYYY");
                        var dueDate = moment(item.dueDate).format("DD-MM-YYYY");

                        var rows = "<tr>"
                            + "<td>" + item.instrumentName + "</td>"
                            + "<td>" + item.slNo + "</td>"
                            + "<td>" + item.idNo + "</td>"
                            + "<td>" + item.range + "</td>"
                            + "<td>" + item.departmentName + "</td>"
                            + "<td>" + item.typeOfEquipment + "</td>"
                            + "<td>" + calibDate + "</td>"
                            + "<td>" + dueDate + "</td>"
                            + "<td style='text-align: center;'><a href='@Url.Action("InstrumentEdit","Instrument")?instrumentId=" + item.id + "'><i class='fas fa-edit'></i></a></td>"
                            + tdRequest
                            + tdQuarantine
                            + "</tr>";
                        $('#example1 tbody').append(rows);
                        $('#dvload').hide();
                    });
                }
                else {
                    $('#dvload').hide();
                }
                $("#example1").DataTable({

                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    "responsive": true,
                    //'columnDefs': [{
                    //    'targets': [9], /* column index */
                    //    'orderable': false, /* true or false */
                    //}],
                    dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                });

            },
            error: function (emp) {
                $('#dvload').hide();
                alert('error');
            }
        });
    }
*@
</script>
