@{
	ViewData["Title"] = "Instrument List";
}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<section class="content">
	<div class="row">
		<div class="col-12">

			<div class="card card-primary">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<h3 class="card-title trn">Instruments List</h3>
						</div>
						<div class="col-md-6 text-right">
							<a href='@Url.Action("Create","Instrument")'><input type="button" class="btn btn-sm btn-default trn" value="Add New Instrument">							
							</a>
							<a href='@Url.Action("QuratineList","Instrument")'>
								<input type="button" class="btn btn-sm btn-default trn" value="Quratine List">
							</a>
						</div>

					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<table id="example1" class="table table-bordered table-striped" style="width:100%">
						<thead>
							<tr>
								<th class="trn">Instrument Name</th>
								<th class="trn">Serial Number</th>
								<th class="trn">Lab ID Number</th>
								<th class="trn">Range</th>
								<th class="trn">Department</th>
								<th class="trn">Calibration Date</th>
								<th class="trn">Due Date</th>
								<th class="trn">Edit</th>
								<!--<th>Delete</th>-->
								@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1")
								{
									<th class="trn">Request</th>
								}
								<th class="trn">Quarantine</th>
							</tr>
						</thead>
						<tbody>

							@*@foreach (var item in Model)
							{
								<tr>
									<td>@item.InstrumentName</td>
									<td>@item.SlNo</td>
									<td>@item.IdNo</td>
									<td>@item.Range</td>
									<td>@item.DepartmentName</td>
									<td>@item.CalibDate.ToString("dd-MM-yyyy")</td>
									<td>@item.DueDate.ToString("dd-MM-yyyy")</td>

									<td><a href='@Url.Action("InstrumentEdit","Instrument",new {instrumentId=@item.Id})'><i class="fas fa-edit"></i></a></td>
									@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "1")
									{
										<td>
											@if (@item.DueDate != null)
											{
												@if (DateTime.Now.Month == @item.DueDate.Month && DateTime.Now.Year == @item.DueDate.Year)
												{
													@if ((@item.RequestStatus != 26 && @item.RequestStatus != 29 && @item.RequestStatus != 27) || @item.RequestStatus == 0)
													{
														<a href='@Url.Action("Request","Instrument",new {instumentId=@item.Id,typeId=2})'><i class="fas fa-arrow-alt-circle-right"></i></a>
													}

												}
												else if (@item.DueDate.Month < DateTime.Now.Month && DateTime.Now.Year >= @item.DueDate.Year)
												{
													@if ((@item.RequestStatus != 26 && @item.RequestStatus != 29 && @item.RequestStatus != 27) || @item.RequestStatus == 0)
													{
														<a href='@Url.Action("Request","Instrument",new {instumentId=@item.Id,typeId=3})'><i class="fas fa-arrow-alt-circle-right"></i></a>
													}

												}
											}
										</td>
									}
									@if (@HttpContextAccessor.HttpContext.Session.GetString("UserRoleId") == "2")
									{
										<td><i class="fas fa-arrow-alt-circle-right" style="cursor:pointer;" id='@item.Id' onclick="InstrumentQuarantineClick(this, language)"></i></td>
									}
									else
									{
										<td></td>
									}
								</tr>
							}*@
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>

<script>
	setTimeout(function () {

		
		//Conversion();		
		GetAllInstrument();
	}, 500);

	
</script>

<script>
	//$(document).ready(function () {
	//	//GetAllInstrument();
	//});
	function GetAllInstrument(){
		$('#dvload').show();
		
		$.ajax({
		type: 'GET',
			url: '../Instrument/GetAllInstrumentList',
			dataType: 'json',
			success: function (data) {
				$('#example1 tbody').empty();
				console.log(data);
				$.each(data, function (i, item) {
					//console.log(item.dueDate);
					var tdRequest = '';
					var d = new Date($.now());
					if (item.userRoleId == 1) {
						if (item.dueDate != null) {
							if ((d.getMonth() + 1) == item.dueDate.Month && d.getFullYear() == item.dueDate.Year) {
								if ((item.requestStatus != 26 && item.requestStatus != 29 && item.requestStatus != 27) || item.requestStatus == 0) {
									tdRequest = "<td style='text - align: center;'> <a href = '@Url.Action("Request","Instrument")?instrumentId=" + item.id + "&typeId=2' > <i class='fas fa-arrow-alt-circle-right' > </i></a > </td>"
									//< a href = 'Url.Action("Request","Instrument",new {instumentId=item.Id,typeId=2})' > <i class="fas fa-arrow-alt-circle-right" > </i></a > </td>"
								}

							}
							else if (item.dueDate.Month < (d.getMonth() + 1) && d.getFullYear() >= item.dueDate.Year) {
								if ((item.requestStatus != 26 && item.requestStatus != 29 && item.requestStatus != 27) || item.requestStatus == 0) {
									tdRequest = "<td style='text - align: center;'> <a href = '@Url.Action("Request","Instrument")?instrumentId=" + item.id + "&typeId=3' > <i class='fas fa-arrow-alt-circle-right' > </i></a > </td>"
									//<a href='Url.Action("Request","Instrument",new {instumentId=item.Id,typeId=3})' > <i class="fas fa-arrow-alt-circle-right" > </i></a > </td>"
								}

							}
							else {
								tdRequest = "<td> </td>"
							}
						}
						else {
							tdRequest = "<td> </td>"
						}

					}


					var tdQuarantine = '';
					if (item.userRoleId == 2) {
						tdQuarantine = '<td><i class="fas fa-arrow-alt-circle-right" style = "cursor:pointer; background-position:center" id='+item.id+' onclick = "InstrumentQuarantineClick(this, language)" ></i></td>'
					}
					else {
						tdQuarantine = "<td> </td>"
					}
					
					var calibDate = moment(item.calibDate).format("DD-MM-YYYY");
					var dueDate = moment(item.dueDate).format("DD-MM-YYYY");

						var rows = "<tr>"
							+ "<td>" + item.instrumentName + "</td>"
							+ "<td>" + item.slNo + "</td>"
							+ "<td>" + item.idNo + "</td>"
							+ "<td>" + item.range + "</td>"
							+ "<td>" + item.departmentName + "</td>"
							+ "<td>" + calibDate + "</td>"
							+ "<td>" + dueDate + "</td>"
							+ "<td style='text-align: center;'><a href='@Url.Action("InstrumentEdit","Instrument")?instrumentId=" + item.id + "'><i class='fas fa-edit'></i></a></td>"
							+ tdRequest
							+ tdQuarantine
							+ "</tr>";
						$('#example1 tbody').append(rows);
					$('#dvload').hide();
				});

				$("#example1").DataTable({
					"paging": true,
					"lengthChange": true,
					"searching": true,
					"ordering": true,
					"info": true,
					"autoWidth": true,
					"responsive": true,
				});
				
				//$('.overlay').hide();
			},
			error: function (emp) {
				$('#dvload').hide();
			alert('error');
			}
		});
	}
	
</script>