@{
    ViewData["Title"] = "Instrument Quarantine List";
}
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                       <div class="col-md-6">
                            <h3 class="card-title trn">Quaratine Instruments List</h3>
                    </div>
                    <div class="col-md-6 text-right">
<a href='@Url.Action("Index","Instrument")'><input type="button" class="btn btn-sm btn-default trn" value="Instrument List" ></a>

                    </div>

                       </div>
                    </div>  
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                   
                                    <th class="trn">Instrument Name</th>
                                    <th class="trn">Instrument SNo</th>
                                    <th class="trn">Instrument ID No</th>
                                    <th class="trn">Range</th>
                                    <th class="trn">Lc</th>
                                    <th class="trn">Department</th>
                                    <th class="trn">Calibration Freq</th>
                                    <th class="trn">Calibration Date</th>
                                    <th class="trn">Due Date</th>
                                    <th class="trn">Quarantine On</th>
                                    <th class="trn">Quarantine Reason</th>
                                    <th class="trn">Activate</th>   
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.InstrumentName</td>
                                        <td>@item.SlNo</td>
                                        <td>@item.IdNo</td>
                                        <td>@item.Range</td>
                                        <td>@item.LC</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.CalibFreq</td>
                                        <td>@item.CalibDate.ToString("dd-MM-yyyy")</td>
                                        <td>@item.DueDate.ToString("dd-MM-yyyy")</td>
                                        <td>@item.QuaraantineOn.ToString("dd-MM-yyyy")</td>
                                        <td>@item.QuarantineReason</td>

                                    <td><i class="fas fa-arrow-alt-circle-right" style="cursor:pointer;" id='@item.Id' onclick="InstrumentUnQuarantineClick(this, language)"></i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
<script>
     setTimeout(function(){ 

      $("#example1").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
        Conversion();
     }, 500);
    </script>