@* @{
	ViewData["Title"] = "Replacement Due List Details";
} *@
 
<section class="content">
	<div class="row">
		<div class="col-12">

			<div class="card card-primary">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<h3 class="card-title trn">Replacment Due Instruments</h3>
						</div>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<table id="tblToolDept" class="table table-bordered table-striped" style="width:100%">
						<thead>
							<tr>
								<th class="trn">Department</th>
								<th class="trn">Number Of Equipments</th>
								<th class="trn">DueDate</th>
								<th class="trn">Status</th>
							</tr>
						</thead>
						<tbody>
							
						

							@foreach (var item in Model)
							{
								<tr>
								<td>
								@item.DepartmentName
								</td>
								<td>
								<a href='@Url.Action("ToolInventory","Instrument", new {UserDept= @item.UserDept})'> 
								@item.InstrumentCount
								</a>
										<input type="hidden" id="UserDept" value="@item.UserDept">
								</td>
								<td>
								@item.DueDate.ToString("dd-MM-yyyy")
								</td>
								@if (@item.InstrumentCount > @item.ToolRoomStatus)
								{
								<td>
								Pending
								</td>
								}
								@if (@item.InstrumentCount == @item.ToolRoomStatus)
								{
								<td>
								Completed
								</td>
								}
							
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
	
	$(function () {
		$('#tblToolDept').dataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": true,
			"responsive": true,
			dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
				"<'row'<'col-sm-12'tr>>" +
				"<'row'<'col-sm-5'i><'col-sm-7'p>>",
		});
	});
</script>