@{
	ViewData["Title"] = "Tool Inventory List";
}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<script src="~/js/3.3.1Version/jquery.min.js"></script>
<style>
	table,
	th,
	tr,
	td {
		border: 1px solid black;
		border-collapse: collapse;
		text-align: left;
	}

	.Border0px {
		width: 100%;
	}

	.TableWidth {
		width: 100%;
	}

	.Tables-AndTablesTextBox {
		width: 100%;
	}

</style>
<form id="#frmInventory">
	<section class="content">
		<div class="row">
			<div class="col-12">

				<div class="card card-primary">
					<div class="card-header"> 
						<div class="row">
							<div class="col-md-6">
								<h3 class="card-title trn">Tool Room Instruments</h3>
							</div>
						</div>
					
					</div>
					<!-- /.card-header -->
					<div id="ToolMaster" class="card-body">
						<table id="tblTool" class="table table-bordered table-striped" style="width:100%">
							<thead>
								<tr>
									<th class="trn">Instrument Name</th>
									<th class="trn">Serial Number</th>
									<th class="trn">Lab ID Number</th>
									<th class="trn">Range</th>
									<th class="trn">Department</th>
									<th class="trn">SubSectionCode</th>
									<th class="trn">DueDate</th>
									<th class="trn">Replacement-LabID</th>
									<th class="trn" style="text-align:left;" data-orderable="false">
										<span>Select All</span>
										<br />
										<input type="checkbox" id="selectAll" value="selectAll" />
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>

										<td id="InstrumentName">

											@item.InstrumentName
											
										</td>
										<td id="SlNo">@item.SlNo</td>
										<td>@item.IdNo</td>
										<td>@item.Range</td>
										<td>@item.DepartmentName</td>
										<td>
											@item.SubSectionCode
										</td>
										<td>@item.DueDate.ToString("dd-MM-yyyy")</td>
										@if (@item.ToolRoomStatus == 1)
										{

											<td id="ReplacementLabID_@item.Id" class="LabIDCell" href="#">

												@item.ReplacementLabID
											</td>
											
											<td id="ChkInput" style="text-align:left;">
												<input id="ChkInput_@item.Id" name="ChkInput" type="checkbox" value="0" disabled />
												<input type="hidden" id="popupcount_@item.Id" name="popupcount" value="">
												<input type="hidden" class="clsLabId" id="HiddenLabID_@item.Id" name="HiddenLabID_@item.Id" value="@item.ReplacementLabID">
												<input type="hidden" id="instrumentid" value="@item.Id">
												<input type="hidden" class="clsDueDate" id="DueDate" value="@item.DueDate">
												<input type="hidden" class="clsCalibFreq" id=" CalibFreq" value="@item.CalibFreq">
												<input type="hidden" class="clsUserDept" id="UserDept" name="UserDept" value="@item.UserDept">
												<input type="hidden" class="clsRequestId" id="HiddenRequestId_@item.Id" name"="HiddenRequestId_@item.Id">
												<input type="hidden" class="clsIdno" id="HiddenIdno" name"="HiddenIdno" value="@item.IdNo">
											</td>
										}
										else
										{
											<td id="ReplacementLabID_@item.Id" class="LabIDCell"  onclick="PopUpListing1('@item.InstrumentName','@item.Id');" href="#">

												<input type="hidden" id="popupcount_@item.Id" name="popupcount" value="">

											</td>
											<td id="ChkInput" style="text-align:left;">
												<input type="hidden" id="instrumentid" name="instrumentid" value="@item.Id">
												<input id="ChkInput_@item.Id" name="ChkInput" type="checkbox" />
												<input type="hidden" class="clsLabId" id="HiddenLabID_@item.Id" name="HiddenLabID_@item.Id" value="">
												<input type="hidden" class="clsDueDate" id="DueDate" value="@item.DueDate">
												<input type="hidden" class="clsCalibFreq" id=" CalibFreq" value="@item.CalibFreq">
												<input type="hidden" class="clsUserDept" id=" UserDept" name="UserDept" value="@item.UserDept">
												<input type="hidden" class="clsRequestId" id="HiddenRequestId_@item.Id" name"="HiddenRequestId_@item.Id">
												<input type="hidden" class="clsIdno" id="HiddenIdno" name"="HiddenIdno" value="@item.IdNo">
											</td>

										}
									</tr>
								}

							</tbody>
						</table>
					</div>
					<div id="ToolHistoryDetails" class="modal fade" role="dialog">
						<div class="modal-dialog modal-lg">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">

									<h4 class="modal-title trn">Tool Room Instruments</h4>
									<button type="button" class="close" data-dismiss="modal" onclick="HidePopUp();">&times;</button>
								</div>
								<div class="modal-body">
									<div class="card-body">
										<table id="tblPopUp" class="table table-bordered table-striped" style="width:100%">
											<thead>
												<tr>
													<th class="trn">Name</th>
													<th class="trn">Lab ID Number</th>
													@* <th class="trn">Department</th>
													<th class="trn">Due Date</th> *@
												</tr>
											</thead>
											<tbody id="tbodypopup">
											</tbody>
										</table>
									</div>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default trn" data-dismiss="modal" onclick="HidePopUp();">Close</button>
								</div>
							</div>

						</div>
					</div>

				</div>
				<div class="form-group" style="text-align:right;">
					<input style="margin-top: 32px;" type="button" class="btn btn-primary trn" name="btnSubmit" id="btnSubmit" value="Submit"
						   onclick="SaveInventoryCalibration(@ViewBag.DueMonth,lang);">
					<a href='@Url.Action("ToolRoomDepartment","Instrument",new {DueMonth = 0})' )'> <input type="button" style="margin-top: 32px;" class="btn btn-default trn" value="Cancel"></a>
				</div>


				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
</form>
<script>

	$(function () {
		$("#tblTool").DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": true,
			"responsive": true,
			dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
				"<'row'<'col-sm-12'tr>>" +
				"<'row'<'col-sm-5'i><'col-sm-7'p>>",
		});
	});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


 <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
 
 <script>

	$(function () {
		//For Select All CheckBox Functionality
		$('#selectAll').click(function (e) {

			var table = $(e.target).closest('table');
			if (this.checked) {

				$('td input:checkbox', table).prop('checked', true);

			}
			else {
				$('td input:checkbox', table).prop('checked', false);
			}

		});


	});

	function showPopUp() {

		$("#ToolHistoryDetails").modal('show');
	}
	function HidePopUp() {

		$("#ToolHistoryDetails").modal('hide');

	}
	function PopUpListing1(InstrumentName, Id) {
		if ($.fn.dataTable.isDataTable('#tblPopUp')) {
			$('#tblPopUp').DataTable().clear().destroy();
		}
		console.log(InstrumentName);
		console.log(Id);
		var table;
		var rows = "";
		//var SetData = $("#tbodypopup").empty(); 
		var MasterLabID = Id;
		$.ajax({
			type: 'GET',
			url: '../Instrument/PopUpInstrumentList',
			data: { InstrumentName: InstrumentName, InstrumentId: Id },
			dataType: 'json',
			success: function (data) {
				console.log("popup data");
				console.log(data);
				$("#ToolHistoryDetails").modal('show');
				$('#tblPopUp tbody').empty();				
				$.each(data, function (i, item) {
					var count = 0;
					
					$('#tblTool tr').each(function () {
						
						var ReplacementLabID = $(this).find(".LabIDCell").text().trim();

						if (ReplacementLabID == item.idNo) {
							count = 1;
							}
					});
					
					if (count == 0) {
						var date = new Date($.now());

						var dueDate = moment(item.dueDate).format("DD-MM-YYYY");
						var LabId = encodeURI(item.idNo);
						rows = "<tr>"
							+ "<td>"
							+ "<a href = '#' onclick='MasterToolListing(\"" + encodeURI(item.idNo) + "\"," + MasterLabID + "," + item.requestId + ");'>" + item.instrumentName
							+ "</a>"
							+ "</td>"
							+ "<td>" + item.idNo + "</td>"
							// + "<td>" + item.departmentName + "</td>"
							// + "<td>" + dueDate + "</td>"
							+ "</tr>"
						$('#tblPopUp tbody').append(rows);
						
						$('#dvload').hide();
						
					}
					
				});
				
				$("#tblPopUp").DataTable({
					"paging": true,
					"lengthChange": true,
					"searching": true,
					"ordering": true,
					"info": true,
					"autoWidth": true,
					"responsive": true,
				
				});

				var currentRow = $(this).closest("tr");
				$("#popupcount_" + MasterLabID).val($('#tblPopUp >tbody >tr').length);

				if ($('#tblPopUp >tbody >tr').length == 0) {

					var ChkoutId = "ChkInput_" + MasterLabID;
					$("#" + ChkoutId).attr("disabled", true);

				}

				$('.overlay').hide();

			},
			error: function (emp) {
				$('#dvload').hide();

			}
		});
		HidePopUp();
	}

	function MasterToolListing(ReplacementidNo, MasterLabID, RequestId) {
		//alert(RequestId);
		var RLabId = decodeURI(ReplacementidNo);
		var id = "ReplacementLabID_" + MasterLabID;
		var ChkId = "ChkInput_" + MasterLabID;
		var HiddenLabID = "HiddenLabID_" + MasterLabID;
		var RequestingId = "HiddenRequestId_" + MasterLabID;
		//alert(id);
		$("#" + id).text(RLabId);
		$("#" + id).val(RLabId);
		$("#" + HiddenLabID).val(RLabId);
		$("#" + ChkId).prop("checked", true);
		$("#" + RequestingId).val(RequestId);
		//alert($("#" + RequestingId).val(RequestId));
		HidePopUp();
	}
</script>